<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="loadDataTrigger" />
				<!-- <ref bean="dairyTrigger" />
				<ref bean="reminderTrigger" />
				<ref bean="clearTrigger" />
				<ref bean="wxbModuleMsgTrigger" /> -->
			</list>
		</property>
	</bean>
	<!-- 定时扫描数据库推送微信模板消息-->
	<!-- 清理数据 -->
	<bean id="wxbModuleMsgDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass">
			<value>com.marks.module.inner.wx.modulemsg.job.WxbModuleMsgHelper</value>
		</property>
		<property name="durability" value="true" />
		<property name="requestsRecovery" value="true" />
	</bean>
	<bean id="wxbModuleMsgTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="wxbModuleMsgDetail" />
		<!-- 每15秒触发 -->
		<property name="cronExpression" value="14/15 * * * * ?" />
	</bean>
	<!-- 清理数据 -->
	<bean id="clearDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass">
			<value>com.marks.module.sys.system.core.helper.ClearHelper</value>
		</property>
		<property name="durability" value="true" />
		<property name="requestsRecovery" value="true" />
	</bean>
	<bean id="clearTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="clearDetail" />
		<!-- 每22分钟触发 -->
		<property name="cronExpression" value="0 0 1 * * ?" />
	</bean>
	<!-- 日记提醒 -->
	<bean id="dairyDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass">
			<value>com.marks.module.inner.note.diary.job.DairyHelper</value>
		</property>
		<property name="durability" value="true" />
		<property name="requestsRecovery" value="true" />
	</bean>
	<bean id="dairyTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="dairyDetail" />
		<!-- 每22分钟触发 -->
		<property name="cronExpression" value="0 33 21 * * ?" />
	</bean>
	
	<!-- 事务提醒 -->
	<bean id="reminderDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass">
			<value>com.marks.module.inner.note.reminder.job.ReminderHelper</value>
		</property>
		<property name="durability" value="true" />
		<property name="requestsRecovery" value="true" />
	</bean>
	<bean id="reminderTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="reminderDetail" />
		<!-- 每22分钟触发 -->
		<property name="cronExpression" value="0 0 22 * * ?" />
	</bean>

	<bean id="loadDataDetail"
		class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass">
			<value>com.marks.module.sys.system.core.helper.LoadDataHelper</value>
		</property>
		<property name="durability" value="true" />
		<property name="requestsRecovery" value="true" />
	</bean>
	<bean id="loadDataTrigger"
		class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="loadDataDetail" />
		<!-- 每22分钟触发 -->
		<property name="cronExpression" value="0 0 0/1 * * ?" />
	</bean>

</beans>





 