<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.mall.base.dao.CategoryDao">

    <select id="findById" resultType="com.marks.module.mall.base.pojo.Category">
		SELECT * FROM TB_MALL_CATEGORY t where t.CID = #{cId}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.mall.base.pojo.Category">
		<!--<selectKey keyProperty="cId" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>-->

 		INSERT INTO TB_MALL_CATEGORY  (
            CID,
            CNAME,
            CREATETIME,
            PID,
            PNAME,
            UPDATETIME,
            PICURL,
            COMPANYID,
            LVL1ID,
            LVL1NAME,
            LVL2ID,
            LVL2NAME,
            LVL3ID,
            LVL3NAME,
            LVL4ID,
            LVL4NAME,
            LVL5ID,
            LVL5NAME,
            LVL,
            STATUS
		)
		VALUES(
		#{info.cId:VARCHAR},
            #{info.cName:VARCHAR},
            sysdate,
            #{info.pId:VARCHAR},
            #{info.pName:VARCHAR},
            sysdate,
            #{info.picUrl:VARCHAR},
            #{info.companyId:VARCHAR},
            #{info.lvl1Id:VARCHAR},
            #{info.lvl1Name:VARCHAR},
            #{info.lvl2Id:VARCHAR},
            #{info.lvl2Name:VARCHAR},
            #{info.lvl3Id:VARCHAR},
            #{info.lvl3Name:VARCHAR},
            #{info.lvl4Id:VARCHAR},
            #{info.lvl4Name:VARCHAR},
            #{info.lvl5Id:VARCHAR},
            #{info.lvl5Name:VARCHAR},
            #{info.lvl:NUMERIC},
            #{info.status:NUMERIC}			
			)
 	</insert>
 	
 	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO TB_MALL_CATEGORY (
			            CID,
            CNAME,
            CREATETIME,
            PID,
            PNAME,
            UPDATETIME,
            PICURL,
            COMPANYID,
            LVL1ID,
            LVL1NAME,
            LVL2ID,
            LVL2NAME,
            LVL3ID,
            LVL3NAME,
            LVL4ID,
            LVL4NAME,
            LVL5ID,
            LVL5NAME,
            LVL,
            STATUS
		)
		VALUES
		<foreach collection="list" item="info" index="index"
			separator=",">
			(
				#{info.cId:VARCHAR},
            #{info.cName:VARCHAR},
            sysdate,
            #{info.pId:VARCHAR},
            #{info.pName:VARCHAR},
            sysdate,
            #{info.picUrl:VARCHAR},
            #{info.companyId:VARCHAR},
            #{info.lvl1Id:VARCHAR},
            #{info.lvl1Name:VARCHAR},
            #{info.lvl2Id:VARCHAR},
            #{info.lvl2Name:VARCHAR},
            #{info.lvl3Id:VARCHAR},
            #{info.lvl3Name:VARCHAR},
            #{info.lvl4Id:VARCHAR},
            #{info.lvl4Name:VARCHAR},
            #{info.lvl5Id:VARCHAR},
            #{info.lvl5Name:VARCHAR},
            #{info.lvl:NUMERIC},
            #{info.status:NUMERIC}			
			)
		</foreach>
	</insert>
 	
 	
 	<update id="update" parameterType="com.marks.module.mall.base.pojo.Category">
 		UPDATE TB_MALL_CATEGORY 
		SET 
CNAME = #{info.cName:VARCHAR},
            PID = #{info.pId:VARCHAR},
            PNAME = #{info.pName:VARCHAR},
            UPDATETIME = sysdate,
            PICURL = #{info.picUrl:VARCHAR},
            COMPANYID = #{info.companyId:VARCHAR},
            LVL1ID = #{info.lvl1Id:VARCHAR},
            LVL1NAME = #{info.lvl1Name:VARCHAR},
            LVL2ID = #{info.lvl2Id:VARCHAR},
            LVL2NAME = #{info.lvl2Name:VARCHAR},
            LVL3ID = #{info.lvl3Id:VARCHAR},
            LVL3NAME = #{info.lvl3Name:VARCHAR},
            LVL4ID = #{info.lvl4Id:VARCHAR},
            LVL4NAME = #{info.lvl4Name:VARCHAR},
            LVL5ID = #{info.lvl5Id:VARCHAR},
            LVL5NAME = #{info.lvl5Name:VARCHAR},
            LVL = #{info.lvl:NUMERIC},
            STATUS = #{info.status:NUMERIC}
		WHERE
			CID = #{info.cId}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_MALL_CATEGORY t WHERE t.CID=#{cId}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.mall.base.pojo.Category">
 		SELECT * FROM TB_MALL_CATEGORY t
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_MALL_CATEGORY WHERE CID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.mall.base.pojo.Category" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_MALL_CATEGORY t
						WHERE 1=1
                        <if test="keyword!=null and keyword!=''">
 and ( 2=1                             or t.CNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.LVL1NAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.LVL2NAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.LVL3NAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.LVL4NAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.LVL5NAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
 )                        </if>

					
			    order by  t.UPDATETIME DESC				
 	</select>
 	
 	
 	
</mapper>