<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.mall.base.dao.GoodTagDao">

    <select id="findById" resultType="com.marks.module.mall.base.pojo.GoodTag">
		SELECT * FROM TB_MALL_GOOD_TAG t where t.TAGID = #{tagId}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.mall.base.pojo.GoodTag">
		<!--<selectKey keyProperty="tagId" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>-->

 		INSERT INTO TB_MALL_GOOD_TAG  (
            TAGID,
            TAGNAME,
            PICURL,
            TYPEID,
            TYPENAME,
            CREATETIME,
            UPDATETIME,
            LOGO,
            CREATOR,
            COMPANYID,
            STATUS,
            TAGTYPE
		)
		VALUES(
		#{info.tagId:VARCHAR},
            #{info.tagName:VARCHAR},
            #{info.picUrl:VARCHAR},
            #{info.typeId:VARCHAR},
            #{info.typeName:VARCHAR},
            sysdate,
            sysdate,
            #{info.logo:VARCHAR},
            #{info.creator:VARCHAR},
            #{info.companyId:VARCHAR},
            #{info.status:NUMERIC},
            #{info.tagType:NUMERIC}			
			)
 	</insert>
 	
 	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO TB_MALL_GOOD_TAG (
			            TAGID,
            TAGNAME,
            PICURL,
            TYPEID,
            TYPENAME,
            CREATETIME,
            UPDATETIME,
            LOGO,
            CREATOR,
            COMPANYID,
            STATUS,
            TAGTYPE
		)
		VALUES
		<foreach collection="list" item="info" index="index"
			separator=",">
			(
				#{info.tagId:VARCHAR},
            #{info.tagName:VARCHAR},
            #{info.picUrl:VARCHAR},
            #{info.typeId:VARCHAR},
            #{info.typeName:VARCHAR},
            sysdate,
            sysdate,
            #{info.logo:VARCHAR},
            #{info.creator:VARCHAR},
            #{info.companyId:VARCHAR},
            #{info.status:NUMERIC},
            #{info.tagType:NUMERIC}			
			)
		</foreach>
	</insert>
 	
 	
 	<update id="update" parameterType="com.marks.module.mall.base.pojo.GoodTag">
 		UPDATE TB_MALL_GOOD_TAG 
		SET 
			TAGNAME = #{info.tagName:VARCHAR},
            PICURL = #{info.picUrl:VARCHAR},
            TYPEID = #{info.typeId:VARCHAR},
            TYPENAME = #{info.typeName:VARCHAR},
            UPDATETIME = sysdate,
            LOGO = #{info.logo:VARCHAR},
            CREATOR = #{info.creator:VARCHAR},
            COMPANYID = #{info.companyId:VARCHAR},
            STATUS = #{info.status:NUMERIC},
            TAGTYPE = #{info.tagType:NUMERIC}
		WHERE
			TAGID = #{info.tagId}
 	</update>
 	<update id="updateBatch" parameterType="List">

		<foreach collection="list" item="info" index="index"
			separator=";">
			UPDATE TB_MALL_GOOD_TAG 
		SET 
			TAGNAME = #{info.tagName:VARCHAR},
            PICURL = #{info.picUrl:VARCHAR},
            TYPEID = #{info.typeId:VARCHAR},
            TYPENAME = #{info.typeName:VARCHAR},
            UPDATETIME = sysdate,
            LOGO = #{info.logo:VARCHAR},
            CREATOR = #{info.creator:VARCHAR},
            COMPANYID = #{info.companyId:VARCHAR},
            STATUS = #{info.status:NUMERIC},
            TAGTYPE = #{info.tagType:NUMERIC}
		WHERE
			TAGID = #{info.tagId}
		</foreach>

	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_MALL_GOOD_TAG t WHERE t.TAGID=#{tagId}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.mall.base.pojo.GoodTag">
 		SELECT * FROM TB_MALL_GOOD_TAG t
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_MALL_GOOD_TAG WHERE TAGID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.mall.base.pojo.GoodTag" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_MALL_GOOD_TAG t
						WHERE 1=1
                        <if test="keyword!=null and keyword!=''">
 and ( 2=1                             or t.TAGID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.TAGNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.TYPEID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.TYPENAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
 )                        </if>

					
			    order by  t.UPDATETIME DESC				
 	</select>
 	
 	
 	
</mapper>