<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.org.area.dao.AreaDao">

    <select id="findById" resultType="com.marks.module.org.area.pojo.Area">
		SELECT * FROM TB_ORG_AREA area where area.AREAID = #{areaId}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.org.area.pojo.Area">
		<selectKey keyProperty="areaId" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>

 		INSERT INTO TB_ORG_AREA  (
            AREAID,
            AREANAME,
            COMPANYID,
            LVL,
            CREATETIME,
            UPDATETIME,
            PARENTID,
            PARENTNAME,
            LVL1ID,
            LVL1NAME,
            LVL2ID,
            LVL2NAME,
            LVL3ID,
            LVL3NAME,
            LVL4ID,
            LVL4NAME,
            LVL5ID,
            LVL5NAME
		)
		VALUES(
#{areaId:VARCHAR},
            #{areaName:VARCHAR},
            #{companyId:VARCHAR},
            #{lvl:NUMERIC},
            sysdate,
            sysdate,
            #{parentId:VARCHAR},
            #{parentName:VARCHAR},
            #{lvl1Id:VARCHAR},
            #{lvl1Name:VARCHAR},
            #{lvl2Id:VARCHAR},
            #{lvl2Name:VARCHAR},
            #{lvl3Id:VARCHAR},
            #{lvl3Name:VARCHAR},
            #{lvl4Id:VARCHAR},
            #{lvl4Name:VARCHAR},
            #{lvl5Id:VARCHAR},
            #{lvl5Name:VARCHAR}			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.marks.module.org.area.pojo.Area">
 		UPDATE TB_ORG_AREA 
		SET 
AREANAME = #{areaName:VARCHAR},
            COMPANYID = #{companyId:VARCHAR},
            LVL = #{lvl:NUMERIC},
            UPDATETIME = sysdate,
            PARENTID = #{parentId:VARCHAR},
            PARENTNAME = #{parentName:VARCHAR},
            LVL1ID = #{lvl1Id:VARCHAR},
            LVL1NAME = #{lvl1Name:VARCHAR},
            LVL2ID = #{lvl2Id:VARCHAR},
            LVL2NAME = #{lvl2Name:VARCHAR},
            LVL3ID = #{lvl3Id:VARCHAR},
            LVL3NAME = #{lvl3Name:VARCHAR},
            LVL4ID = #{lvl4Id:VARCHAR},
            LVL4NAME = #{lvl4Name:VARCHAR},
            LVL5ID = #{lvl5Id:VARCHAR},
            LVL5NAME = #{lvl5Name:VARCHAR}
		WHERE
			AREAID = #{areaId}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_ORG_AREA area WHERE area.AREAID=#{areaId}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.org.area.pojo.Area">
 		SELECT * FROM TB_ORG_AREA
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_ORG_AREA WHERE AREAID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.org.area.pojo.Area" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_ORG_AREA area
						WHERE 1=1
                        <if test="keyword!=null and keyword!=''">
 and ( 2=1                             or area.AREAID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.AREANAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.COMPANYID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.LVL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or to_char(area.CREATETIME,'yyyyMMdd') LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or to_char(area.UPDATETIME,'yyyyMMdd') LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.PARENTID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.PARENTNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.LVL1ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.LVL1NAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.LVL2ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.LVL2NAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.LVL3ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.LVL3NAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.LVL4ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.LVL4NAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.LVL5ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or area.LVL5NAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
 )                        </if>

					
			    order by  area.UPDATETIME DESC				
 	</select>
 	
 	
 	
</mapper>