<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.cell.diary.dao.DiaryDao">

    <select id="findById" resultType="com.cjmei.module.cell.diary.pojo.Diary">
		SELECT * FROM TB_DIARY where ID = #{ID}
 	</select>
 	
 	<insert id="save" parameterType="com.cjmei.module.cell.diary.pojo.Diary">
		<selectKey keyProperty="ID" resultType="String" order="BEFORE">select replace(uuid(),'-','')</selectKey>

 		INSERT INTO TB_DIARY (
            ID,
            UPDATETIME,
            CONTENT,
            CREATOR,
            TIME,
            TITLE,
            CREATETIME
		)
		VALUES(
            #{ID:VARCHAR},
            #{updatetime:TIMESTAMP},
            #{content:VARCHAR},
            #{creator:VARCHAR},
            #{time:TIMESTAMP},
            #{title:VARCHAR},
            #{createtime:TIMESTAMP}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.cjmei.module.cell.diary.pojo.Diary">
 		UPDATE TB_DIARY 
		SET 
                UPDATETIME = #{updatetime:TIMESTAMP},
                CONTENT = #{content:VARCHAR},
                CREATOR = #{creator:VARCHAR},
                TIME = #{time:TIMESTAMP},
                TITLE = #{title:VARCHAR},
                CREATETIME = #{createtime:TIMESTAMP}
		WHERE
			ID = #{ID}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_DIARY WHERE ID=#{ID}
 	</delete>
 	
 	<select id="findAll" resultType="com.cjmei.module.cell.diary.pojo.Diary">
 		SELECT * FROM TB_DIARY
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_DIARY WHERE ID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.cjmei.module.cell.diary.pojo.Diary" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_DIARY 
						WHERE 1=1
                        <if test="diary.ID!=null and diary.ID!=''">
                            and ID LIKE CONCAT(CONCAT('%',#{diary.ID:VARCHAR}),'%')
                        </if>
                        <if test="diary.updatetime!=null and diary.updatetime!=''">
                            and UPDATETIME LIKE CONCAT(CONCAT('%',#{diary.updatetime:TIMESTAMP}),'%')
                        </if>
                        <if test="diary.content!=null and diary.content!=''">
                            and CONTENT LIKE CONCAT(CONCAT('%',#{diary.content:VARCHAR}),'%')
                        </if>
                        <if test="diary.creator!=null and diary.creator!=''">
                            and CREATOR LIKE CONCAT(CONCAT('%',#{diary.creator:VARCHAR}),'%')
                        </if>
                        <if test="diary.time!=null and diary.time!=''">
                            and TIME LIKE CONCAT(CONCAT('%',#{diary.time:TIMESTAMP}),'%')
                        </if>
                        <if test="diary.title!=null and diary.title!=''">
                            and TITLE LIKE CONCAT(CONCAT('%',#{diary.title:VARCHAR}),'%')
                        </if>
                        <if test="diary.createtime!=null and diary.createtime!=''">
                            and CREATETIME LIKE CONCAT(CONCAT('%',#{diary.createtime:TIMESTAMP}),'%')
                        </if>

						
					
 	</select>
 	
 	
 	
</mapper>