<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.smart.wx.manage.mp.dao.WxChatMsgDao">

	<select id="findById" resultType="com.marks.smart.wx.manage.mp.entity.WxChatMsg">
		SELECT * FROM TB_WX_CHAT_MSG
		wxchatmsg where wxchatmsg.ID = #{id}
	</select>

	<insert id="save" parameterType="com.marks.smart.wx.manage.mp.entity.WxChatMsg">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select replace(uuid(),'-','')</selectKey>

		INSERT INTO TB_WX_CHAT_MSG  (
		ID,
		C_TYPE,
		USERID,
		C_CONTENT,
		CREATETIME,
		C_REPLAYTYPE,
		SESSION_ID,
		OPENID,
		ACCOUNTID,
		companyId
		)
		VALUES(
		#{id:VARCHAR},
		#{c_type:NUMERIC},
		#{userid:VARCHAR},
		#{c_content:VARCHAR},
		now(),
		#{c_replayType:VARCHAR},
		#{session_id:VARCHAR},
		#{openid:VARCHAR},
		#{accountid:VARCHAR},
		#{companyId:VARCHAR}

		)
	</insert>

	<update id="update" parameterType="com.marks.smart.wx.manage.mp.entity.WxChatMsg">
		UPDATE TB_WX_CHAT_MSG
		SET
		IS_REPLAY =
		#{is_replay:NUMERIC}
		WHERE
		ID = #{id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_WX_CHAT_MSG
		WHERE ID=#{id}
	</delete>

	<select id="findAll" resultType="com.marks.smart.wx.manage.mp.entity.WxChatMsg">
		SELECT * FROM TB_WX_CHAT_MSG
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_WX_CHAT_MSG WHERE ID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.smart.wx.manage.mp.entity.WxChatMsg"
		parameterType="java.util.Map">
		SELECT wxchatmsg.*, wxuser.nickname username
		FROM TB_WX_CHAT_MSG
		wxchatmsg
		left join tb_wx_user wxuser on (wxchatmsg.openid =
		wxuser.openid and
		wxchatmsg.accountid = wxuser.accountid)
		WHERE 1=1 and
		wxchatmsg.C_TYPE=0
		<if test="keyword!=null and keyword!=''">
			and (
			or wxchatmsg.C_CONTENT LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			
			)
		</if>

		order by wxchatmsg.CREATETIME desc

	</select>

	<select id="getReplayList" resultType="com.marks.smart.wx.manage.mp.entity.WxChatMsg"
		parameterType="java.util.Map">
		SELECT IFNULL(suser.username, wxuser.nickname) username, wxchatmsg.*
    		FROM (select * from (
           		select wxcmsg.c_content,wxcmsg.createtime,wxcmsg.openid,wxcmsg.session_id,wxcmsg.userid,wxcmsg.c_type from tb_wx_chat_msg wxcmsg union 
          		select wcsession.c_content,wcsession.createtime,wcsession.openid,wcsession.session_id,wcsession.openid userid,2 from tb_wx_chat_session wcsession
   				 ) t2 ) wxchatmsg
    		left join tb_user suser on wxchatmsg.userid = suser.userid
    		left join tb_wx_user wxuser on wxchatmsg.openid = wxuser.openid
    		WHERE 1=1
			and
			wxchatmsg.SESSION_ID=#{session_id}
			order by
			wxchatmsg.CREATETIME desc
	</select>

	<select id="getReplayListBySessions" resultType="com.marks.smart.wx.manage.mp.entity.WxChatMsg"
		parameterType="java.util.List">
		SELECT IFNULL(suser.username, wxuser.nickname) username, wxchatmsg.*
		FROM TB_WX_CHAT_MSG wxchatmsg
		left join tb_user suser on wxchatmsg.userid = suser.userid
		left join tb_wx_user wxuser on wxchatmsg.openid = wxuser.openid
		WHERE 1=1
		<if test="list !=null">
			and wxchatmsg.session_id in
			<foreach collection="list" item="oid" index="index" open="("
				separator="," close=")">
				#{oid.session_id}
			</foreach>
		</if>
		order by
		wxchatmsg.CREATETIME
	</select>

</mapper>