<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjmei.module.system.syslog.dao.SysLogDao">
	<select id="getSysLogParam" resultType="com.cjmei.module.system.syslog.pojo.SysLogParam">
		SELECT * FROM
		TB_SYS_LOG_PARAM syslogparam where syslogparam.url = #{reqUrl} and
		syslogparam.SOURCE=#{source}
	</select>
	<insert id="saveSysLog" parameterType="com.cjmei.module.system.syslog.pojo.SysLog">
		INSERT INTO TB_SYS_LOG (
		ID,
		USERID,
		USERNAME,
		CREATETIME,
		IP,
		menuname,
		opername,
		retain1,
		retain2,
		retain3,
		SOURCE
		)
		VALUES
		(
		#{log.id:VARCHAR},
		#{log.userid:VARCHAR},
		#{log.username:VARCHAR},
		#{log.createtime:TIMESTAMP},
		#{log.ip:VARCHAR},
		#{log.menuname:VARCHAR},
		#{log.opername:VARCHAR},
		#{log.retain1:VARCHAR},
		#{log.retain2:VARCHAR},
		#{log.retain3:VARCHAR},
		#{log.source:INTEGER}
		)
	</insert>

</mapper>