<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>日记</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet"
	href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet"
	href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<link rel="stylesheet" href="myInfo.css">
<script type='text/javascript'
	src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript'
	src='http://g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript'
	src='http://g.alicdn.com/msui/sm/0.6.2/js/sm-extend.min.js'
	charset='utf-8'></script>
</head>
<body>
	<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
	<div id="app" class="page-group">
		<!-- 单个page ,第一个.page默认被展示-->
		<div class="page">
			<!-- 标题栏 -->
			<header class="bar bar-nav">
				<a class="icon icon-left pull-left back" href="../dairy/list.html"></a>
				<h1 class="title">我的信息</h1>
			</header>
			<!-- 这里是页面内容区 -->
			<div class="content">
				<div align="center" style="margin: 10px 0px;">
					<div class="guiderAvatar">
						<img id="headImage" alt="" src="../../image/Tulips.jpg">
					</div>
				</div>
				<div class="list-block">

					<ul>
						<!-- Text inputs -->
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-name"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">姓名</div>
									<div class="item-input">cjmei</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-email"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">邮箱</div>
									<div class="item-input">cjmei@163.com</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-gender"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">性别</div>
									<div class="item-input">女</div>
								</div>
							</div>
						</li>
						<!-- Date -->
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-calendar"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">生日</div>
									<div class="item-input">2016-12-21</div>
								</div>
							</div>
						</li>
						<li class="align-top">
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-comment"></i>
								</div>
								<div class="item-inner">
									<div class="item-title label">签名</div>
									<div class="item-input">淡，即凡；泊，为平；宁，乃安；静，是寂。</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
<script type='text/javascript' src='../../../js/my-config.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../../../js/tool.js' charset='utf-8'></script>
<script type='text/javascript' src='./myInfo.js' charset='utf-8'></script>
</html>