body {
	background-color: rgba(255, 245, 238, 0.45);
}

.cm-head {
	background-color: pink;
}

.cm-search {
	background-color: hsla(66, 73%, 55%, 0.09);
}

.cm-content {
	background-color: rgba(255, 245, 238, 0.45);
}

.cm-leftPanel {
	background-color: rgb(255, 245, 238);
}

.cm-contnet-img {
	background-image: url('../image/back_1.jpg') !important;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cm-btn {
	background-color: rgba(255, 235, 59, 0.81) !important;
	color: #ffffff;
	width: 100px;
	margin-bottom: 20px;
}

input:-webkit-autofill, select:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

.cm-input {
	outline-color: invert !important;
	outline-style: none;
	outline-width: 0px;
	border: none !important;
	border-style: none !important;
	text-shadow: none;
	-webkit-appearance: none;
	-webkit-user-select: text !important;
	outline-color: transparent;
	box-shadow: none !important;
}