<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!-- 加载缓存数据定时器 -->
	<bean name="loadDataJob" class="com.grgbanking.inner.helper.LoadDataHelper"/>
	<bean id="loadDataDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="loadDataJob"></property><!-- 指定任务类 -->
		<property name="targetMethod">
			<value>doJob</value>
		</property><!-- 指定任务方法 -->
	</bean>

	<!-- 配置触发器 -->
	<bean id="loadDataTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<!-- 这里不可以直接在属性jobDetail中引用taskJob，因为他要求的是一个jobDetail类型的对象，所以我们得通过MethodInvokingJobDetailFactoryBean来转一下 -->
		<!-- 指向我们的任务 -->
		<property name="jobDetail" ref="loadDataDetail" />
		<!-- 每15分钟触发，具体说明见附录 -->
		<property name="cronExpression">
			<value> 0 0 0/1 * * ?</value>
		</property>
	</bean>

	<bean id="quartz"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="exposeSchedulerInRepository" value="true" />
		<property name="triggers">
			<list>
				<ref bean="loadDataTrigger" />
				
			</list>
		</property>
	</bean>
</beans>





 