<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grgbanking.smart.gzw.mapper.TimesettingMapper">


    <select id="getTime" resultType="com.grgbanking.smart.gzw.bean.entity.TFormTimesetting">
        SELECT
            aj_year,
            aj_month,
            aj_day,
            aj_year_month_day,
            xx_year,
            xx_month,
            xx_day,
            xx_year_month_day
        FROM
            t_form_timesetting
    </select>
    <update id="setTime" parameterType="com.grgbanking.smart.gzw.bean.entity.TFormTimesetting">
        UPDATE
            fawu.t_form_timesetting
        SET
            aj_year=#{aj_year},
            aj_month=#{aj_month},
            aj_day=#{aj_day},
            aj_year_month_day=#{aj_year_month_day},
            xx_year=#{xx_year},
            xx_month=#{xx_month},
            xx_day=#{xx_day},
            xx_year_month_day=#{xx_year_month_day}
        WHERE
            id='1'
    </update>
</mapper>