<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.system.syslogparam.dao.SysLogParamDao">

    <select id="findById" resultType="com.cjmei.module.system.syslogparam.pojo.SysLogParam">
		SELECT * FROM TB_SYS_LOG_PARAM syslogparam where syslogparam.ID = #{id}
 	</select>
 	 <select id="findByUrlAndSource" resultType="com.cjmei.module.system.syslogparam.pojo.SysLogParam">
		SELECT * FROM TB_SYS_LOG_PARAM syslogparam where syslogparam.url = #{reqUrl} and syslogparam.SOURCE=#{source}
 	</select>
 	
 	<insert id="save" parameterType="com.cjmei.module.system.syslogparam.pojo.SysLogParam">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>

 		INSERT INTO TB_SYS_LOG_PARAM syslogparam (
            syslogparam.ID,
            syslogparam.SOURCE,
            syslogparam.MENUNAME,
            syslogparam.OPERNAME,
            syslogparam.CREATETIME,
            syslogparam.UPDATETIME,
            syslogparam.CREATOR,
            syslogparam.URL
		)
		VALUES(
            #{id:VARCHAR},
            #{source:NUMERIC},
            #{menuName:VARCHAR},
            #{operName:VARCHAR},
            sysdate,
            sysdate,
            #{creator:VARCHAR},
            #{url:VARCHAR}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.cjmei.module.system.syslogparam.pojo.SysLogParam">
 		UPDATE TB_SYS_LOG_PARAM syslogparam
		SET 
                syslogparam.SOURCE = #{source:NUMERIC},
                syslogparam.MENUNAME = #{menuName:VARCHAR},
                syslogparam.OPERNAME = #{operName:VARCHAR},
                syslogparam.UPDATETIME = sysdate,
                syslogparam.URL = #{url:VARCHAR}
		WHERE
			syslogparam.ID = #{id}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_SYS_LOG_PARAM syslogparam WHERE syslogparam.ID=#{id}
 	</delete>
 	
 	<select id="findAll" resultType="com.cjmei.module.system.syslogparam.pojo.SysLogParam">
 		SELECT * FROM TB_SYS_LOG_PARAM
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_SYS_LOG_PARAM WHERE ID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.cjmei.module.system.syslogparam.pojo.SysLogParam" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_SYS_LOG_PARAM syslogparam
						WHERE 1=1
                        <if test="keyword!=null and keyword!=''">
 and ( syslogparam.ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or syslogparam.SOURCE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or syslogparam.MENUNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or syslogparam.OPERNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or syslogparam.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or syslogparam.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or syslogparam.CREATOR LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or syslogparam.URL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
 )                        </if>

					
					
 	</select>
 	
 	
 	
</mapper>