<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marks.module.system.sys.dao.SysMenuDao">
	<select id="getChildSysMenuList" resultType="com.marks.module.system.sys.pojo.SysMenu">
		SELECT * FROM
		TB_SYS_MENU t where t.PARENTID != '0' ORDER BY t."SORT"
	</select>
	<select id="getParentSysMenuList" resultType="com.marks.module.system.sys.pojo.SysMenu">
		SELECT * FROM
		TB_SYS_MENU t where t.PARENTID = '0' ORDER BY t."SORT"
	</select>
	<insert id="save" parameterType="com.marks.module.system.sys.pojo.SysMenu">
		INSERT INTO "TB_SYS_MENU" (
		"MENUID",
		"PARENTID",
		"MENUITEM",
		"URL",
		"SORT",
		"CREATETIME",
		"UPDATETIME",
		"CREATOR"
		)
		VALUES
		(
		#{sm.menuid:VARCHAR},
		#{sm.parentid:VARCHAR},
		#{sm.menuitem:VARCHAR},
		#{sm.url:VARCHAR},
		#{sm.sort:INTEGER},
		sysdate,
		sysdate,
		#{sm.creator:VARCHAR}
		)
	</insert>
	<update id="update" parameterType="com.marks.module.system.sys.pojo.SysMenu"
		flushCache="true">
		UPDATE "TB_SYS_MENU"
		SET "PARENTID" =
		#{sm.parentid:VARCHAR},
		"MENUITEM" = #{sm.menuitem:VARCHAR},
		"URL" =
		#{sm.url:VARCHAR},
		"SORT" = #{sm.sort:INTEGER},
		"UPDATETIME" =
		sysdate,
		"CREATOR" = #{sm.creator:VARCHAR}
		WHERE
		"MENUID" = #{sm.menuid:VARCHAR}
	</update>
	<delete id="delete">
		DELETE TB_SYS_MENU where MENUID=#{menuid}
	</delete>
	<delete id="deleteRoleFunc">
		delete from tb_sys_role_func
		where FUNCID in
		(select
		tsf.funcid from tb_sys_func tsf where tsf.menuid = #{menuid})
	</delete>
	<delete id="deleteFunc">
		delete from tb_sys_func where menuid= #{menuid}
	</delete>
	<select id="getSysMenuByMenuid" resultType="com.marks.module.system.sys.pojo.SysMenu">
		SELECT * FROM
		TB_SYS_MENU t where t.MENUID=#{menuid}
	</select>
	<select id="getChildListByParentid" resultType="com.marks.module.system.sys.pojo.SysMenu">
		SELECT * FROM
		TB_SYS_MENU t where t.PARENTID=#{menuid}
	</select>

	<delete id="deletSysRolecUrlByFuncid" parameterType="String">
		delete from
		tb_sys_role_func where FUNCID=#{funcid}
	</delete>
	<delete id="deletSysFuncByFuncid" parameterType="String">
		delete from
		tb_sys_func where FUNCID=#{funcid}
	</delete>
	<insert id="saveSysFunc" parameterType="com.marks.module.system.sys.pojo.SysFunc">
		INSERT INTO
		tb_sys_func (
		FUNCID,
		MENUID,
		OPERID,
		url,
		createtime,
		updatetime,
		creator
		)
		VALUES
		(
		#{sf.funcid:VARCHAR},
		#{sf.menuid:VARCHAR},
		#{sf.operid:VARCHAR},
		#{sf.url:VARCHAR},
		sysdate,
		sysdate,
		#{sf.creator:VARCHAR}
		)
	</insert>
	<select id="getSysOperateByOperid" resultType="com.marks.module.system.sys.pojo.SysOperate">
		select * from
		tb_sys_operate where OPERID=#{operid}
	</select>
	<select id="getSysOperateListByMenuid" resultType="com.marks.module.system.sys.pojo.SysOperate">
		SELECT
		distinct
		SOPER.*,sf.funcid,sf.url
		FROM
		tb_sys_func sf,
		tb_sys_operate
		soper
		WHERE
		sf.operid=soper.operid
		and sf.menuid= #{menuid}
	</select>
	<select id="getSysFuncByOperIdAndMenuid" resultType="com.marks.module.system.sys.pojo.SysFunc">
		select *
		from tb_sys_func where MENUID=#{menuid} and OPERID=#{operid}
	</select>
	<select id="getSysOperateList" resultType="com.marks.module.system.sys.pojo.SysOperate">
		select * from
		tb_sys_operate
	</select>
</mapper>