<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.inner.note.gains.dao.GainsDao">

    <select id="findById" resultType="com.marks.module.inner.note.gains.pojo.Gains">
		SELECT * FROM TB_NOTE_GAINS where ID = #{id}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.inner.note.gains.pojo.Gains">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select replace(uuid(),'-','')</selectKey>

 		INSERT INTO TB_NOTE_GAINS (
            ID,
            LVL,
            LVLNAME,
            TITLE,
            CONTENT,
            LABELS,
            CREATETIME,
            UPDATETIME,
            CREATOR,
            UPDATER
		)
		VALUES(
            #{id:VARCHAR},
            #{lvl:VARCHAR},
            #{lvlName:VARCHAR},
            #{title:VARCHAR},
            #{content:VARCHAR},
            #{labels:VARCHAR},
            #{createtime:TIMESTAMP},
            #{updatetime:TIMESTAMP},
            #{creator:VARCHAR},
            #{updater:VARCHAR}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.marks.module.inner.note.gains.pojo.Gains">
 		UPDATE TB_NOTE_GAINS 
		SET 
                LVL = #{lvl:VARCHAR},
                LVLNAME = #{lvlName:VARCHAR},
                TITLE = #{title:VARCHAR},
                CONTENT = #{content:VARCHAR},
                LABELS = #{labels:VARCHAR},
                CREATETIME = #{createtime:TIMESTAMP},
                UPDATETIME = #{updatetime:TIMESTAMP},
                CREATOR = #{creator:VARCHAR},
                UPDATER = #{updater:VARCHAR}
		WHERE
			ID = #{id}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_NOTE_GAINS WHERE ID=#{id}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.inner.note.gains.pojo.Gains">
 		SELECT * FROM TB_NOTE_GAINS
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_NOTE_GAINS WHERE ID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.inner.note.gains.pojo.Gains" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_NOTE_GAINS 
						WHERE 1=1
                        <if test="keyword!=null and keyword!=''">
 and ( gains.ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or gains.LVL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or gains.LVLNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or gains.TITLE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or gains.CONTENT LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or gains.LABELS LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or gains.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or gains.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or gains.CREATOR LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or gains.UPDATER LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
 )                        </if>

						
					
 	</select>
 	
 	
 	
</mapper>