<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.smart.count.note.gains.dao.GainsDao">

	<select id="findById" resultType="com.marks.smart.count.note.gains.pojo.Gains">
		SELECT * FROM TB_NOTE_GAINS
		gains where gains.ID = #{id}
	</select>

	<select id="findByTitle" resultType="com.marks.smart.count.note.gains.pojo.Gains">
		SELECT * FROM TB_NOTE_GAINS
		gains where gains.TITLE = #{title}
	</select>

	<insert id="save" parameterType="com.marks.smart.count.note.gains.pojo.Gains">
		INSERT INTO TB_NOTE_GAINS  (
		ID,
		LVL,
		LVLNAME,
		TITLE,
		CONTENT,
		LABELS,
		CREATETIME,
		UPDATETIME,
		CREATOR,
		UPDATER,
		MOBILE
		)
		VALUES(
		#{id:VARCHAR},
		#{lvl:VARCHAR},
		#{lvlName:VARCHAR},
		#{title:VARCHAR},
		#{content:VARCHAR},
		#{labels:VARCHAR},
		now(),
		now(),
		#{creator:VARCHAR},
		#{updater:VARCHAR},
		#{mobile:VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.marks.smart.count.note.gains.pojo.Gains">
		UPDATE TB_NOTE_GAINS 
		SET
		LVL = #{lvl:VARCHAR},
		LVLNAME = #{lvlName:VARCHAR},
		TITLE = #{title:VARCHAR},
		CONTENT = #{content:VARCHAR},
		LABELS = #{labels:VARCHAR},
		UPDATETIME = now(),
		UPDATER = #{updater:VARCHAR}
		WHERE
		ID = #{id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_NOTE_GAINS WHERE ID=#{id}
	</delete>

	<select id="findAll" resultType="com.marks.smart.count.note.gains.pojo.Gains">
		SELECT * FROM TB_NOTE_GAINS
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_NOTE_GAINS WHERE ID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.smart.count.note.gains.pojo.Gains"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_NOTE_GAINS gains
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and (gains.LVLNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or gains.TITLE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or gains.CONTENT LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or gains.LABELS LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or left(gains.CREATETIME,10) LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			
			)
		</if>
		<if test="userid!=null and userid!=''">
			and gains.CREATOR =#{userid:VARCHAR}
		</if>
		order by gains.UPDATETIME desc

	</select>



</mapper>