<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.system.sysuser.dao.SysUserDao">

	<select id="findById" resultType="com.cjmei.module.system.sysuser.pojo.SysUser">
		select * from tb_sys_user t where t.userid=#{userid}
	</select>
	<select id="findByUserid" resultType="com.cjmei.module.system.sysuser.pojo.SysUser">
		select distinct
		u.*,listagg(t.roleid, ',') within
		group(
		order by t.roleid) over(partition by t.userid) roleidsStr,
		listagg(tsr.rolename, ',') within
		group(
		order by tsr.rolename) over(partition by t.userid) rolenamesStr
		from TB_SYS_USER u join tb_sys_user_role t on u.userid=t.userid
		join tb_sys_role tsr on t.roleid = tsr.roleid where u.USERID =
		#{userid}
	</select>
	
	<select id="findByMobile" resultType="com.cjmei.module.system.sysuser.pojo.SysUser">
		select * from tb_sys_user t where t.bind_mobile=#{mobile}
	</select>

	<insert id="save" parameterType="com.cjmei.module.system.sysuser.pojo.SysUser">
		<selectKey keyProperty="userid" resultType="String" order="BEFORE">SELECT
			'U'||SEQ_SYS_USER.nextval FROM dual
		</selectKey>
		INSERT INTO TB_SYS_USER sysuser
		(
		sysuser.USERID,
		sysuser.USERNAME,
		sysuser.PASSWORD,
		sysuser.BIND_MOBILE,
		sysuser.ACTIVEFLAG,
		sysuser.CREATETIME,
		sysuser.UPDATETIME,
		sysuser.CREATOR,
		sysuser.COMPANYID,
		sysuser.TOKEN,
		sysuser.USERTYPE
		)
		VALUES(
		#{userid:VARCHAR},
		#{username:VARCHAR},
		#{password:VARCHAR},
		#{bind_mobile:VARCHAR},
		#{activeFlag:NUMERIC},
		sysdate,
		sysdate,
		#{creator:VARCHAR},
		#{companyId:VARCHAR},
		#{token:VARCHAR},
		#{userType:VARCHAR}

		)
	</insert>

	<update id="update" parameterType="com.cjmei.module.system.sysuser.pojo.SysUser">
		UPDATE TB_SYS_USER sysuser
		SET
		sysuser.USERNAME = #{username:VARCHAR},
		sysuser.ACTIVEFLAG = #{activeFlag:NUMERIC},
		sysuser.UPDATETIME = sysdate,
		sysuser.COMPANYID =
		#{companyId:VARCHAR},
		sysuser.TOKEN = #{token:VARCHAR}
		WHERE
		sysuser.USERID
		= #{userid}
	</update>
	
	<update id="updatetPwd" parameterType="com.cjmei.module.system.sysuser.pojo.SysUser">
		UPDATE TB_SYS_USER sysuser
		SET
		sysuser.PASSWORD = #{password:VARCHAR},
		sysuser.UPDATETIME = sysdate
		WHERE
		sysuser.USERID
		= #{userid}
	</update>
	
	<update id="updateMobile">
		UPDATE TB_SYS_USER sysuser
		SET
		sysuser.BIND_MOBILE = #{newPhone:VARCHAR},
		sysuser.UPDATETIME = sysdate
		WHERE
		sysuser.USERID
		= #{userid}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_SYS_USER
		sysuser WHERE sysuser.USERID=#{userid}
	</delete>

	<delete id="deleteSysUserRole" parameterType="String">
		DELETE FROM
		tb_sys_user_role t WHERE t.USERID=#{userid}
	</delete>
	<insert id="saveSysUserRole" parameterType="com.cjmei.module.system.sys.pojo.SysUserRole">

		INSERT INTO
		TB_SYS_USER_ROLE (
		USERID,
		ROLEID,
		CREATETIME,
		UPDATETIME,
		CREATOR

		)
		VALUES(
		#{userid:VARCHAR},
		#{roleid:VARCHAR},
		sysdate,
		sysdate,

		#{creator:VARCHAR}

		)
	</insert>

	<select id="findAll" resultType="com.cjmei.module.system.sysuser.pojo.SysUser">
		SELECT * FROM TB_SYS_USER
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_SYS_USER WHERE USERID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.cjmei.module.system.sysuser.pojo.SysUser"
		parameterType="java.util.Map">
		SELECT distinct sysuser.*, listagg(tsr.roleid, ',') within
		group(
		order
		by tsr.roleid) over(partition by sysuser.userid) as roleidsStr,
		listagg(tsr.rolename, ',') within
		group(
		order by tsr.rolename)
		over(partition by sysuser.userid) as rolenamesStr,
		listagg(tsr.orgid,
		',') within
		group(
		order by tsr.orgid) over(partition by sysuser.userid)
		as orgidsStr
		FROM TB_SYS_USER sysuser
		join tb_sys_user_role tsur on
		sysuser.userid = tsur.userid
		join tb_sys_role tsr on tsur.roleid =
		tsr.roleid
		WHERE 1=1
		<if test="orgids !=null">
			and tsr.orgid in
			<foreach collection="orgids" item="oid" index="index" open="("
				separator="," close=")">
				#{oid}
			</foreach>
		</if>
		<if test="userType !=null and userType != ''">
			and sysuser.USERTYPE = #{userType}
		</if>
		<if test="companyId !=null and companyId != ''">
			and sysuser.COMPANYID = #{companyId}
		</if>
		<if test="keyword!=null and keyword!=''">
		and (
			sysuser.USERID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		
			or sysuser.USERNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		
			or sysuser.PASSWORD LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		
			or sysuser.BIND_MOBILE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		
			or sysuser.ACTIVEFLAG LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		
			or sysuser.CREATETIME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
	
			or sysuser.UPDATETIME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		
			or sysuser.CREATOR LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		
			or sysuser.COMPANYID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		
			or sysuser.TOKEN LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		
			or sysuser.USERTYPE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		
			or tsr.rolename LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		
		)
		</if>
		<if test="sorgid !=null and sorgid != ''">
			and tsr.orgid = #{sorgid}
		</if>
		order by sysuser.UPDATETIME desc

	</select>

</mapper>