<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.wx.wxchatmsg.dao.WxChatSessionDao">

	<select id="findByAccountidAndOpenid" resultType="com.marks.module.wx.wxchatmsg.pojo.WxChatSession">
		SELECT *
		FROM TB_WX_CHAT_SESSION wxchatsession
		where wxchatsession.FLAG=#{flag} and wxchatsession.accountid = #{accountid}
		and wxchatsession.openid = #{openid}
		and (#{timeLong} - wxchatsession.createlong ) &lt;= #{sessionTimes}
	</select>

	<select id="findById" resultType="com.marks.module.wx.wxchatmsg.pojo.WxChatSession">
		SELECT * FROM
		TB_WX_CHAT_SESSION wxchatsession where wxchatsession.SESSION_ID =
		#{session_id}
	</select>

	<insert id="save" parameterType="com.marks.module.wx.wxchatmsg.pojo.WxChatSession">
		INSERT INTO TB_WX_CHAT_SESSION wxchatsession (
		wxchatsession.SESSION_ID,
		wxchatsession.ACCOUNTID,
		wxchatsession.OPENID,
		wxchatsession.CREATETIME,
		wxchatsession.CREATELONG,
		wxchatsession.UPDATETIME,
		wxchatsession.C_CONTENT,
		wxchatsession.FANID,
		wxchatsession.FLAG
		)
		VALUES(
		#{session_id:VARCHAR},
		#{accountid:VARCHAR},
		#{openid:VARCHAR},
		sysdate,
		#{createLong:NUMERIC},
		sysdate,
		#{c_content:VARCHAR},
		#{fanId:VARCHAR},
		#{flag:NUMERIC}
		)
	</insert>

	<update id="update" parameterType="com.marks.module.wx.wxchatmsg.pojo.WxChatSession">
		UPDATE TB_WX_CHAT_SESSION
		wxchatsession
		SET
		wxchatsession.UPDATETIME = sysdate
		WHERE
		wxchatsession.SESSION_ID = #{session_id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_WX_CHAT_SESSION
		wxchatsession WHERE
		wxchatsession.SESSION_ID=#{session_id}
	</delete>

	<select id="findAll" resultType="com.marks.module.wx.wxchatmsg.pojo.WxChatSession">
		SELECT * FROM TB_WX_CHAT_SESSION
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_WX_CHAT_SESSION WHERE SESSION_ID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.wx.wxchatmsg.pojo.WxChatSession"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_WX_CHAT_SESSION wxchatsession
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and ( wxchatsession.SESSION_ID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or wxchatsession.ACCOUNTID
			LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or wxchatsession.OPENID
			LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or
			to_char(wxchatsession.CREATETIME,'yyyy-MM-dd') LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or wxchatsession.CREATELONG
			LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or
			to_char(wxchatsession.UPDATETIME,'yyyy-MM-dd') LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or wxchatsession.C_CONTENT
			LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or
			to_char(wxchatsession.ENDTIME,'yyyy-MM-dd') LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or wxchatsession.FANID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>


		order by wxchatsession.UPDATETIME DESC
	</select>



</mapper>