<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.note.question.dao.QuestionDao">

	<select id="findById" resultType="com.cjmei.module.note.question.pojo.Question">
		SELECT * FROM TB_NOTE_QUESTION
		question where question.ID = #{id}
	</select>
	<select id="findByQuestion" resultType="com.cjmei.module.note.question.pojo.Question">
		SELECT * FROM
		TB_NOTE_QUESTION question where question.question = #{question}
	</select>


	<insert id="save" parameterType="com.cjmei.module.note.question.pojo.Question">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select
			sys_guid() from dual
		</selectKey>

		INSERT INTO TB_NOTE_QUESTION question (
		question.ID,
		question.LVL,
		question.LVLNAME,
		question.QUESTION,
		question.SOLUTION,
		question.LABELS,
		question.CREATETIME,
		question.UPDATETIME,
		question.CREATOR,
		question.UPDATER,
		question.MOBILE
		)
		VALUES(
		#{id:VARCHAR},
		#{lvl:VARCHAR},
		#{lvlName:VARCHAR},
		#{question:VARCHAR},
		#{solution:VARCHAR},
		#{labels:VARCHAR},
		sysdate,
		sysdate,
		#{creator:VARCHAR},
		#{updater:VARCHAR},
		#{mobile:VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.cjmei.module.note.question.pojo.Question">
		UPDATE TB_NOTE_QUESTION
		question
		SET
		question.LVL = #{lvl:VARCHAR},
		question.LVLNAME =
		#{lvlName:VARCHAR},
		question.QUESTION = #{question:VARCHAR},
		question.SOLUTION = #{solution:VARCHAR},
		question.LABELS =
		#{labels:VARCHAR},
		question.UPDATETIME = sysdate,
		question.UPDATER =
		#{updater:VARCHAR}
		WHERE
		question.ID = #{id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_NOTE_QUESTION
		question WHERE question.ID=#{id}
	</delete>

	<select id="findAll" resultType="com.cjmei.module.note.question.pojo.Question">
		SELECT * FROM TB_NOTE_QUESTION
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_NOTE_QUESTION WHERE ID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.cjmei.module.note.question.pojo.Question"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_NOTE_QUESTION question
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and ( question.LVL LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or question.LVLNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or question.QUESTION LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or question.SOLUTION LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or question.LABELS LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or to_char(question.CREATETIME,'yyyy-MM-dd') LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or question.CREATOR LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or question.UPDATER LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>

		<if test="userid!=null and userid!=''">
			and question.CREATOR =#{userid:VARCHAR}
		</if>
			order by question.UPDATETIME desc
	</select>



</mapper>