<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.cell.orginfo.dao.OrgInfoDao">

    <select id="findById" resultType="com.marks.module.cell.orginfo.pojo.OrgInfo">
		SELECT * FROM TB_ORG_INFO where ORGID = #{orgid}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.cell.orginfo.pojo.OrgInfo">
		<selectKey keyProperty="orgid" resultType="String" order="BEFORE">select replace(uuid(),'-','')</selectKey>

 		INSERT INTO TB_ORG_INFO (
            ORGID,
            CREATOR,
            ORGNAME,
            CREATETIME,
            UPDATETIME,
            USEFLAG
		)
		VALUES(
            #{orgid:VARCHAR},
            #{creator:VARCHAR},
            #{orgname:VARCHAR},
            #{createtime:TIMESTAMP},
            #{updatetime:TIMESTAMP},
            #{useflag:NUMERIC}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.marks.module.cell.orginfo.pojo.OrgInfo">
 		UPDATE TB_ORG_INFO 
		SET 
                CREATOR = #{creator:VARCHAR},
                ORGNAME = #{orgname:VARCHAR},
                CREATETIME = #{createtime:TIMESTAMP},
                UPDATETIME = #{updatetime:TIMESTAMP},
                USEFLAG = #{useflag:NUMERIC}
		WHERE
			ORGID = #{orgid}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_ORG_INFO WHERE ORGID=#{orgid}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.cell.orginfo.pojo.OrgInfo">
 		SELECT * FROM TB_ORG_INFO
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_ORG_INFO WHERE ORGID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.cell.orginfo.pojo.OrgInfo" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_ORG_INFO 
						WHERE 1=1
 and ( orginfo.ORGID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        <if test="keyword!=null and keyword!=''">
                            or orginfo.CREATOR LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or orginfo.ORGNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or orginfo.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or orginfo.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or orginfo.USEFLAG LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
 )
						
					
 	</select>
 	
 	
 	
</mapper>