<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>问题</title>
<link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="../../assets/css/marks.css">
<link rel="stylesheet"
	href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui-append.min.css">
</head>
<body>
	<div>
		<div id="cmHead"></div>

		<div id="app" class='container'>
			<div style="text-align: -webkit-left; margin: 30px;">
				<div class="sui-form form-horizontal">
					<div class="control-group" style="width: 100%;">
						<div class="controls">
							<label data-toggle="radio" class="radio-pretty inline checked L3">
								<input type="radio" checked="checked" name="c_itemType"
								value="type0" onblur="submitForm()"><span>日常</span>
							</label> <label data-toggle="radio" class="radio-pretty inline L2">
								<input type="radio" name="c_itemType" value="type1"
								onblur="submitForm()"><span>服装</span>
							</label> <label data-toggle="radio" class="radio-pretty inline L2">
								<input type="radio" name="c_itemType" value="type2"
								onblur="submitForm()"><span>电子产品</span>
							</label> <label data-toggle="radio" class="radio-pretty inline L2">
								<input type="radio" name="c_itemType" value="type3"
								onblur="submitForm()"><span>化妆品</span>
							</label> <label data-toggle="radio" class="radio-pretty inline L2">
								<input type="radio" name="c_itemType" value="type4"
								onblur="submitForm()"><span>读书</span>
							</label>
						</div>
					</div>
					<div class="control-group" style="width: 100%;">
						<div class="controls">
							<input type="text" id="c_tranTime" name="c_tranTime"
								class="input-xlarge cm-input" placeholder="交易日期"
								style="width: 100%; height: 35px;" data-toggle="datepicker"
								onblur="submitForm()">
						</div>
					</div>
					<div class="control-group" style="width: 100%;">
						<div class="controls">
							<label data-toggle="radio" class="radio-pretty inline checked L3">
								<input type="radio" checked="checked" name="c_tranType"
								value="0" onblur="submitForm()"><span>支出</span>
							</label> <label data-toggle="radio" class="radio-pretty inline L2">
								<input type="radio" name="c_tranType" value="1"
								onblur="submitForm()"><span>收入</span>
							</label>
						</div>
					</div>
					<div class="control-group" style="width: 100%;">
						<div class="controls">
							<input type="text" id="c_tranAmount" name="c_tranAmount"
								class="input-xlarge cm-input" placeholder="交易金额"
								style="width: 100%; height: 35px;" onblur="submitForm()">
						</div>
					</div>	
					<div class="control-group" style="width: 100%;">
						<div class="controls">
							<input type="text" id="c_toer" name="c_toer"
								class="input-xlarge cm-input" placeholder="收款方"
								style="width: 100%; height: 35px;" onblur="submitForm()">
						</div>
					</div>
					<div class="control-group" style="width: 100%;">
						<div class="controls">
							<input type="text" id="c_fromer" name="c_fromer"
								class="input-xlarge cm-input" placeholder="支付方"
								style="width: 100%; height: 35px;" onblur="submitForm()">
						</div>
					</div>
					<div class="control-group" style="width: 100%;">
						<div class="controls">
							<input type="text" id="c_remarks" name="c_remarks"
								class="input-xlarge cm-input" placeholder="备注"
								style="width: 100%; height: 35px;" onblur="submitForm()">
						</div>
					</div>
					<!-- <div class="control-group" style="width: 100%; text-align: center;">
						<div class="controls">
							<button class="sui-btn" style="width: 120px; height: 40px;"
								onclick="submitForm()">提交</button>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript"
	src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript"
	src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
<script type='text/javascript' src='../../js/my-config.js'
	charset='utf-8'></script>
<script type="text/javascript" src="../../js/showMsg.js"></script>
<script type='text/javascript' src='../../../../common/tool.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../note.js' charset='utf-8'></script>
<script type="text/javascript" src="./add.js"></script>
</html>