<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.inner.note.vipinfo.dao.VipInfoDao">

    <select id="findById" resultType="com.marks.module.inner.note.vipinfo.pojo.VipInfo">
		SELECT * FROM TB_USER_VIP where USERID = #{userid}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.inner.note.vipinfo.pojo.VipInfo">
		<selectKey keyProperty="userid" resultType="String" order="BEFORE">select replace(uuid(),'-','')</selectKey>

 		INSERT INTO TB_USER_VIP (
            USERID,
            REALNAME,
            GENDER,
            BIRTHDATE,
            EMAIL,
            SIGNATURE,
            CREATETIME,
            UPDATETIME
		)
		VALUES(
            #{userid:VARCHAR},
            #{realname:VARCHAR},
            #{gender:VARCHAR},
            #{birthdate:VARCHAR},
            #{email:VARCHAR},
            #{signature:VARCHAR},
            #{createtime:TIMESTAMP},
            #{updatetime:TIMESTAMP}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.marks.module.inner.note.vipinfo.pojo.VipInfo">
 		UPDATE TB_USER_VIP 
		SET 
                REALNAME = #{realname:VARCHAR},
                GENDER = #{gender:VARCHAR},
                BIRTHDATE = #{birthdate:VARCHAR},
                EMAIL = #{email:VARCHAR},
                SIGNATURE = #{signature:VARCHAR},
                CREATETIME = #{createtime:TIMESTAMP},
                UPDATETIME = #{updatetime:TIMESTAMP}
		WHERE
			USERID = #{userid}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_USER_VIP WHERE USERID=#{userid}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.inner.note.vipinfo.pojo.VipInfo">
 		SELECT * FROM TB_USER_VIP
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_USER_VIP WHERE USERID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.inner.note.vipinfo.pojo.VipInfo" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_USER_VIP 
						WHERE 1=1
                        <if test="keyword!=null and keyword!=''">
 and ( vipinfo.USERID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or vipinfo.REALNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or vipinfo.GENDER LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or vipinfo.BIRTHDATE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or vipinfo.EMAIL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or vipinfo.SIGNATURE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or vipinfo.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or vipinfo.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
 )                        </if>

						
					
 	</select>
 	
 	
 	
</mapper>