<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.note.gains.dao.GainsDao">

	<select id="findById" resultType="com.marks.module.note.gains.pojo.Gains">
		SELECT * FROM TB_NOTE_GAINS
		gains where gains.ID = #{id}
	</select>

	<select id="findByTitle" resultType="com.marks.module.note.gains.pojo.Gains">
		SELECT * FROM TB_NOTE_GAINS
		gains where gains.TITLE = #{title}
	</select>

	<insert id="save" parameterType="com.marks.module.note.gains.pojo.Gains">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select
			sys_guid() from dual
		</selectKey>

		INSERT INTO TB_NOTE_GAINS gains (
		gains.ID,
		gains.LVL,
		gains.LVLNAME,
		gains.TITLE,
		gains.CONTENT,
		gains.LABELS,
		gains.CREATETIME,
		gains.UPDATETIME,
		gains.CREATOR,
		gains.UPDATER,
		gains.MOBILE
		)
		VALUES(
		#{id:VARCHAR},
		#{lvl:VARCHAR},
		#{lvlName:VARCHAR},
		#{title:VARCHAR},
		#{content:VARCHAR},
		#{labels:VARCHAR},
		sysdate,
		sysdate,
		#{creator:VARCHAR},
		#{updater:VARCHAR},
		#{mobile:VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.marks.module.note.gains.pojo.Gains">
		UPDATE TB_NOTE_GAINS gains
		SET
		gains.LVL = #{lvl:VARCHAR},
		gains.LVLNAME = #{lvlName:VARCHAR},
		gains.TITLE = #{title:VARCHAR},
		gains.CONTENT = #{content:VARCHAR},
		gains.LABELS = #{labels:VARCHAR},
		gains.UPDATETIME = sysdate,
		gains.UPDATER = #{updater:VARCHAR}
		WHERE
		gains.ID = #{id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_NOTE_GAINS
		gains WHERE gains.ID=#{id}
	</delete>

	<select id="findAll" resultType="com.marks.module.note.gains.pojo.Gains">
		SELECT * FROM TB_NOTE_GAINS
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_NOTE_GAINS WHERE ID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.note.gains.pojo.Gains"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_NOTE_GAINS gains
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and (gains.LVL LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or gains.LVLNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or gains.TITLE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or gains.CONTENT LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or gains.LABELS LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or to_char(gains.CREATETIME,'yyyy-MM-dd') LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or gains.CREATOR LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or gains.UPDATER LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		<if test="userid!=null and userid!=''">
			and gains.CREATOR =#{userid:VARCHAR}
		</if>
		order by gains.UPDATETIME desc

	</select>



</mapper>