<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>问题</title>
<link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="../../../assets/css/marks.css">
<style type="text/css">
.cm-icon-edit {
	font-size: 8px;
	padding-left: 10px;
}
</style>
</head>
<body>
	<div>
		<div id="cmHead"></div>
		<div id="app" class='container'>
			<div style="padding: 20px;">
				<h2>
					<span id="c_title">AAAAAAAAAAAAAAAAAAAAAAAAA</span><a
						class="cm-icon-edit" href="javascript:void(0)" onclick="toEdit()">修改</a>
				</h2>
				<h5><span id="c_createtime">2016-12-21</span>&nbsp;&nbsp;<span id="c_lvl"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="c_label"></span></h5>
				<div style="border-bottom: 1px solid #e6e6e6; margin-top: 30px;"></div>
				<div style="word-break: break-word;text-indent:2em;" id="c_content"></div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript"
	src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript"
	src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
<script type='text/javascript' src='../../../js/my-config.js'
	charset='utf-8'></script>
<script type="text/javascript" src="../../../js/showMsg.js"></script>
<script type='text/javascript' src='../../../../common/tool.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../note.js' charset='utf-8'></script>
<script type="text/javascript" src="./detail.js"></script>
</html>