.tooltips {
	width: 100%;
	background: #e7e7e7;
	text-align: center;
	color: red !important;
	border-radius: 10px;
	display: none;
	position: absolute;
	line-height: 2rem;
}

.cm-head {
	background-color: deepskyblue;
}

.cm-contnet-img input {
	color: white !important;
}

textarea {
	color: white !important;
}

.cm-contnet-img div {
	color: white;
}

h1 {
	color: white !important;
}

.cm-search {
	background-color: hsla(66, 73%, 55%, 0.09);
}

.cm-content-2 {
	background-color: rgba(255, 245, 238, 0.45);
}

.cm-content {
	background-color: seashell;
}

.cm-leftPanel {
	background-color: rgb(255, 245, 238);
}

.cm-contnet-img {
	background-image: url('../image/back_13.jpg') !important;
	background-size: 100% 100%;
}

.cm-btn {
	background-color: rgba(255, 235, 59, 0.81) !important;
}

.cm-item-content {
	padding-left: 0 !important;
}

.cm-item-inner {
	margin-right: 0.75rem;
	padding-right: 0 !important;
}