<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marks.module.system.syslog.dao.SysLogDao">
	<select id="getSysLogParamNoForInner" resultType="com.marks.module.system.syslogparam.pojo.SysLogParam">
		SELECT * FROM
		TB_SYS_LOG_PARAM syslogparam where syslogparam.url = #{reqUrl} and
		syslogparam.SOURCE=#{source}
	</select>
	<!-- 根据url获取菜单名称和操作名称 -->
	<select id="getSysLogParam" resultType="com.marks.module.system.syslog.pojo.SysLog">
		SELECT
		SM.MENUITEM
		menuname,
		soper.OPERNAME,
		sm.menuid
		FROM
		TB_SYS_FUNC sf
		JOIN TB_SYS_MENU sm ON
		SF.MENUID = SM.MENUID
		JOIN TB_SYS_OPERATE soper ON sf.OPERID =
		soper.OPERID
		WHERE
		sf.url = #{url}
	</select>
	<insert id="saveSysLog" parameterType="com.marks.module.system.syslog.pojo.SysLog">
		INSERT INTO TB_SYS_LOG (
		ID,
		USERID,
		USERNAME,
		CREATETIME,
		IP,
		menuname,
		opername,
		retain1,
		retain2,
		retain3,
		SOURCE,
		menuid
		)
		VALUES
		(
		#{log.id:VARCHAR},
		#{log.userid:VARCHAR},
		#{log.username:VARCHAR},
		#{log.createtime:VARCHAR},
		#{log.ip:VARCHAR},
		#{log.menuname:VARCHAR},
		#{log.opername:VARCHAR},
		#{log.retain1:VARCHAR},
		#{log.retain2:VARCHAR},
		#{log.retain3:VARCHAR},
		#{log.source:INTEGER},
		#{log.menuid:VARCHAR}
		)
	</insert>

	<select id="list" resultType="com.marks.module.system.syslog.pojo.SysLog"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_SYS_LOG syslog
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and ( syslog.ID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or syslog.USERID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or syslog.USERNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or syslog.IP LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or syslog.MENUNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or syslog.OPERNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or syslog.RETAIN2 LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		<if test="source != null and source !=''">
			and syslog.source=#{source}
		</if>
		order by syslog.CREATETIME desc
	</select>
	<delete id="deleteData" flushCache="true">
		delete from tb_sys_log where date_format(createtime,'%Y-%m-%d') &lt; #{clearDate}
	</delete>
</mapper>