<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjmei.module.mall.shop.dao.ShopDao">
	<select id="getShopList" resultType="com.cjmei.module.mall.shop.pojo.ShopInfo">
		select t.*,t2.shopname companyname from tb_shop_info t
		left join tb_shop_info t2 on t2.shopid=t.companyid
		where 1=1
		<if test="shopids !=null">
			and t.shopid in
			<foreach item="shopid" index="index" collection="shopids"
				open="(" separator="," close=")">
				#{shopid}
			</foreach>
		</if>
		and t.is_company=#{is_company}
		<if test="keyword !=null and keyword !=''">
			and t.shopname like '%${keyword}%'
		</if>
		and t.delflag=0
	</select>

</mapper>