<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>

	<!-- 定时加载本地参数 -->
	<bean name="loadDataJob" class="com.nfb.module.system.helper.TimingLoadingHelper" />
	<bean id="loadDataJobDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="loadDataJob" />
		</property>
		<property name="targetMethod">
			<value>doJob</value>
		</property>
	</bean>
	<!-- 配置触发器 -->
	<bean id="localDataTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<!-- 这里不可以直接在属性jobDetail中引用taskJob，因为他要求的是一个jobDetail类型的对象，所以我们得通过MethodInvokingJobDetailFactoryBean来转一下 -->
		<property name="jobDetail">
			<ref bean="loadDataJobDetail" />
		</property>
		<!-- 每天的8点到21点每隔5分钟触发，具体说明见附录 -->
		<property name="cronExpression">
			<value>0 0 0/2 * * ?</value>
		</property>
	</bean>
	
	<!-- 定时扫描数据库推送微信模板消息-->
	<bean name="wxbModuleMsgJob" class="com.nfb.module.wxmodulemsg.job.WxbModuleMsgHelper" />
	<bean id="wxbModuleMsgDetail"
		class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject">
			<ref bean="wxbModuleMsgJob" />
		</property>
		<property name="targetMethod">
			<value>doJob</value>
		</property>
	</bean>
	<!-- 配置触发器 -->
	<bean id="wxbModuleMsgTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<!-- 这里不可以直接在属性jobDetail中引用taskJob，因为他要求的是一个jobDetail类型的对象，所以我们得通过MethodInvokingJobDetailFactoryBean来转一下 -->
		<property name="jobDetail">
			<ref bean="wxbModuleMsgDetail" />
		</property>
		<!-- 每天的8点到21点每隔5分钟触发，具体说明见附录 -->
		<property name="cronExpression">
			<value>0 0/1 8-23 * * ?</value>
		</property>
	</bean>
	
	<bean id="start"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="localDataTrigger" />
				<ref bean="wxbModuleMsgTrigger" />
			</list>
		</property>
	</bean>

</beans>
 