<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.marks.smart.market.pay.unionpay.dao.UnionPayDao">
	<select id="getUnionPayLogByOrderId" resultType="com.marks.smart.market.pay.unionpay.pojo.UnionPayLog">
		select * from unionpay_log where orderid=#{orderId}
	</select>
	<insert id="saveUnionPayLog" parameterType="com.marks.smart.market.pay.unionpay.pojo.UnionPayLog">
		insert into unionpay_log (orderId,txnTime,txnType,txnSubType,bizType,merId,txnAmt,queryId,
			respCode,respMsg,settleAmt,settleDate,traceNo,traceTime,accNo,customerNm,status,createdate,channelType,reqReserved)
			values (#{msg.orderId:VARCHAR},#{msg.txnTime:VARCHAR},#{msg.txnType:VARCHAR},
			#{msg.txnSubType:VARCHAR},#{msg.bizType:VARCHAR},#{msg.merId:VARCHAR},
			#{msg.txnAmt:VARCHAR},#{msg.queryId:VARCHAR},#{msg.respCode:VARCHAR},
			#{msg.respMsg:VARCHAR},#{msg.settleAmt:VARCHAR},#{msg.settleDate:VARCHAR},
			#{msg.traceNo:VARCHAR},#{msg.traceTime:VARCHAR},#{msg.accNo:VARCHAR},
			#{msg.customerNm:VARCHAR},#{msg.status:VARCHAR},sysdate,#{msg.channelType:VARCHAR},#{msg.reqReserved:VARCHAR})
	</insert>
	<update id="updateUnionPayLog" parameterType="com.marks.smart.market.pay.unionpay.pojo.UnionPayLog">
		update unionpay_log 
		set txnTime = #{msg.txnTime:VARCHAR},
			txnType = #{msg.txnType:VARCHAR},
			txnSubType = #{msg.txnSubType:VARCHAR},
			bizType = #{msg.bizType:VARCHAR},
			merId = #{msg.merId:VARCHAR},
			txnAmt = #{msg.txnAmt:VARCHAR},
			queryId = #{msg.queryId:VARCHAR},
			respCode = #{msg.respCode:VARCHAR},
			respMsg = #{msg.respMsg:VARCHAR},
			settleAmt = #{msg.settleAmt:VARCHAR},
			settleDate = #{msg.settleDate:VARCHAR},
			traceNo = #{msg.traceNo:VARCHAR},
			traceTime = #{msg.traceTime:VARCHAR},
			accNo = #{msg.accNo:VARCHAR},
			customerNm = #{msg.customerNm:VARCHAR},
			status = #{msg.status:VARCHAR}
		where orderId = #{msg.orderId}
	</update>
	<!-- 查找银联交易没通知返回结果的报文数据  -->
	<select id="queryErrorMsg" resultType="com.marks.smart.market.pay.unionpay.pojo.UnionPayLog">
		select * from unionpay_log 
		where TO_DATE(txntime,'yyyymmddHH24miss') &lt;= ( sysdate- INTERVAL '20' minute)
		and (status = '0' or respCode = '')
	</select>
	
</mapper>