package @{packageUrl};

import java.io.Serializable;
import javax.persistence.Column;
import javax.persistence.Entity;
import javax.persistence.Id;
import javax.persistence.Table;
import com.grgbanking.smart.core.bean.BaseBeanImpl;

@Entity
@Table(name="@{tableName}")
public class @{beanName} extends BaseBeanImpl{


@{fields}

 public @{beanName}(){
@{initValue}
    }

@{getSetMethod}

}