<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.mall.good.dao.GoodInfoDao">

	<select id="findById" resultType="com.marks.module.mall.good.pojo.GoodInfo">
		SELECT * FROM TB_MALL_GOOD_INFO
		goodinfo where goodinfo.GOODID = #{goodId}
	</select>

	<select id="getGoodInfoByGoodNo" resultType="com.marks.module.mall.good.pojo.GoodInfo">
		SELECT * FROM
		TB_MALL_GOOD_INFO
		goodinfo where goodinfo.goodNo = #{goodNo}
		and goodinfo.companyId=#{companyId}
	</select>

	<insert id="save" parameterType="com.marks.module.mall.good.pojo.GoodInfo">
		INSERT INTO TB_MALL_GOOD_INFO
		(
		GOODID,
		GOODNAME,
		PRICE,
		UNIT,
		IMAGEURL,
		CREATETIME,
		UPDATETIME,
		CREATOR,
		BRANDID,
		MADEIN,
		MATERIAL,
		DESCRIPTION,
		REMARK,
		WEIGHT,
		WEIGHT_UNIT,
		companyId,
		updater,
		brandName,
		rank,
		model,
		goodNo,
		barNo,
		salePrice,
		vipPrice,
		minPrice,
		typeId,
		typeName,
		goodType,
		stockManageType,
		stockPrice,
		supplierId,
		supplier
		)
		VALUES(
		#{goodId:VARCHAR},
		#{goodName:VARCHAR},
		#{price:VARCHAR},
		#{unit:VARCHAR},
		#{imageUrl:VARCHAR},
		now(),
		now(),
		#{creator:VARCHAR},
		#{brandId:VARCHAR},
		#{madeIn:VARCHAR},
		#{material:VARCHAR},
		#{description:VARCHAR},
		#{remark:VARCHAR},
		#{weight:VARCHAR},
		#{weight_unit:VARCHAR},
		#{companyId:VARCHAR},
		#{updater:VARCHAR},
		#{brandName:VARCHAR},
		#{rank:VARCHAR},
		#{model:VARCHAR},
		#{goodNo:VARCHAR},
		#{barNo:VARCHAR},
		#{salePrice:VARCHAR},
		#{vipPrice:VARCHAR},
		#{minPrice:VARCHAR},
		#{typeId:VARCHAR},
		#{typeName:VARCHAR},
		#{goodType:NUMERIC},
		#{stockManageType:NUMERIC},
		#{stockPrice:VARCHAR},
		#{supplierId:VARCHAR},
		#{supplier:VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.marks.module.mall.good.pojo.GoodInfo">
		UPDATE TB_MALL_GOOD_INFO
		SET
		supplierId=#{supplierId:VARCHAR},
		supplier=#{supplier:VARCHAR},
		stockPrice=#{stockPrice:VARCHAR},
		goodType=#{goodType:NUMERIC},
		stockManageType=#{stockManageType:NUMERIC},
		GOODNAME = #{goodName:VARCHAR},
		PRICE
		= #{price:VARCHAR},
		UNIT =
		#{unit:VARCHAR},
		IMAGEURL = #{imageUrl:VARCHAR},
		UPDATETIME = now(),
		BRANDID=#{brandId:VARCHAR},
		MADEIN=#{madeIn:VARCHAR},
		MATERIAL=#{material:VARCHAR},
		DESCRIPTION=#{description:VARCHAR},
		REMARK=#{remark:VARCHAR},
		WEIGHT=#{weight:VARCHAR},
		WEIGHT_UNIT=#{weight_unit:VARCHAR},
		updater=#{updater:VARCHAR},
		brandName=#{brandName:VARCHAR},
		rank=#{rank:VARCHAR},
		model=#{model:VARCHAR},
		goodNo=#{goodNo:VARCHAR},
		barNo=#{barNo:VARCHAR},
		salePrice=#{salePrice:VARCHAR},
		vipPrice=#{vipPrice:VARCHAR},
		minPrice=#{minPrice:VARCHAR},
		typeId=#{typeId:VARCHAR},
		typeName=#{typeName:VARCHAR}
		WHERE
		GOODID =
		#{goodId}
	</update>
	<update id="onSale">
		UPDATE TB_MALL_GOOD_INFO
		SET
		ONSALE_STATUS = #{state},
		ONSALE_TIME=now(),
		UPDATETIME = now()
		WHERE
		GOODID = #{goodId}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_MALL_GOOD_INFO
		WHERE GOODID=#{goodId}
	</delete>

	<select id="findAll" resultType="com.marks.module.mall.good.pojo.GoodInfo">
		SELECT * FROM TB_MALL_GOOD_INFO
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_MALL_GOOD_INFO WHERE GOODID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.mall.good.pojo.GoodInfo"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_MALL_GOOD_INFO goodinfo
		WHERE 1=1
		<if test="orgid!=null and orgid!=''">
			and goodinfo.ORGID=#{orgid}
		</if>
		<if test="keyword!=null and keyword!=''">
			and ( goodinfo.GOODNO
			LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or goodinfo.barNo LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or
			goodinfo.GOODNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or
			goodinfo.BRANDNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or
			goodinfo.MADEIN LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or
			goodinfo.MATERIAL LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		order by goodinfo.onsale_status,goodinfo.UPDATETIME desc
	</select>

	<insert id="saveGoodImg" parameterType="com.marks.module.mall.good.pojo.GoodImg">
		INSERT INTO
		TB_MALL_GOOD_IMG (
		ID,
		GOODID,
		IMGTYPE,
		IMGURL,
		CREATETIME,
		SORT,
		IMGNAME
		)
		VALUES(
		#{id:VARCHAR},
		#{goodId:VARCHAR},
		#{imgType:NUMERIC},
		#{imgUrl:VARCHAR},
		sysdate,
		#{sort:NUMERIC},
		#{imgName:VARCHAR}
		)
	</insert>
	<delete id="deleteGoodImg">
		delete from TB_MALL_GOOD_IMG where goodId=#{goodId}
	</delete>
	<select id="getGoodImgByGoodId" resultType="com.marks.module.mall.good.pojo.GoodImg">
		select * from
		TB_MALL_GOOD_IMG where goodId=#{goodId}
	</select>

</mapper>