<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjmei.module.system.sys.dao.LoadDataDao">
	<!-- 加载系统参数 -->
	<select id="loadSysConf" resultType="com.cjmei.module.system.sys.pojo.SysConf">
		SELECT * FROM TB_SYS_CONF
	</select>
	<!-- 加载数据字典 -->
	<select id="loadDataDir" resultType="com.cjmei.module.system.sys.pojo.DataDir">
		SELECT * FROM
		TB_SYS_DATADIR_INFO t order by t."SORT"
	</select>

	<!-- 加载微信公众号信息 -->
	<select id="loadWxAccount" resultType="com.cjmei.module.weixin.account.pojo.WxAccount">
		SELECT * FROM
		TB_WX_ACCOUNT
	</select>
	<select id="loadUrlList" resultType="String">
		SELECT distinct t.url FROM tb_SYS_FUNC t
	</select>
</mapper>