<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjmei.module.system.sys.dao.SysRoleDao">
	<select id="querySysRoleList" resultType="com.cjmei.module.system.sys.pojo.SysRole">
		select r.*, s.shopname orgname
		from tb_sys_role r
		left join tb_shop_info s on r.orgid = s.shopid
		where 1=1
		<if test="shopids !=null">
			and r.orgid in
			<foreach item="shopid" index="index" collection="shopids"
				open="(" separator="," close=")">
				#{shopid}
			</foreach>
		</if>
		<if test="keyword !=null and keyword !=''">
			and (r.rolename like '%${keyword}%'
			or s.shopname like '%${keyword}%'
			)
		</if>
	</select>

	
	<insert id="saveSysRole" parameterType="com.cjmei.module.system.sys.pojo.SysRole">
		insert into tb_sys_role
		(roleid,rolename,CREATETIME,UPDATETIME,creator,ORGID,LVL) values
		(#{sysRole.roleid:VARCHAR},#{sysRole.rolename:VARCHAR},sysdate,sysdate,#{sysRole.creator:VARCHAR},#{sysRole.orgid:VARCHAR},#{sysRole.lvl:INTEGER})
	</insert>
	<update id="updateSysRole" parameterType="com.cjmei.module.system.sys.pojo.SysRole">
		update tb_sys_role set
		rolename=#{sysRole.rolename:VARCHAR},ORGID=#{sysRole.orgid:VARCHAR},UPDATETIME=sysdate,LVL=#{sysRole.lvl:INTEGER}
		where roleid =
		#{sysRole.roleid:VARCHAR}
	</update>
	<select id="getNeedDeleteSysRoleByRoleid" resultType="com.cjmei.module.system.sys.pojo.SysRole">
		select
		DISTINCT SR.* from tb_sys_user_role sur,tb_sys_role sr where
		SUR.ROLEID=SR.ROLEID and SR.ROLEID=#{roleId}
	</select>
	<delete id="deleteSysFuncByRoleId">
		delete from tb_sys_role_func where roleid=#{roleId}
	</delete>
	<delete id="deleteSysRole">
		delete from tb_SYS_ROLE where ROLEID=#{roleId}
	</delete>
	<select id="getSysFuncIdListByRoleId" resultType="String">
		select funcid
		from tb_sys_role_func
		where roleid = #{roleId}
	</select>
	<select id="getSysFuncListByUserId" resultType="com.cjmei.module.system.sys.pojo.SysFunc">
		SELECT DISTINCT
		func.funcid,
		oper.opername,
    	oper.sort
		FROM
		tb_sys_func func
		JOIN tb_sys_operate oper ON (func.operid = oper.operid)
		left join tb_sys_role_func srf on (func.funcid=srf.funcid)
		where
		1=1
		<if test="userRoleid != null and userRoleid != '' ">
			and srf.roleid =#{userRoleid}
		</if>
		ORDER
		BY
		oper.sort
	</select>
	<select id="getChildMenuList" resultType="com.cjmei.module.system.sys.pojo.SysMenu">
		select DISTINCT menu.*
		from tb_sys_menu menu
		join tb_SYS_FUNC sf on MENU.MENUID=SF.MENUID
	</select>
	<insert id="saveSysFuncByRoleId">
		insert into tb_sys_role_func (roleid,funcid,CREATETIME)
		values(#{roleId:VARCHAR},#{funcId:VARCHAR},sysdate)
	</insert>
</mapper>