<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marks.module.weixin.wfhao.dao.WeixinAccountDao">
	<!-- 加载系统参数 -->
	<select id="queryWxUserByOpenID" resultType="com.marks.module.weixin.wfhao.pojo.WxUser">
		select * from tb_wx_user t where t.accountid=#{accountid} and t.openid=#{openid}
	</select>
</mapper>