<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.autocode.autocode.dao.AutoCodeDao">

    <select id="findById" resultType="com.cjmei.module.autocode.autocode.pojo.AutoCode">
		SELECT * FROM tb_autocode_bean where TABLENAME = #{tableName}
 	</select>
 	
 	<insert id="save" parameterType="com.cjmei.module.autocode.autocode.pojo.AutoCode">
 		INSERT INTO tb_autocode_bean (
            TABLENAME,
            BEANNAME,
            MODULEDESC
		)
		VALUES(
            #{tableName:VARCHAR},
            #{beanName:VARCHAR},
            #{moduleDesc:VARCHAR}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.cjmei.module.autocode.autocode.pojo.AutoCode">
 		UPDATE tb_autocode_bean 
		SET 
                BEANNAME = #{beanName:VARCHAR},
                MODULEDESC = #{moduleDesc:VARCHAR}
		WHERE
			TABLENAME = #{tableName}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM tb_autocode_bean WHERE TABLENAME=#{tableName}
 	</delete>
 	
 	<select id="findAll" resultType="com.cjmei.module.autocode.autocode.pojo.AutoCode">
 		SELECT * FROM tb_autocode_bean
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM tb_autocode_bean WHERE TABLENAME in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.cjmei.module.autocode.autocode.pojo.AutoCode" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   tb_autocode_bean 
						WHERE 1=1
                        <if test="autoCode.tableName!=null and autoCode.tableName!=''">
                            and TABLENAME LIKE CONCAT(CONCAT('%',#{autoCode.tableName:VARCHAR}),'%')
                        </if>
                        <if test="autoCode.beanName!=null and autoCode.beanName!=''">
                            and BEANNAME LIKE CONCAT(CONCAT('%',#{autoCode.beanName:VARCHAR}),'%')
                        </if>
                        <if test="autoCode.moduleDesc!=null and autoCode.moduleDesc!=''">
                            and MODULEDESC LIKE CONCAT(CONCAT('%',#{autoCode.moduleDesc:VARCHAR}),'%')
                        </if>

						
					
 	</select>
 	
 	
 	
</mapper>