<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.cell.diary.dao.DiaryDao">

	<select id="findById" resultType="com.cjmei.module.cell.diary.pojo.Diary">
		SELECT * FROM TB_DIARY diary
		where diary.ID = #{ID}
	</select>

	<insert id="save" parameterType="com.cjmei.module.cell.diary.pojo.Diary">
		<selectKey keyProperty="ID" resultType="String" order="BEFORE">select
			sys_guid() from dual</selectKey>

		INSERT INTO TB_DIARY diary (
		diary.ID,
		diary.UPDATETIME,
		diary.CONTENT,
		diary.CREATOR,
		diary.TIME,
		diary.TITLE,
		diary.CREATETIME
		)
		VALUES(
		#{ID:VARCHAR},
		#{updatetime:TIMESTAMP},
		#{content:VARCHAR},
		#{creator:VARCHAR},
		#{time:TIMESTAMP},
		#{title:VARCHAR},
		#{createtime:TIMESTAMP}

		)
	</insert>

	<update id="update" parameterType="com.cjmei.module.cell.diary.pojo.Diary">
		UPDATE TB_DIARY diary
		SET
		diary.UPDATETIME = #{updatetime:TIMESTAMP},
		diary.CONTENT = #{content:VARCHAR},
		diary.TIME = #{time:TIMESTAMP},
		diary.TITLE = #{title:VARCHAR}
		WHERE
		diary.ID = #{ID}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_DIARY diary WHERE diary.ID=#{ID}
	</delete>

	<select id="findAll" resultType="com.cjmei.module.cell.diary.pojo.Diary">
		SELECT * FROM TB_DIARY
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_DIARY WHERE ID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.cjmei.module.cell.diary.pojo.Diary"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_DIARY diary
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and (
			diary.CONTENT LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or
			diary.TIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or
			diary.TITLE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		<if test="userid!=null and userid!=''">
			and diary.CREATOR =#{userid:VARCHAR}
		</if>
		<if test="statedate!=null and statedate!=''">
			and to_char(diary.TIME,'yyyy-mm-dd') &gt;= #{statedate}
		</if>
		<if test="enddate!=null and enddate!=''">
			and to_char(diary.TIME,'yyyy-mm-dd') &lt;= #{enddate}
		</if>
		order by diary.TIME desc
	</select>



</mapper>