package @{packageUrl};

import java.io.Serializable;
import com.marks.common.util.date.DateUtil;

public class @{beanName} implements Serializable{

    private static final long serialVersionUID = 1L;
    
   

@{fields}

 public @{beanName}(){
@{initValue}
    }

@{getSetMethod}

	public String toLog(){
		return @{fieldStr};
	}
}