<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.weixin.wfhao.dao.WxUserDao">

    <select id="findById" resultType="com.cjmei.module.weixin.wfhao.pojo.WxUser">
		SELECT * FROM TB_WX_USER wxuser where wxuser.OPENID = #{openid}
 	</select>
 	
 	<insert id="save" parameterType="com.cjmei.module.weixin.wfhao.pojo.WxUser">
 		INSERT INTO TB_WX_USER wxuser (
            wxuser.OPENID,
            wxuser.NICKNAME,
            wxuser.GROUPID,
            wxuser.COUNTRY,
            wxuser.PROVINCE,
            wxuser.CITY,
            wxuser.SEX,
            wxuser.IMAGEURL,
            wxuser.LANGUAGE,
            wxuser.ISSUBSCRIBE,
            wxuser.SUBSCRIBETIME,
            wxuser.UPDATETIME,
            wxuser.ACCOUNTID,
            wxuser.CREATETIME,
            wxuser.USEFLAG,
            wxuser.QRNO,
            wxuser.REMARK
		)
		VALUES(
            #{openid:VARCHAR},
            #{nickname:VARCHAR},
            #{groupid:NUMERIC},
            #{country:VARCHAR},
            #{province:VARCHAR},
            #{city:VARCHAR},
            #{sex:NUMERIC},
            #{imageUrl:VARCHAR},
            #{language:VARCHAR},
            #{issubscribe:NUMERIC},
            #{subscribetime:TIMESTAMP},
            sysdate,
            #{accountid:VARCHAR},
            sysdate,
            #{useflag:NUMERIC},
            #{qrNo:VARCHAR},
            #{remark:VARCHAR}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.cjmei.module.weixin.wfhao.pojo.WxUser">
 		UPDATE TB_WX_USER wxuser
		SET 
                wxuser.NICKNAME = #{nickname:VARCHAR},
                wxuser.GROUPID = #{groupid:NUMERIC},
                wxuser.COUNTRY = #{country:VARCHAR},
                wxuser.PROVINCE = #{province:VARCHAR},
                wxuser.CITY = #{city:VARCHAR},
                wxuser.SEX = #{sex:NUMERIC},
                wxuser.IMAGEURL = #{imageUrl:VARCHAR},
                wxuser.LANGUAGE = #{language:VARCHAR},
                wxuser.ISSUBSCRIBE = #{issubscribe:NUMERIC},
                wxuser.SUBSCRIBETIME = #{subscribetime:TIMESTAMP},
                wxuser.UPDATETIME =sysdate,
                wxuser.ACCOUNTID = #{accountid:VARCHAR},
                wxuser.REMARK = #{remark:VARCHAR}
		WHERE
			wxuser.OPENID = #{openid}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_WX_USER wxuser WHERE wxuser.OPENID=#{openid}
 	</delete>
 	
 	<select id="findAll" resultType="com.cjmei.module.weixin.wfhao.pojo.WxUser">
 		SELECT * FROM TB_WX_USER
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_WX_USER WHERE OPENID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.cjmei.module.weixin.wfhao.pojo.WxUser" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_WX_USER wxuser
						WHERE 1=1
 and ( wxuser.OPENID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.NICKNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.GROUPID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.COUNTRY LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.PROVINCE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.CITY LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.SEX LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.IMAGEURL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.LANGUAGE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.ISSUBSCRIBE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.SUBSCRIBETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.ACCOUNTID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.USEFLAG LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.QRNO LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxuser.REMARK LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
 )
					
					
 	</select>
 	
 	
 	
</mapper>