<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.mall.stock.dao.BarCodeDao">

    <select id="findById" resultType="com.marks.module.mall.stock.pojo.BarCode">
		SELECT * FROM TB_MALL_TRACE_BARCODE t where t.BARCODE = #{barcode}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.mall.stock.pojo.BarCode">
		<!--<selectKey keyProperty="barcode" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>-->

 		INSERT INTO TB_MALL_TRACE_BARCODE  (
            BARCODE,
            COMPANYID,
            GOODID,
            GOODNO,
            BARNO,
            GOODNAME,
            CREATETIME,
            UPDATETIME,
            TRACEID,
            ACTIVESTATUS,
            STOCKSTATUS,
            ORGID,
            ORGNAME,
            PRODUCTDATE
		)
		VALUES(
		#{info.barcode:VARCHAR},
            #{info.companyId:VARCHAR},
            #{info.goodId:VARCHAR},
            #{info.goodNo:VARCHAR},
            #{info.barNo:VARCHAR},
            #{info.goodName:VARCHAR},
            sysdate,
            sysdate,
            #{info.traceId:VARCHAR},
            #{info.activeStatus:NUMERIC},
            #{info.stockStatus:NUMERIC},
            #{info.orgid:VARCHAR},
            #{info.orgname:VARCHAR},
            #{info.productDate:VARCHAR}			
			)
 	</insert>
 	
 	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO TB_MALL_TRACE_BARCODE (
			            BARCODE,
            COMPANYID,
            GOODID,
            GOODNO,
            BARNO,
            GOODNAME,
            CREATETIME,
            UPDATETIME,
            TRACEID,
            ACTIVESTATUS,
            STOCKSTATUS,
            ORGID,
            ORGNAME,
            PRODUCTDATE
		)
		VALUES
		<foreach collection="list" item="info" index="index"
			separator=",">
			(
				#{info.barcode:VARCHAR},
            #{info.companyId:VARCHAR},
            #{info.goodId:VARCHAR},
            #{info.goodNo:VARCHAR},
            #{info.barNo:VARCHAR},
            #{info.goodName:VARCHAR},
            sysdate,
            sysdate,
            #{info.traceId:VARCHAR},
            #{info.activeStatus:NUMERIC},
            #{info.stockStatus:NUMERIC},
            #{info.orgid:VARCHAR},
            #{info.orgname:VARCHAR},
            #{info.productDate:VARCHAR}			
			)
		</foreach>
	</insert>
 	
 	
 	<update id="update" parameterType="com.marks.module.mall.stock.pojo.BarCode">
 		UPDATE TB_MALL_TRACE_BARCODE 
		SET 
COMPANYID = #{info.companyId:VARCHAR},
            GOODID = #{info.goodId:VARCHAR},
            GOODNO = #{info.goodNo:VARCHAR},
            BARNO = #{info.barNo:VARCHAR},
            GOODNAME = #{info.goodName:VARCHAR},
            UPDATETIME = sysdate,
            TRACEID = #{info.traceId:VARCHAR},
            ACTIVESTATUS = #{info.activeStatus:NUMERIC},
            STOCKSTATUS = #{info.stockStatus:NUMERIC},
            ORGID = #{info.orgid:VARCHAR},
            ORGNAME = #{info.orgname:VARCHAR},
            PRODUCTDATE = #{info.productDate:VARCHAR}
		WHERE
			BARCODE = #{info.barcode}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_MALL_TRACE_BARCODE t WHERE t.BARCODE=#{barcode}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.mall.stock.pojo.BarCode">
 		SELECT * FROM TB_MALL_TRACE_BARCODE t
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_MALL_TRACE_BARCODE WHERE BARCODE in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.mall.stock.pojo.BarCode" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_MALL_TRACE_BARCODE t
						WHERE 1=1
                        <if test="keyword!=null and keyword!=''">
 and ( 2=1                             or t.BARCODE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.GOODNO LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.BARNO LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.GOODNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.TRACEID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.ORGNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
 )                        </if>

					
			    order by  t.UPDATETIME DESC				
 	</select>
 	
 	
 	
</mapper>