<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.nfb.module.wxmodulemsg.dao.WxbModuleMsgDao">

    <select id="findById" resultType="com.nfb.module.wxmodulemsg.entity.WxbModuleMsg">
		SELECT * FROM TB_WX_MODULE_MSG wxbmodulemsg where wxbmodulemsg.ID = #{id}
 	</select>
 	
 	<insert id="save" parameterType="com.nfb.module.wxmodulemsg.entity.WxbModuleMsg">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>

 		INSERT INTO TB_WX_MODULE_MSG wxbmodulemsg (
            wxbmodulemsg.ID,
            wxbmodulemsg.ACCOUNTID,
            wxbmodulemsg.TEMPLATE_ID,
            wxbmodulemsg.TOUSER,
            wxbmodulemsg.URL,
            wxbmodulemsg.DATA,
            wxbmodulemsg.NEEDFLAG,
            wxbmodulemsg.SENDFLAG,
            wxbmodulemsg.SENDTIMES,
            wxbmodulemsg.CREATETIME,
            wxbmodulemsg.SENDTIME,
            wxbmodulemsg.MSGID,
            wxbmodulemsg.PUSH_CODE,
            wxbmodulemsg.PUSH_MSG,
            wxbmodulemsg.RESULTCODE,
            wxbmodulemsg.RESULTMSG,
            wxbmodulemsg.NOTE
		)
		VALUES(
            #{id:VARCHAR},
            #{accountid:VARCHAR},
            #{template_id:VARCHAR},
            #{touser:VARCHAR},
            #{url:VARCHAR},
            #{data:VARCHAR},
            #{needflag:NUMERIC},
            #{sendflag:NUMERIC},
            #{sendtimes:NUMERIC},
            #{createtime:TIMESTAMP},
            #{sendtime:TIMESTAMP},
            #{msgid:VARCHAR},
            #{push_code:VARCHAR},
            #{push_msg:VARCHAR},
            #{resultcode:VARCHAR},
            #{resultMsg:VARCHAR},
            #{note:VARCHAR}
			)
 	</insert>
 	
 	<update id="update" parameterType="com.nfb.module.wxmodulemsg.entity.WxbModuleMsg">
 		UPDATE TB_WX_MODULE_MSG wxbmodulemsg
		SET 
                wxbmodulemsg.SENDFLAG = #{sendflag:NUMERIC},
                wxbmodulemsg.SENDTIMES = #{sendtimes:NUMERIC},
                wxbmodulemsg.SENDTIME = #{sendtime:TIMESTAMP},
                wxbmodulemsg.MSGID = #{msgid:VARCHAR},
                wxbmodulemsg.PUSH_CODE = #{push_code:VARCHAR},
                wxbmodulemsg.PUSH_MSG = #{push_msg:VARCHAR},
                wxbmodulemsg.RESULTCODE = #{resultcode:VARCHAR},
                wxbmodulemsg.RESULTMSG = #{resultMsg:VARCHAR}
		WHERE
			wxbmodulemsg.ID = #{id}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_WX_MODULE_MSG wxbmodulemsg WHERE wxbmodulemsg.ID=#{id}
 	</delete>
 	
 	<select id="findAll" resultType="com.nfb.module.wxmodulemsg.entity.WxbModuleMsg">
 		SELECT * FROM TB_WX_MODULE_MSG
 	</select>
 	<select id="getNeedPustMsg" resultType="com.nfb.module.wxmodulemsg.entity.WxbModuleMsg">
 		SELECT * FROM TB_WX_MODULE_MSG t where t.NEEDFLAG=1 and t.SENDFLAG in(0,2) and t.SENDTIMES &lt; 3 and ROWNUM &lt; #{limitnum}
 	</select>
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_WX_MODULE_MSG WHERE ID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 
</mapper>