<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.user.ext.dao.UserExtDao">

    <select id="findById" resultType="com.marks.module.user.ext.pojo.UserExt">
		SELECT * FROM TB_USER_EXT t where t.USERID = #{userid}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.user.ext.pojo.UserExt">
		<!--<selectKey keyProperty="userid" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>-->

 		INSERT INTO TB_USER_EXT  (
            USERID,
            USERCODE,
            USERNAME,
            COMPANYID,
            LVLID,
            LVLNAME,
            FIRST_OPERATE_TIME,
            LAST_OPERATE_TIME,
            FIRST_CONSUME_TIME,
            LAST_CONSUME_TIME,
            GRAND_TOTAL_POINT,
            GRAND_TOTAL_CONSUME_AMT,
            GRAND_TOTAL_CONSUME_NUMS,
            BALPOINT,
            LOCKPOINT,
            TOTALPOINT,
            FIRST_POINT_TIME,
            LAST_POINT_TIME,
            UPDATETIME,
            BALAMT,
            LOCKAMT,
            TOTALAMT,
            FIRST_RECHARGE_TIME,
            LAST_RECHARGE_TIME
		)
		VALUES(
		#{info.userid:VARCHAR},
            #{info.userCode:VARCHAR},
            #{info.userName:VARCHAR},
            #{info.companyId:VARCHAR},
            #{info.lvlId:VARCHAR},
            #{info.lvlName:VARCHAR},
            #{info.first_operate_time:VARCHAR},
            #{info.last_operate_time:VARCHAR},
            #{info.first_consume_time:VARCHAR},
            #{info.last_consume_time:VARCHAR},
            #{info.grand_total_point:NUMERIC},
            #{info.grand_total_consume_amt:VARCHAR},
            #{info.grand_total_consume_nums:NUMERIC},
            #{info.balPoint:NUMERIC},
            #{info.lockPoint:NUMERIC},
            #{info.totalPoint:NUMERIC},
            #{info.first_point_time:VARCHAR},
            #{info.last_point_time:VARCHAR},
            #{info.updatetime:VARCHAR},
            #{info.balAmt:VARCHAR},
            #{info.lockAmt:VARCHAR},
            #{info.totalAmt:VARCHAR},
            #{info.first_recharge_time:VARCHAR},
            #{info.last_recharge_time:VARCHAR}			
			)
 	</insert>
 	
 	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO TB_USER_EXT (
			            USERID,
            USERCODE,
            USERNAME,
            COMPANYID,
            LVLID,
            LVLNAME,
            FIRST_OPERATE_TIME,
            LAST_OPERATE_TIME,
            FIRST_CONSUME_TIME,
            LAST_CONSUME_TIME,
            GRAND_TOTAL_POINT,
            GRAND_TOTAL_CONSUME_AMT,
            GRAND_TOTAL_CONSUME_NUMS,
            BALPOINT,
            LOCKPOINT,
            TOTALPOINT,
            FIRST_POINT_TIME,
            LAST_POINT_TIME,
            UPDATETIME,
            BALAMT,
            LOCKAMT,
            TOTALAMT,
            FIRST_RECHARGE_TIME,
            LAST_RECHARGE_TIME
		)
		VALUES
		<foreach collection="list" item="info" index="index"
			separator=",">
			(
				#{info.userid:VARCHAR},
            #{info.userCode:VARCHAR},
            #{info.userName:VARCHAR},
            #{info.companyId:VARCHAR},
            #{info.lvlId:VARCHAR},
            #{info.lvlName:VARCHAR},
            #{info.first_operate_time:VARCHAR},
            #{info.last_operate_time:VARCHAR},
            #{info.first_consume_time:VARCHAR},
            #{info.last_consume_time:VARCHAR},
            #{info.grand_total_point:NUMERIC},
            #{info.grand_total_consume_amt:VARCHAR},
            #{info.grand_total_consume_nums:NUMERIC},
            #{info.balPoint:NUMERIC},
            #{info.lockPoint:NUMERIC},
            #{info.totalPoint:NUMERIC},
            #{info.first_point_time:VARCHAR},
            #{info.last_point_time:VARCHAR},
            #{info.updatetime:VARCHAR},
            #{info.balAmt:VARCHAR},
            #{info.lockAmt:VARCHAR},
            #{info.totalAmt:VARCHAR},
            #{info.first_recharge_time:VARCHAR},
            #{info.last_recharge_time:VARCHAR}			
			)
		</foreach>
	</insert>
 	
 	
 	<update id="update" parameterType="com.marks.module.user.ext.pojo.UserExt">
 		UPDATE TB_USER_EXT 
		SET 
			USERCODE = #{info.userCode:VARCHAR},
            USERNAME = #{info.userName:VARCHAR},
            COMPANYID = #{info.companyId:VARCHAR},
            LVLID = #{info.lvlId:VARCHAR},
            LVLNAME = #{info.lvlName:VARCHAR},
            FIRST_OPERATE_TIME = #{info.first_operate_time:VARCHAR},
            LAST_OPERATE_TIME = #{info.last_operate_time:VARCHAR},
            FIRST_CONSUME_TIME = #{info.first_consume_time:VARCHAR},
            LAST_CONSUME_TIME = #{info.last_consume_time:VARCHAR},
            GRAND_TOTAL_POINT = #{info.grand_total_point:NUMERIC},
            GRAND_TOTAL_CONSUME_AMT = #{info.grand_total_consume_amt:VARCHAR},
            GRAND_TOTAL_CONSUME_NUMS = #{info.grand_total_consume_nums:NUMERIC},
            BALPOINT = #{info.balPoint:NUMERIC},
            LOCKPOINT = #{info.lockPoint:NUMERIC},
            TOTALPOINT = #{info.totalPoint:NUMERIC},
            FIRST_POINT_TIME = #{info.first_point_time:VARCHAR},
            LAST_POINT_TIME = #{info.last_point_time:VARCHAR},
            UPDATETIME = #{info.updatetime:VARCHAR},
            BALAMT = #{info.balAmt:VARCHAR},
            LOCKAMT = #{info.lockAmt:VARCHAR},
            TOTALAMT = #{info.totalAmt:VARCHAR},
            FIRST_RECHARGE_TIME = #{info.first_recharge_time:VARCHAR},
            LAST_RECHARGE_TIME = #{info.last_recharge_time:VARCHAR}
		WHERE
			USERID = #{info.userid}
 	</update>
 	<!--
 	<update id="updateBatch" parameterType="List">

		<foreach collection="list" item="info" index="index"
			separator=";">
			UPDATE TB_USER_EXT 
		SET 
			USERCODE = #{info.userCode:VARCHAR},
            USERNAME = #{info.userName:VARCHAR},
            COMPANYID = #{info.companyId:VARCHAR},
            LVLID = #{info.lvlId:VARCHAR},
            LVLNAME = #{info.lvlName:VARCHAR},
            FIRST_OPERATE_TIME = #{info.first_operate_time:VARCHAR},
            LAST_OPERATE_TIME = #{info.last_operate_time:VARCHAR},
            FIRST_CONSUME_TIME = #{info.first_consume_time:VARCHAR},
            LAST_CONSUME_TIME = #{info.last_consume_time:VARCHAR},
            GRAND_TOTAL_POINT = #{info.grand_total_point:NUMERIC},
            GRAND_TOTAL_CONSUME_AMT = #{info.grand_total_consume_amt:VARCHAR},
            GRAND_TOTAL_CONSUME_NUMS = #{info.grand_total_consume_nums:NUMERIC},
            BALPOINT = #{info.balPoint:NUMERIC},
            LOCKPOINT = #{info.lockPoint:NUMERIC},
            TOTALPOINT = #{info.totalPoint:NUMERIC},
            FIRST_POINT_TIME = #{info.first_point_time:VARCHAR},
            LAST_POINT_TIME = #{info.last_point_time:VARCHAR},
            UPDATETIME = #{info.updatetime:VARCHAR},
            BALAMT = #{info.balAmt:VARCHAR},
            LOCKAMT = #{info.lockAmt:VARCHAR},
            TOTALAMT = #{info.totalAmt:VARCHAR},
            FIRST_RECHARGE_TIME = #{info.first_recharge_time:VARCHAR},
            LAST_RECHARGE_TIME = #{info.last_recharge_time:VARCHAR}
		WHERE
			USERID = #{info.userid}
		</foreach>

	</update>
 	-->
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_USER_EXT t WHERE t.USERID=#{userid}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.user.ext.pojo.UserExt">
 		SELECT * FROM TB_USER_EXT t
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_USER_EXT WHERE USERID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.user.ext.pojo.UserExt" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_USER_EXT t
						WHERE 1=1
                        <if test="keyword!=null and keyword!=''">
 and ( 2=1                             or t.USERCODE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.USERNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.LVLNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
 )                        </if>

					
			    order by  t.UPDATETIME DESC				
 	</select>
 	
 	
 	
</mapper>