<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>下单</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet"
	href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet"
	href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<link rel="stylesheet" href="../../../assets/css/marks1.css">
<link rel="stylesheet" href="./css/orderGood.css">
<script type='text/javascript'
	src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js' charset='utf-8'></script>
</head>
<body>
	<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
	<div id="app">
		<!-- 单个page ,第一个.page默认被展示-->
		<div>
			<!-- 标题栏 -->
			<header class="bar bar-nav cm-head">
				<h1 class="title">
					<span id="t_title">我的商品</span>
				</h1>
			</header>
			<!-- 这里是页面内容区 -->
			<div class="content cm-contnet-img">
				<div id="tooltips" class="tooltips"></div>
				<div class="list-block media-list my-list-block">
					<ul>
						<li class="item-content">
							<div class="item-media">
								<img src="../../../assets/image/Chrysanthemum.jpg"
									style="width: 90px; height: 90px;">
							</div>
							<div class="item-inner">
								<div class="item-title-row">
									<div class="item-title my-item-title">MO&Co.复古丝绒拼接透视V字领无袖短款背心女MA172TOP130
										moco</div>
								</div>
								<div class="item-subtitle" style="height: 15px;"></div>
								<div class="item-subtitle my-money">$100.00</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-block media-list my-list-block">
					<ul>
						<li class="item-content">
							<div class="item-media">
								<img src="../../../assets/image/Chrysanthemum.jpg"
									style="width: 90px; height: 90px;">
							</div>
							<div class="item-inner">
								<div class="item-title-row">
									<div class="item-title my-item-title">MO&Co.复古丝绒拼接透视V字领无袖短款背心女MA172TOP130
										moco</div>
								</div>
								<div class="item-subtitle" style="height: 15px;"></div>
								<div class="item-subtitle my-money">$100.00</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="list-block" style="font-size:12px;">
					<ul>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">&nbsp;&nbsp;&nbsp;</div>
								<div class="item-after">总价：￥100</div>
							</div>						
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">&nbsp;&nbsp;&nbsp;</div>
								<div class="item-after">优惠：￥0</div>
							</div>
						</li>
						<li class="item-content">
							<div class="item-inner">
								<div class="item-title">&nbsp;&nbsp;&nbsp;</div>
								<div class="item-after">实付：￥100</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="content-block">
					<div class="row">
						<div class="col-50">
							<a href="#" class="button button-big button-fill button-danger">扫一扫</a>
						</div>
						<div class="col-50">
							<a href="javascript:void(0)" class="button button-big button-fill button-success" id="payOrder">付款</a>
						</div>
						<div id="unionBox"></div>
                    	<div id="aliBox"></div>
					</div>
				</div>
			</div>

		</div>


	</div>
</body>

<script type='text/javascript'
	src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.6.2/js/sm.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../../../js/my-config.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../../../../../common/tool.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../../../../../common/wx/wxsdk.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../../../../../common/wx/wxPay.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../../../js/msg.js' charset='utf-8'></script>
<script type='text/javascript' src='./orderGood.js' charset='utf-8'></script>
</html>