<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.inner.cell.sysrole.dao.SysRoleDao">

	<select id="findById" resultType="com.marks.module.inner.cell.sysrole.pojo.SysRole">
		SELECT * FROM TB_SYS_ROLE where
		ROLEID = #{roleid}
	</select>

	<insert id="save" parameterType="com.marks.module.inner.cell.sysrole.pojo.SysRole">
		<selectKey keyProperty="roleid" resultType="String" order="BEFORE">select
			replace(uuid(),'-','')</selectKey>

		INSERT INTO TB_SYS_ROLE (
		ROLEID,
		ORGID,
		UPDATETIME,
		CREATOR,
		ROLENAME,
		CREATETIME
		)
		VALUES(
		#{roleid:VARCHAR},
		#{orgid:VARCHAR},
		#{updatetime:TIMESTAMP},
		#{creator:VARCHAR},
		#{rolename:VARCHAR},
		#{createtime:TIMESTAMP}

		)
	</insert>

	<update id="update" parameterType="com.marks.module.inner.cell.sysrole.pojo.SysRole">
		UPDATE TB_SYS_ROLE
		SET
		ORGID = #{orgid:VARCHAR},
		UPDATETIME = #{updatetime:TIMESTAMP},
		CREATOR = #{creator:VARCHAR},
		ROLENAME = #{rolename:VARCHAR},
		CREATETIME = #{createtime:TIMESTAMP}
		WHERE
		ROLEID = #{roleid}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_SYS_ROLE WHERE ROLEID=#{roleid}
	</delete>

	<select id="findAll" resultType="com.marks.module.inner.cell.sysrole.pojo.SysRole">
		SELECT * FROM TB_SYS_ROLE
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_SYS_ROLE WHERE ROLEID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.inner.cell.sysrole.pojo.SysRole"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_SYS_ROLE
		WHERE 1=1
		and ( sysrole.ROLEID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		<if test="keyword!=null and keyword!=''">
			or sysrole.ORGID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or sysrole.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or sysrole.CREATOR LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or sysrole.ROLENAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or sysrole.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		)


	</select>



</mapper>