<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>痕迹</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet"
	href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet"
	href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<!-- <link rel="stylesheet" href="../../../assets/css/marks0.css"> -->
</head>
<body>

	<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
	<div id="app">
		<!-- 单个page ,第一个.page默认被展示-->
		<div>
			<!-- 标题栏 -->
			<header class="bar bar-nav cm-head">
				<a class="icon icon-left pull-left back" href="./myInfo.html"></a>
				<h1 class="title">修改手机号码</h1>
			</header>
			<!-- 这里是页面内容区 -->
			<div id="content" class="content cm-content-2">
				<div id="tooltips" class="tooltips"></div>
				<div class="list-block">
					<ul>
						<!-- Text inputs -->
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-name"></i>
								</div>
								<div class="item-inner">
									<div class="item-input">
										<input type="tel" id="c_mobile" name="c_mobile"
											placeholder="新手机号码" maxlength="11" min="10000000000"
											max="19999999999">
									</div>
								</div>
							</div>
						</li>
						<li>
							<div class="item-content">
								<div class="item-media">
									<i class="icon icon-form-email"></i>
								</div>
								<div class="item-inner">
									<div class="item-input">
										<input type="password" id="c_password" name="c_password"
											placeholder="登录密码" maxlength="20">
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="content-block">
					<div class="row" style="margin-left: 0px;">
						<div id="isLoading">
							<a href="javascript:void(0)" onclick="summitForm()"
								class="button button-big button-fill button-success cm-btn">提交</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type='text/javascript'
	src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../../../../common/tool.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../../js/my-config.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../../js/msg.js' charset='utf-8'></script>
<script type="text/javascript" src="../../../../common/encrypt/aes.js"></script>
<script type="text/javascript"
	src="../../../../common/encrypt/mode-ecb.js"></script>
<script type="text/javascript" src="../../../../common/encrypt/aes_u.js"></script>
<script type='text/javascript' src='./changeMobile.js' charset='utf-8'></script>
</html>