<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.work.info.dao.WorkStepDao">

	<select id="findById" resultType="com.marks.module.work.info.pojo.WorkStep">
		SELECT * FROM TB_WORK_STEP t
		where t.STEPID = #{stepId}
	</select>

	<insert id="save" parameterType="com.marks.module.work.info.pojo.WorkStep">
		<!--<selectKey keyProperty="stepId" resultType="String" order="BEFORE">select 
			replace(uuid(),'-','')</selectKey> -->

		INSERT INTO TB_WORK_STEP (
		STEPID,
		COMPANYID,
		WROKID,
		CREATETIME,
		UPDATETIME,
		STEP,
		STEPNAME,
		ROLEID,
		ROLENAME,
		OPERATORID,
		OPERATORNAME,
		ENDTIME,
		OPERATESTATUS,
		OPERATORORGID,
		OPERATORORGNAME,
		REMARKS
		)
		VALUES(
		#{info.stepId:VARCHAR},
		#{info.companyId:VARCHAR},
		#{info.wrokId:VARCHAR},
		#{info.createtime:VARCHAR},
		#{info.updatetime:VARCHAR},
		#{info.step:VARCHAR},
		#{info.stepName:VARCHAR},
		#{info.roleId:VARCHAR},
		#{info.roleName:VARCHAR},
		#{info.operatorId:VARCHAR},
		#{info.operatorName:VARCHAR},
		#{info.endTime:VARCHAR},
		#{info.operateStatus:NUMERIC},
		#{info.operatorOrgId:VARCHAR},
		#{info.operatorOrgName:VARCHAR},
		#{info.remarks:VARCHAR}
		)
	</insert>

	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO TB_WORK_STEP (
		STEPID,
		COMPANYID,
		WROKID,
		CREATETIME,
		UPDATETIME,
		STEP,
		STEPNAME,
		ROLEID,
		ROLENAME,
		OPERATORID,
		OPERATORNAME,
		ENDTIME,
		OPERATESTATUS,
		OPERATORORGID,
		OPERATORORGNAME,
		REMARKS
		)
		VALUES
		<foreach collection="list" item="info" index="index"
			separator=",">
			(
			#{info.stepId:VARCHAR},
			#{info.companyId:VARCHAR},
			#{info.wrokId:VARCHAR},
			#{info.createtime:VARCHAR},
			#{info.updatetime:VARCHAR},
			#{info.step:VARCHAR},
			#{info.stepName:VARCHAR},
			#{info.roleId:VARCHAR},
			#{info.roleName:VARCHAR},
			#{info.operatorId:VARCHAR},
			#{info.operatorName:VARCHAR},
			#{info.endTime:VARCHAR},
			#{info.operateStatus:NUMERIC},
			#{info.operatorOrgId:VARCHAR},
			#{info.operatorOrgName:VARCHAR},
			#{info.remarks:VARCHAR}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.marks.module.work.info.pojo.WorkStep">
		UPDATE TB_WORK_STEP
		SET
		COMPANYID = #{info.companyId:VARCHAR},
		WROKID = #{info.wrokId:VARCHAR},
		UPDATETIME = #{info.updatetime:VARCHAR},
		STEP = #{info.step:VARCHAR},
		STEPNAME = #{info.stepName:VARCHAR},
		ROLEID = #{info.roleId:VARCHAR},
		ROLENAME = #{info.roleName:VARCHAR},
		OPERATORID = #{info.operatorId:VARCHAR},
		OPERATORNAME = #{info.operatorName:VARCHAR},
		ENDTIME = #{info.endTime:VARCHAR},
		OPERATESTATUS = #{info.operateStatus:NUMERIC},
		OPERATORORGID = #{info.operatorOrgId:VARCHAR},
		OPERATORORGNAME = #{info.operatorOrgName:VARCHAR},
		REMARKS = #{info.remarks:VARCHAR}
		WHERE
		STEPID = #{info.stepId}
	</update>
	<!-- <update id="updateBatch" parameterType="List"> <foreach collection="list" 
		item="info" index="index" separator=";"> UPDATE TB_WORK_STEP SET COMPANYID 
		= #{info.companyId:VARCHAR}, WROKID = #{info.wrokId:VARCHAR}, UPDATETIME 
		= #{info.updatetime:VARCHAR}, STEP = #{info.step:VARCHAR}, STEPNAME = #{info.stepName:VARCHAR}, 
		ROLEID = #{info.roleId:VARCHAR}, ROLENAME = #{info.roleName:VARCHAR}, OPERATORID 
		= #{info.operatorId:VARCHAR}, OPERATORNAME = #{info.operatorName:VARCHAR}, 
		ENDTIME = #{info.endTime:VARCHAR}, OPERATESTATUS = #{info.operateStatus:NUMERIC}, 
		OPERATORORGID = #{info.operatorOrgId:VARCHAR}, OPERATORORGNAME = #{info.operatorOrgName:VARCHAR}, 
		REMARKS = #{info.remarks:VARCHAR} WHERE STEPID = #{info.stepId} </foreach> 
		</update> -->
	<delete id="delete" parameterType="String">
		DELETE FROM TB_WORK_STEP WHERE STEPID=#{stepId}
	</delete>

	<select id="findAll" resultType="com.marks.module.work.info.pojo.WorkStep">
		SELECT * FROM TB_WORK_STEP t
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_WORK_STEP WHERE STEPID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.work.info.pojo.WorkStep"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_WORK_STEP t
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and ( 2=1 or t.STEPID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.COMPANYID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.WROKID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.STEP LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.STEPNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.ROLEID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.ROLENAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.OPERATORID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.OPERATORNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.ENDTIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.OPERATORORGID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.REMARKS LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>


		order by t.UPDATETIME DESC
	</select>



</mapper>