<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>问题</title>
<link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="../../assets/css/marks.css">
</head>
<body>
	<div id="app">
		<div id="cmHead"></div>
		<div class='container'>
			<div style="text-align: center;">
				<div>
					<div class="sui-form sui-form pull-left">
						<a href="./add.html" class="sui-btn cm-btn"
							>添加</a>
					</div>
					<div class="sui-form sui-form pull-right">
						<input type="text" id="keyword" name="keyword"
							placeholder="标题/内容/日期" style="width: 250px; margin-left: 10px;">
						<button class="sui-btn" onclick="mysearch();">搜索</button>
					</div>
				</div>
				<table class="sui-table table-zebra">
					<thead>
						<tr>
							<th width="4%">序号</th>
							<th width="4%">级别</th>
							<th width="20%">问题</th>
							<th width="40%">解决方案</th>
							<th width="20%">标签</th>
							<th width="12%">创建时间</th>
						</tr>
					</thead>
					<tbody id="trDiv">

					</tbody>
				</table>
				<div class="sui-pagination pagination-naked pagination-large">
					<ul>
						<li class="prev"><a href="javascript:void(0)"
							onclick="lastPage()">上一页</a></li>
						<li><span class="ex-page-status" id="pageShow"></span></li>
						<li class="next"><a href="javascript:void(0)"
							onclick="nextPage()">下一页 </a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript"
	src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript"
	src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
<script type='text/javascript' src='../../js/my-config.js'
	charset='utf-8'></script>
<script type="text/javascript" src="../../js/showMsg.js"></script>
<script type='text/javascript' src='../../../../common/tool.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../note.js' charset='utf-8'></script>
<script type="text/javascript" src="./list.js"></script>
<script type="text/html" id="trDivTmp">
<tr>
<td>{idx}</td>
<td>{lvlName}</td>
<td><a class="sui-text-info" href="./detail.html?id={id}" style="word-break:break-word;">{question}</a></td>
<td style="word-break:break-word;">{solution}</td>
<td>{labels}</td>
<td>{createtime}</td>
</tr>
</script>
</html>