<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.inner.wx.newsitem.dao.NewsItemDao">

	<select id="findById" resultType="com.marks.module.inner.wx.newsitem.pojo.NewsItem">
		SELECT * FROM
		TB_WX_AUTO_REPLAY_NEWSITEM newsitem where newsitem.ID = #{id}
	</select>

	<insert id="save" parameterType="com.marks.module.inner.wx.newsitem.pojo.NewsItem">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">SELECT
			'N'||SEQ_WX_AUTO_REPLAY_NEWS.nextval FROM dual
		</selectKey>

		INSERT INTO TB_WX_AUTO_REPLAY_NEWSITEM newsitem (
		newsitem.ID,
		newsitem.TITLE,
		newsitem.DESCRIPTION,
		newsitem.PICURL,
		newsitem.URL,
		newsitem.SORT,
		newsitem.ACCOUNTID,
		newsitem.CREATETIME,
		newsitem.UPDATETIME,
		newsitem.CREATOR
		)
		VALUES(
		#{id:VARCHAR},
		#{title:VARCHAR},
		#{description:VARCHAR},
		#{picUrl:VARCHAR},
		#{url:VARCHAR},
		#{sort:NUMERIC},
		#{accountid:VARCHAR},
		sysdate,
		sysdate,
		#{creator:VARCHAR}

		)
	</insert>

	<update id="update" parameterType="com.marks.module.inner.wx.newsitem.pojo.NewsItem">
		UPDATE
		TB_WX_AUTO_REPLAY_NEWSITEM newsitem
		SET
		newsitem.TITLE =
		#{title:VARCHAR},
		newsitem.DESCRIPTION = #{description:VARCHAR},
		newsitem.PICURL = #{picUrl:VARCHAR},
		newsitem.URL = #{url:VARCHAR},
		newsitem.SORT = #{sort:NUMERIC},
		newsitem.UPDATETIME = sysdate
		WHERE
		newsitem.ID = #{id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM
		TB_WX_AUTO_REPLAY_NEWSITEM newsitem WHERE newsitem.ID=#{id}
	</delete>

	<select id="findAll" resultType="com.marks.module.inner.wx.newsitem.pojo.NewsItem">
		SELECT * FROM
		TB_WX_AUTO_REPLAY_NEWSITEM
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_WX_AUTO_REPLAY_NEWSITEM WHERE ID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.inner.wx.newsitem.pojo.NewsItem"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_WX_AUTO_REPLAY_NEWSITEM newsitem
		WHERE 1=1
		<if test="accountIds !=null">
			and newsitem.accountid in
			<foreach collection="accountIds" item="oid" index="index"
				open="(" separator="," close=")">
				#{oid}
			</foreach>
		</if>
		<if test="keyword!=null and keyword!=''">
			and (
			newsitem.ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or newsitem.TITLE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or newsitem.DESCRIPTION LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or newsitem.PICURL LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or newsitem.ACCOUNTID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or newsitem.CREATOR LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			)
		</if>
		order by newsitem.UPDATETIME desc

	</select>
	<select id="getnewItems" resultType="com.marks.module.inner.wx.newsitem.pojo.NewsItem"
		parameterType="java.util.Map">
		SELECT *
		FROM
		TB_WX_AUTO_REPLAY_NEWSITEM newsitem
		WHERE 1=1
		<if test="accountIds !=null">
			and wxmenuurl.accountid in
			<foreach collection="accountIds" item="oid" index="index"
				open="(" separator="," close=")">
				#{oid}
			</foreach>
		</if>
		order by newsitem.UPDATETIME desc

	</select>
	<select id="countNews" resultType="int">
		select count(1) from tb_wx_auto_replay t where t.creplay like '%${newsId}%'
	</select>
	<select id="getNewsItemByIds" resultType="com.marks.module.inner.wx.newsitem.pojo.NewsItem">
		select * from tb_wx_auto_replay_newsitem t where t.id in
		<foreach collection="newsItemIds" item="id" open="("
			separator="," close=")">
			#{id}
		</foreach>
		order by t.sort desc
	</select>
</mapper>