<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.mall.goodinfo.dao.GoodInfoDao">

    <select id="findById" resultType="com.marks.module.mall.goodinfo.pojo.GoodInfo">
		SELECT * FROM TB_MALL_GOOD_INFO where GOODID = #{goodId}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.mall.goodinfo.pojo.GoodInfo">
		<selectKey keyProperty="goodId" resultType="String" order="BEFORE">select replace(uuid(),'-','')</selectKey>

 		INSERT INTO TB_MALL_GOOD_INFO (
            GOODID,
            GOODNAME,
            GOODPRICE,
            UNIT,
            IMAGEURL,
            CREATETIME,
            UPDATETIME,
            CREATOR
		)
		VALUES(
            #{goodId:VARCHAR},
            #{goodName:VARCHAR},
            #{goodPrice:NUMERIC},
            #{unit:VARCHAR},
            #{imageUrl:VARCHAR},
            #{createtime:TIMESTAMP},
            #{updatetime:TIMESTAMP},
            #{creator:VARCHAR}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.marks.module.mall.goodinfo.pojo.GoodInfo">
 		UPDATE TB_MALL_GOOD_INFO 
		SET 
                GOODNAME = #{goodName:VARCHAR},
                GOODPRICE = #{goodPrice:NUMERIC},
                UNIT = #{unit:VARCHAR},
                IMAGEURL = #{imageUrl:VARCHAR},
                CREATETIME = #{createtime:TIMESTAMP},
                UPDATETIME = #{updatetime:TIMESTAMP},
                CREATOR = #{creator:VARCHAR}
		WHERE
			GOODID = #{goodId}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_MALL_GOOD_INFO WHERE GOODID=#{goodId}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.mall.goodinfo.pojo.GoodInfo">
 		SELECT * FROM TB_MALL_GOOD_INFO
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_MALL_GOOD_INFO WHERE GOODID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.mall.goodinfo.pojo.GoodInfo" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_MALL_GOOD_INFO 
						WHERE 1=1
 and ( goodinfo.GOODID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        <if test="keyword!=null and keyword!=''">
                            or goodinfo.GOODNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or goodinfo.GOODPRICE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or goodinfo.UNIT LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or goodinfo.IMAGEURL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or goodinfo.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or goodinfo.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or goodinfo.CREATOR LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
 )
						
					
 	</select>
 	
 	
 	
</mapper>