<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.marks.module.wx.wfhao.dao.WxAutoReplayDao">
	<!-- 加载系统参数 -->
	<select id="getWxAutoReplayByKey" resultType="com.marks.module.wx.wfhao.pojo.WxAutoReplay">
		select * from
		tb_wx_auto_replay t where t.accountid=#{accountId} and t.ckey=#{ckey}
	</select>

	<select id="getNewsItemByIds" resultType="com.marks.module.wx.wfhao.pojo.NewsItem">
		select * from tb_wx_auto_replay_newsitem t where t.id in
		<foreach collection="newsItemIds" item="id" open="("
			separator="," close=")">
			#{id}
		</foreach>
		order by t.sort desc
	</select>
</mapper>