<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>下单</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet"
	href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet"
	href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<!-- <link rel="stylesheet" href="../../../assets/css/marks.css"> -->
<script type='text/javascript'
	src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js' charset='utf-8'></script>
</head>
<body>
	<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
	<div id="app">
		<!-- 单个page ,第一个.page默认被展示-->
		<div>
			<!-- 标题栏 -->
			<header class="bar bar-nav cm-head">
				<h1 class="title">
					<span id="t_title">我的商品</span> 
				</h1>
			</header>
			<!-- 这里是页面内容区 -->
			<div class="content cm-contnet-img">
				<div id="tooltips" class="tooltips"></div>
				<div class="content-padded">
					<div><button onclick="scanQR();">扫一扫</button></div>
					<div><button onclick="wxPay();">微信支付</button></div>
					<div><button onclick="unionPay();">微信支付</button></div>
					<div><button onclick="aliPay();">微信支付</button></div>
					<div id="unionBox"></div>
                    <div id="aliBox"></div>
				</div>
			</div>


		</div>
</body>

<script type='text/javascript'
	src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../../js/my-config.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../../../../common/tool.js'
	charset='utf-8'></script>
<!-- <script type='text/javascript' src='../../../../common/wx/wxsdk.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../../../../common/wx/wxPay.js'
	charset='utf-8'></script> -->
<script type='text/javascript' src='../../js/msg.js' charset='utf-8'></script>
<script type='text/javascript' src='./orderDetail.js' charset='utf-8'></script>
</html>