<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.inner.wx.qrcode.dao.QrcodeDao">

	<select id="findById" resultType="com.marks.module.inner.wx.qrcode.pojo.Qrcode">
		SELECT * FROM TB_WX_QRCODE
		qrcode where qrcode.ID = #{id}
	</select>

	<select id="findByQrNo" resultType="com.marks.module.inner.wx.qrcode.pojo.Qrcode">
		SELECT * FROM TB_WX_QRCODE
		qrcode where qrcode.QRNO = #{qrNo} and qrcode.ACCOUNTID=#{accountid}
	</select>

	<insert id="save" parameterType="com.marks.module.inner.wx.qrcode.pojo.Qrcode">
		INSERT INTO TB_WX_QRCODE  (
		ID,
		QRNO,
		QRNAME,
		QRTYPE,
		QRURL,
		ACCOUNTID,
		QRPATH,
		SCENETYPE,
		CREATETIME,
		UPDATETIME,
		CREATOR,
		COMPANYID
		)
		VALUES(
		#{id:VARCHAR},
		#{qrNo:VARCHAR},
		#{qrName:VARCHAR},
		#{qrType:VARCHAR},
		#{qrUrl:VARCHAR},
		#{accountid:VARCHAR},
		#{qrPath:VARCHAR},
		#{sceneType:VARCHAR},
		now(),
		now(),
		#{creator:VARCHAR},
		#{companyId:VARCHAR}

		)
	</insert>

	<update id="update" parameterType="com.marks.module.inner.wx.qrcode.pojo.Qrcode">
		UPDATE TB_WX_QRCODE 
		SET
		QRNAME = #{qrName:VARCHAR},
		UPDATETIME = now()
		WHERE
		ID = #{id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_WX_QRCODE
		WHERE ID = #{id}
	</delete>

	<select id="findAll" resultType="com.marks.module.inner.wx.qrcode.pojo.Qrcode">
		SELECT * FROM TB_WX_QRCODE
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_WX_QRCODE WHERE ID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.inner.wx.qrcode.pojo.Qrcode"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_WX_QRCODE qrcode
		WHERE 1=1
		<if test="companyId !=null and companyId !=''">
			and qrcode.COMPANYID=#{companyId}
		</if>
		<if test="keyword!=null and keyword!=''">

			and (
			
			qrcode.QRNO LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or qrcode.QRNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or qrcode.QRTYPE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or qrcode.QRURL LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or qrcode.ACCOUNTID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or qrcode.SCENETYPE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or to_char(qrcode.CREATETIME,'yyyy-MM-dd') LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			
			or qrcode.CREATOR LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		order by qrcode.UPDATETIME desc

	</select>



</mapper>