<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.wx.wxaccount.dao.WxAccountDao">

	<select id="findById" resultType="com.marks.module.wx.wxaccount.pojo.WxAccount">
		SELECT * FROM TB_WX_ACCOUNT
		wxaccount where wxaccount.ACCOUNTID = #{accountId}
	</select>

	<insert id="save" parameterType="com.marks.module.wx.wxaccount.pojo.WxAccount">
		INSERT INTO TB_WX_ACCOUNT
		wxaccount (
		wxaccount.ACCOUNTID,
		wxaccount.URL,
		wxaccount.TOKEN,
		wxaccount.AESKEY,
		wxaccount.CREATOR,
		wxaccount.CREATETIME,
		wxaccount.SERVER_CONTEXT,
		wxaccount.WX_ACCTNO,
		wxaccount.IS_SERVICE,
		wxaccount.ACCTTYPE,
		wxaccount.UPDATETIME,
		wxaccount.ACCOUNTNAME,
		wxaccount.ORGID,
		wxaccount.APPID,
		wxaccount.APPSECRET,
		wxaccount.authdomain,
		wxaccount.COMPANYID
		)
		VALUES(
		#{accountId:VARCHAR},
		#{url:VARCHAR},
		#{token:VARCHAR},
		#{aeskey:VARCHAR},
		#{creator:VARCHAR},
		#{createtime:TIMESTAMP},
		#{server_context:VARCHAR},
		#{wx_acctno:VARCHAR},
		#{is_service:NUMERIC},
		#{accttype:NUMERIC},
		#{updatetime:TIMESTAMP},
		#{accountname:VARCHAR},
		#{orgid:VARCHAR},
		#{appid:VARCHAR},
		#{appsecret:VARCHAR},
		#{authdomain:VARCHAR},
		#{companyId:VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.marks.module.wx.wxaccount.pojo.WxAccount">
		UPDATE TB_WX_ACCOUNT wxaccount
		SET
		wxaccount.URL = #{url:VARCHAR},
		wxaccount.TOKEN = #{token:VARCHAR},
		wxaccount.AESKEY = #{aeskey:VARCHAR},
		wxaccount.SERVER_CONTEXT =
		#{server_context:VARCHAR},
		wxaccount.WX_ACCTNO = #{wx_acctno:VARCHAR},
		wxaccount.IS_SERVICE = #{is_service:NUMERIC},
		wxaccount.ACCTTYPE =
		#{accttype:NUMERIC},
		wxaccount.UPDATETIME = #{updatetime:TIMESTAMP},
		wxaccount.ACCOUNTNAME = #{accountname:VARCHAR},
		wxaccount.ORGID =
		#{orgid:VARCHAR},
		wxaccount.APPID = #{appid:VARCHAR},
		wxaccount.APPSECRET = #{appsecret:VARCHAR},
		wxaccount.authdomain =
		#{authdomain:VARCHAR},
		wxaccount.COMPANYID=#{companyId:VARCHAR}
		WHERE
		wxaccount.ACCOUNTID = #{accountId}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_WX_ACCOUNT
		wxaccount WHERE wxaccount.ACCOUNTID=#{accountId}
	</delete>

	<select id="findAll" resultType="com.marks.module.wx.wxaccount.pojo.WxAccount">
		SELECT * FROM TB_WX_ACCOUNT
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_WX_ACCOUNT WHERE ACCOUNTID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.wx.wxaccount.pojo.WxAccount"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_WX_ACCOUNT wxaccount
		WHERE 1=1
		<if test="accountIds !=null">
			and wxaccount.ACCOUNTID in
			<foreach collection="accountIds" item="oid" index="index" open="("
				separator="," close=")">
				#{oid}
			</foreach>
		</if>
		and ( wxaccount.ACCOUNTID LIKE
		CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		<if test="keyword!=null and keyword!=''">
			or wxaccount.URL LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.TOKEN LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.AESKEY LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.CREATOR LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.CREATETIME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.SERVER_CONTEXT LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.WX_ACCTNO LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.IS_SERVICE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.ACCTTYPE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.UPDATETIME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.ACCOUNTNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.ORGID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.APPID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.APPSECRET LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxaccount.authdomain LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		)

		order by wxaccount.UPDATETIME desc

	</select>

	<select id="getWxfwhaoList" resultType="com.marks.module.wx.wxaccount.pojo.WxAccount">
		SELECT *
		FROM
		TB_WX_ACCOUNT wxaccount
		WHERE 1=1
		<if test="accountIds !=null">
			and wxaccount.ACCOUNTID in
			<foreach collection="accountIds" item="oid" index="index" open="("
				separator="," close=")">
				#{oid}
			</foreach>
		</if>
		and wxaccount.accttype=0 and wxaccount.is_service=1
		order by wxaccount.ACCOUNTNAME
	</select>
	
	<select id="getAccountIdsByLoginUser" resultType="String">
		SELECT wxaccount.ACCOUNTID
		FROM
		TB_WX_ACCOUNT wxaccount
		WHERE 1=1
		<if test="orgids !=null">
			and wxaccount.orgid in
			<foreach collection="orgids" item="oid" index="index" open="("
				separator="," close=")">
				#{oid}
			</foreach>
		</if>
		<if test="conpanyId !=null and conpanyId != ''">
			and wxaccount.COMPANYID = #{conpanyId}
		</if>
		order by wxaccount.ACCOUNTNAME
	</select>

</mapper>