<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.inner.note.plan.dao.PlanDao">

	<select id="findById" resultType="com.marks.module.inner.note.plan.pojo.Plan">
		SELECT * FROM TB_NOTE_PLAN plan
		where plan.ID = #{id}
	</select>

	<insert id="save" parameterType="com.marks.module.inner.note.plan.pojo.Plan">

		INSERT INTO TB_NOTE_PLAN (
		ID,
		PLANTXT,
		COMPLETETXT,
		ISCOMPLETE,
		CREATETIME,
		UPDATETIME,
		CREATOR,
		MOBILE
		)
		VALUES(
		#{id:VARCHAR},
		#{planTxt:VARCHAR},
		#{completeTxt:VARCHAR},
		#{isComplete:VARCHAR},
		now(),
		now(),
		#{creator:VARCHAR},
		#{mobile:VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.marks.module.inner.note.plan.pojo.Plan">
		UPDATE TB_NOTE_PLAN
		SET
		PLANTXT
		= #{planTxt:VARCHAR},
		COMPLETETXT = #{completeTxt:VARCHAR},
		ISCOMPLETE =
		#{isComplete:VARCHAR},
		UPDATETIME = now()
		WHERE
		ID = #{id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_NOTE_PLAN 
		WHERE ID=#{id}
	</delete>

	<select id="findAll" resultType="com.marks.module.inner.note.plan.pojo.Plan">
		SELECT * FROM TB_NOTE_PLAN
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_NOTE_PLAN WHERE ID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.inner.note.plan.pojo.Plan"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_NOTE_PLAN plan
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and ( 2=1 or plan.PLANTXT LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or plan.COMPLETETXT LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or
			to_char(plan.CREATETIME,'yyyyMMdd') LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or plan.MOBILE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		<if test="s_isComplete!=null and s_isComplete!=''">
			and plan.ISCOMPLETE=#{s_isComplete}
		</if>
		<if test="creator!=null and creator!=''">
			and plan.CREATOR=#{creator}
		</if>
		order by plan.UPDATETIME DESC
	</select>



</mapper>