<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>问题</title>
<link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="../../../assets/css/marks.css">

</head>
<body>
	<div>
		<div id="cmHead"></div>

		<div id="app" class='container'>
			<div style="text-align: -webkit-left; margin: 30px;">
				<div class="sui-form form-horizontal">
					<div class="control-group" style="width: 100%;">

						<div class="controls">
							<input type="text" id="c_title" name="c_title"
								class="input-xlarge cm-input" placeholder="问题"
								style="width: 100%; height: 35px;" onblur="submitForm()">
						</div>
					</div>
					<div class="control-group" style="width: 100%;">
						<div class="controls">
							<label data-toggle="radio" class="radio-pretty inline checked L3">
								<input type="radio" checked="checked" name="c_lvl" value="L3" onblur="submitForm()"><span>一般</span>
							</label> 
							<label data-toggle="radio" class="radio-pretty inline L2">
								<input type="radio" name="c_lvl" value="L2" onblur="submitForm()"><span>较严重</span>
							</label> 
							<label data-toggle="radio" class="radio-pretty inline L1">
								<input type="radio" name="c_lvl" value="L1" onblur="submitForm()"><span>严重</span>
							</label>
						</div>
					</div>
					<div class="control-group" style="width: 100%;">
						<div class="controls">
							<textarea style="height: 26rem; width: 100%;" id="c_content"
								name="c_content" class="input-xxlarge cm-input" placeholder="解决"
								onblur="submitForm()"></textarea>
						</div>
					</div>
					<div class="control-group" style="width: 100%;">
						<div class="controls">
							<input type="text" id="c_label" name="c_label"
								class="input-xlarge cm-input" placeholder="标签"
								style="width: 100%; height: 35px;" onblur="submitForm()">
						</div>
					</div>
					<!-- <div class="control-group" style="width: 100%; text-align: center;">
						<div class="controls">
							<button class="sui-btn" style="width: 120px; height: 40px;"
								onclick="submitForm()">提交</button>
						</div>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript"
	src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript"
	src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
<script type='text/javascript' src='../../../js/my-config.js'
	charset='utf-8'></script>
<script type="text/javascript" src="../../../js/showMsg.js"></script>
<script type='text/javascript' src='../../../../common/tool.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../note.js' charset='utf-8'></script>
<script type="text/javascript" src="./add.js"></script>
</html>