<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>管理平台</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=7">
<meta http-equiv="pragma" content="no-cache">
<meta http-equiv="cache-control" content="no-cache">
<meta name="format-detection" content="telephone=no, email=no" />
<link rel="stylesheet" type="text/css"
	href="../../../easyui/css/themes/default/easyui.css">
<link rel="stylesheet" type="text/css"
	href="../../../easyui/css/themes/icon.css">
<link rel="stylesheet" type="text/css" href="../../../css/base.css">
<script type="text/javascript" src="../../../js/jquery-1.9.1.min.js"></script>
<script type="text/javascript"
	src="../../../easyui/js/jquery.easyui.min.js"></script>
<script type="text/javascript"
	src="../../../easyui/js/locale/easyui-lang-zh_CN.js"></script>
<script type="text/javascript" src="../../../js/base-config.js"></script>
<script type="text/javascript" src="../../../js/sysmsg.js"></script>
<script type="text/javascript" src="../../../js/tool.js"></script>
</head>

<body>

	<div id="mainPanel">
		<p class="nav-header-cls">微信模板>>微信模板</p>
		<div id="tb" style="padding: 5px 0;">
			<table>
				<tr>
					<td><input type="text" id="keyword" name="keyword"
						style="width: 260px;" placeholder="关键字" /></td>
					<td><a id="doSearch" href="javascript:void(0)"
						class="easyui-linkbutton menuBtnCls"
						data-options="iconCls:'icon-search'">查询</a></td>
				</tr>
			</table>
			<div>
				<span id="operateBtns"></span>
			</div>
		</div>
		<table id="tbList">
		</table>
	</div>

	<div id="editWin" class="easyui-window"
		data-options="modal:true,closed:true,
		minimizable:false,
		maximizable:false,
		draggable:true,
		collapsible:false"
		style="width: 400px; height: 450px; padding: 10px;">
		<div align="center" style="width: 100%;">
			<form id="ff" name="ff" method="post">
				<table>
					<tr>
						<th style="width: 100px; text-align: right;">服务号&nbsp;&nbsp;:&nbsp;&nbsp;</th>
						<td><input id="accountid" name="accountid"
							class="easyui-combobox"
							data-options="required:true,valueField:'accountId',textField:'accountname',url:'/inner/wxAccount/combox.do'"
							style="width: 200px;"></td>
					</tr>
					<tr>
						<th style="width: 100px; text-align: right;">主键ID&nbsp;&nbsp;:&nbsp;&nbsp;</th>
						<td><input id="ywType" name="ywType"
							class="easyui-validatebox" data-options="required:true"
							style="width: 200px;"></td>
					</tr>
					<tr>
						<th style="width: 80px; text-align: right;">微信模板ID&nbsp;&nbsp;:&nbsp;&nbsp;</th>
						<td><input id="template_id" name="template_id"
							class="easyui-validatebox" data-options="required:true"
							style="width: 200px;"></td>
					</tr>
					<tr>
						<th style="width: 80px; text-align: right;">微信模板标题&nbsp;&nbsp;:&nbsp;&nbsp;</th>
						<td><input id="template_name" name="template_name"
							class="easyui-validatebox" data-options="required:true"
							style="width: 200px;"></td>
					</tr>
					<tr>
						<th style="width: 80px; text-align: right;">首行内容&nbsp;&nbsp;:&nbsp;&nbsp;</th>
						<td><input id="first_content" name="first_content"
							class="easyui-validatebox" data-options="required:true"
							style="width: 200px;"></td>
					</tr>
					<tr>
						<th style="width: 80px; text-align: right;">尾行内容&nbsp;&nbsp;:&nbsp;&nbsp;</th>
						<td><input id="remark_content" name="remark_content"
							class="easyui-validatebox" data-options="required:true"
							style="width: 200px;"></td>
					</tr>
					<tr>
						<th style="width: 80px; text-align: right;">访问URL&nbsp;&nbsp;:&nbsp;&nbsp;</th>
						<td><input id="detailUrl" name="detailUrl"
							class="easyui-validatebox" style="width: 200px;"></td>
					</tr>
					<tr>
						<th style="width: 80px; text-align: right;">启用标识&nbsp;&nbsp;:&nbsp;&nbsp;</th>
						<td><select id="status" class="easyui-combobox" name="status"
							style="width: 200px;" data-options="required:true">
								<option value="1">启用</option>
								<option value="0">禁用</option>
						</select></td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center"><a id="btnCancel"
							name="btnCancel" href="javascript:void(0)"
							class="easyui-linkbutton" style="width: 100px;"
							data-options="iconCls:'icon-cancel'">取消</a>
							&nbsp;&nbsp;&nbsp;&nbsp; <a id="btnOK" name="btnOK"
							href="javascript:void(0)" class="easyui-linkbutton"
							style="width: 100px;" data-options="iconCls:'icon-save'">保存</a></td>
					</tr>
				</table>
			</form>
		</div>
	</div>

</body>
<script src="js/wxTemplate.js"></script>
</html>
