<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.wx.newsitem.dao.NewsItemDao">

    <select id="findById" resultType="com.marks.module.wx.newsitem.pojo.NewsItem">
		SELECT * FROM TB_WX_AUTO_REPLAY_NEWSITEM where ID = #{id}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.wx.newsitem.pojo.NewsItem">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select replace(uuid(),'-','')</selectKey>

 		INSERT INTO TB_WX_AUTO_REPLAY_NEWSITEM (
            ID,
            TITLE,
            DESCRIPTION,
            PICURL,
            URL,
            SORT,
            ACCOUNTID,
            CREATETIME,
            UPDATETIME,
            CREATOR
		)
		VALUES(
            #{id:VARCHAR},
            #{title:VARCHAR},
            #{description:VARCHAR},
            #{picUrl:VARCHAR},
            #{url:VARCHAR},
            #{sort:NUMERIC},
            #{accountid:VARCHAR},
            #{createtime:TIMESTAMP},
            #{updatetime:TIMESTAMP},
            #{creator:VARCHAR}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.marks.module.wx.newsitem.pojo.NewsItem">
 		UPDATE TB_WX_AUTO_REPLAY_NEWSITEM 
		SET 
                TITLE = #{title:VARCHAR},
                DESCRIPTION = #{description:VARCHAR},
                PICURL = #{picUrl:VARCHAR},
                URL = #{url:VARCHAR},
                SORT = #{sort:NUMERIC},
                ACCOUNTID = #{accountid:VARCHAR},
                CREATETIME = #{createtime:TIMESTAMP},
                UPDATETIME = #{updatetime:TIMESTAMP},
                CREATOR = #{creator:VARCHAR}
		WHERE
			ID = #{id}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_WX_AUTO_REPLAY_NEWSITEM WHERE ID=#{id}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.wx.newsitem.pojo.NewsItem">
 		SELECT * FROM TB_WX_AUTO_REPLAY_NEWSITEM
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_WX_AUTO_REPLAY_NEWSITEM WHERE ID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.wx.newsitem.pojo.NewsItem" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_WX_AUTO_REPLAY_NEWSITEM 
						WHERE 1=1
 and ( newsitem.ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        <if test="keyword!=null and keyword!=''">
                            or newsitem.TITLE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or newsitem.DESCRIPTION LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or newsitem.PICURL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or newsitem.URL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or newsitem.SORT LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or newsitem.ACCOUNTID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or newsitem.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or newsitem.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or newsitem.CREATOR LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
 )
						
					
 	</select>
 	
 	
 	
</mapper>