body {
	background-color: rgba(255, 245, 238, 0.45);
}

.cm-head {
	background-color: pink;
}

.cm-search {
	background-color: hsla(66, 73%, 55%, 0.09);
}

.cm-content {
	background-color: rgba(255, 245, 238, 0.45);
}

.cm-leftPanel {
	background-color: rgb(255, 245, 238);
}

.cm-contnet-img {
	background-image: url('../image/back_1.jpg') !important;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.cm-btn {
	background-color: rgba(255, 235, 59, 0.81) !important;
	color: #ffffff;
	width: 100px;
	margin-bottom: 20px;
}