<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.system.sysconf.dao.SysConfDao">

	<select id="findById" resultType="com.cjmei.module.system.sysconf.pojo.SysConf">
		SELECT * FROM TB_SYS_CONF
		sysconf where sysconf.CKEY = #{ckey}
	</select>

	<insert id="save" parameterType="com.cjmei.module.system.sysconf.pojo.SysConf">
		INSERT INTO TB_SYS_CONF sysconf (
		sysconf.CKEY,
		sysconf.CVALUE,
		sysconf.CKEYNAME,
		sysconf.COMPANYID,
		sysconf.CREATETIME,
		sysconf.UPDATETIME,
		sysconf.CREATOR
		)
		VALUES(
		#{ckey:VARCHAR},
		#{cvalue:VARCHAR},
		#{ckeyName:VARCHAR},
		#{companyId:VARCHAR},
		sysdate,
		sysdate,
		#{creator:VARCHAR}

		)
	</insert>

	<update id="update" parameterType="com.cjmei.module.system.sysconf.pojo.SysConf">
		UPDATE TB_SYS_CONF sysconf
		SET
		sysconf.CVALUE = #{cvalue:VARCHAR},
		sysconf.CKEYNAME =
		#{ckeyName:VARCHAR},
		sysconf.UPDATETIME = sysdate
		WHERE
		sysconf.CKEY =
		#{ckey}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_SYS_CONF
		sysconf WHERE sysconf.CKEY=#{ckey}
	</delete>

	<select id="findAll" resultType="com.cjmei.module.system.sysconf.pojo.SysConf">
		SELECT * FROM TB_SYS_CONF
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_SYS_CONF WHERE CKEY in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.cjmei.module.system.sysconf.pojo.SysConf"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_SYS_CONF sysconf
		WHERE 1=1
		<if test="companyId !=null and companyId !=''">
			and sysconf.COMPANYID=#{companyId}
		</if>
		<if test="keyword!=null and keyword!=''">
			and ( sysconf.CKEY LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or sysconf.CVALUE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or sysconf.CKEYNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>



	</select>



</mapper>