<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.wx.wxchatmsg.dao.WxChatMsgDao">

    <select id="findById" resultType="com.marks.module.wx.wxchatmsg.pojo.WxChatMsg">
		SELECT * FROM TB_WX_CHAT_MSG where ID = #{id}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.wx.wxchatmsg.pojo.WxChatMsg">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select replace(uuid(),'-','')</selectKey>

 		INSERT INTO TB_WX_CHAT_MSG (
            ID,
            FANID,
            C_TYPE,
            USERID,
            C_CONTENT,
            CREATETIME,
            C_REPLAYTYPE,
            SESSION_ID
		)
		VALUES(
            #{id:VARCHAR},
            #{fanId:VARCHAR},
            #{c_type:NUMERIC},
            #{userid:VARCHAR},
            #{c_content:VARCHAR},
            now(),
            #{c_replayType:VARCHAR},
            #{session_id:VARCHAR}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.marks.module.wx.wxchatmsg.pojo.WxChatMsg">
 		UPDATE TB_WX_CHAT_MSG 
		SET 
                FANID = #{fanId:VARCHAR},
                C_TYPE = #{c_type:NUMERIC},
                USERID = #{userid:VARCHAR},
                C_CONTENT = #{c_content:VARCHAR},
                C_REPLAYTYPE = #{c_replayType:VARCHAR},
                SESSION_ID = #{session_id:VARCHAR}
		WHERE
			ID = #{id}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_WX_CHAT_MSG WHERE ID=#{id}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.wx.wxchatmsg.pojo.WxChatMsg">
 		SELECT * FROM TB_WX_CHAT_MSG
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_WX_CHAT_MSG WHERE ID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.wx.wxchatmsg.pojo.WxChatMsg" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_WX_CHAT_MSG 
						WHERE 1=1
                        <if test="keyword!=null and keyword!=''">
 and ( wxchatmsg.ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or wxchatmsg.FANID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or wxchatmsg.C_TYPE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or wxchatmsg.USERID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or wxchatmsg.C_CONTENT LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or to_char(wxchatmsg.CREATETIME,'yyyy-MM-dd') LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or wxchatmsg.C_REPLAYTYPE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or wxchatmsg.SESSION_ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
 )                        </if>

						
					
 	</select>
 	
 	
 	
</mapper>