<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>商品</title>
<link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css"
	rel="stylesheet">
<script type="text/javascript"
	src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript"
	src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
<script type="text/javascript" src="../../../assets/vue.min.js"></script>
<script type="text/javascript" src="../../../js/showMsg.js"></script>
<style type="text/css">
.cls1 {
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: left;
}
</style>
</head>
<body>
	<div id="showMsg"></div>
	<div class="sui-navbar">
		<div class="navbar-inner">
			<a href="#" class="sui-brand">商城</a>
			<ul class="sui-nav">
				<li><a href="#" style="color: red;">首页</a></li>
				<li><a href="#" style="color: red;">私人定制</a></li>
				<li class="active"><a href="./goodList/goodList.html"
					style="color: red;">商城区</a></li>
				<li><a href="#" style="color: red;">募集区</a></li>
			</ul>
			<ul class="sui-nav pull-right">
				<li><a href="#">个人中心</a></li>
				<li><a href="#">帮助</a></li>
			</ul>
		</div>
	</div>
	<div class='container'>
		<div id="app">
			<ul class="sui-nav nav-tabs nav-xlarge nav-primary"
				style="margin-left: 205px;">
				<li class="active"><a>首页</a></li>
				<li><a href="#">女装</a></li>
				<li><a href="#">男装</a></li>
			</ul>
			<div class="sui-layout">
				<div class="sidebar" style="text-align: center;">
					<ul class="sui-nav nav-tabs nav-xlarge nav-pills tab-vertical"
						style="width: 100%;">
						<li><a>最新</a></li>
						<li class="active"><a href="#">最热</a></li>
						<li><a href="#">时尚</a></li>
					</ul>
				</div>
				<div class="content">
					<div class="sui-row">
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
						<div class="span2">
							<img :src="imageUrl"> <span>1 ￥</span>
						</div>
					</div>
					<div class="sui-pagination pagination-naked pagination-large" style="text-align: center;">
						<ul>
							<li class="prev disabled"><a href="#">上一页</a></li>
							<li><span class="ex-page-status">1/10</span></li>
							<li class="next"><a href="#">下一页 </a></li>
						</ul>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
<script src="goodList.js"></script>
</html>