<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.inner.system.sysuser.dao.SysUserDao">

	<select id="findById" resultType="com.marks.module.inner.system.sysuser.pojo.SysUser">
		select * from tb_sys_user t
		where t.userid=#{userid}
	</select>
	<select id="findByUserid" resultType="com.marks.module.inner.system.sysuser.pojo.SysUser">
		select distinct
		u.*,
		tsr.rolename
		from TB_SYS_USER u 
		join tb_sys_role tsr on u.roleid = tsr.roleid
		where u.USERID =#{userid}
	</select>

	<select id="findByMobile" resultType="com.marks.module.inner.system.sysuser.pojo.SysUser">
		select * from tb_sys_user t
		where t.bind_mobile=#{mobile}
	</select>
	<select id="getUserIdForUser" resultType="String">
		SELECT 'U'||SEQ_SYS_USER.nextval FROM dual
	</select>
	<insert id="save" parameterType="com.marks.module.inner.system.sysuser.pojo.SysUser">
		INSERT INTO TB_SYS_USER sysuser
		(
		sysuser.USERID,
		sysuser.USERNAME,
		sysuser.PASSWORD,
		sysuser.BIND_MOBILE,
		sysuser.ACTIVEFLAG,
		sysuser.CREATETIME,
		sysuser.UPDATETIME,
		sysuser.CREATOR,
		sysuser.COMPANYID,
		sysuser.TOKEN,
		sysuser.ROLEID
		)
		VALUES(
		#{userid:VARCHAR},
		#{username:VARCHAR},
		#{password:VARCHAR},
		#{bind_mobile:VARCHAR},
		#{activeFlag:NUMERIC},
		sysdate,
		sysdate,
		#{creator:VARCHAR},
		#{companyId:VARCHAR},
		#{token:VARCHAR},
		#{roleid:VARCHAR}

		)
	</insert>

	<update id="update" parameterType="com.marks.module.inner.system.sysuser.pojo.SysUser">
		UPDATE TB_SYS_USER sysuser
		SET
		sysuser.USERNAME = #{username:VARCHAR},
		sysuser.ACTIVEFLAG =
		#{activeFlag:NUMERIC},
		sysuser.UPDATETIME = sysdate,
		sysuser.COMPANYID =
		#{companyId:VARCHAR},
		sysuser.TOKEN = #{token:VARCHAR},
		sysuser.ROLEID=#{roleid:VARCHAR}
		WHERE
		sysuser.USERID
		= #{userid}
	</update>

	<update id="updatetPwd" parameterType="com.marks.module.inner.system.sysuser.pojo.SysUser">
		UPDATE TB_SYS_USER sysuser
		SET
		sysuser.PASSWORD = #{password:VARCHAR},
		sysuser.UPDATETIME = sysdate
		WHERE
		sysuser.USERID
		= #{userid}
	</update>

	<update id="updateActiveFlag">
		UPDATE TB_SYS_USER
		SET
		ACTIVEFLAG = #{flag},
		UPDATETIME =
		sysdate
		WHERE
		USERID
		= #{userid}
	</update>

	<update id="updateMobile">
		UPDATE TB_SYS_USER sysuser
		SET
		sysuser.BIND_MOBILE =
		#{newPhone:VARCHAR},
		sysuser.UPDATETIME = sysdate
		WHERE
		sysuser.USERID
		=
		#{userid}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_SYS_USER
		sysuser WHERE sysuser.USERID=#{userid}
	</delete>
	<select id="findAll" resultType="com.marks.module.inner.system.sysuser.pojo.SysUser">
		SELECT * FROM TB_SYS_USER
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_SYS_USER WHERE USERID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.inner.system.sysuser.pojo.SysUser"
		parameterType="java.util.Map">
		SELECT distinct sysuser.*,
		tsr.rolename,
		orgtb.orgidsStr,
		orgtb.orgidNamesStr
		FROM TB_SYS_USER sysuser
		join tb_sys_role tsr on ( sysuser.roleid = tsr.roleid and tsr.showflag=1)
		join (select
		tsuo.userid, listagg(toi.orgid, ',') within
		group(
		order by toi.orgid)
		over(partition by tsuo.userid) as orgidsStr,
		listagg(toi.orgname, ',')
		within
		group(
		order by toi.orgid) over(partition by tsuo.userid) as
		orgidNamesStr
		from tb_sys_user_org tsuo
		join tb_org_info toi on
		tsuo.orgid = toi.orgid
		where 1=1
		<if test="orgids !=null">
			and toi.orgid in
			<foreach collection="orgids" item="oid" index="index" open="("
				separator="," close=")">
				#{oid}
			</foreach>
		</if>
		) orgtb on sysuser.userid =
		orgtb.userid
		WHERE 1=1 and sysuser.userid !='system'
		<if test="companyId !=null and companyId != ''">
			and sysuser.COMPANYID = #{companyId}
		</if>
		<if test="keyword!=null and keyword!=''">
			and (
			sysuser.USERID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or sysuser.USERNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or sysuser.BIND_MOBILE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or sysuser.ACTIVEFLAG LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or sysuser.CREATETIME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or sysuser.CREATOR LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or sysuser.COMPANYID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or sysuser.TOKEN LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			)
		</if>
		<if test="sorgid !=null and sorgid != ''">
			and orgtb.orgidsStr like '%${sorgid}%'
		</if>
		<if test="s_role !=null and s_role != ''">
			and sysuser.roleid like '%${s_role}%'
		</if>
		order by sysuser.UPDATETIME desc
	</select>

	<delete id="deleteSysUserOrg" parameterType="String">
		DELETE FROM
		tb_sys_user_org t WHERE t.USERID=#{userid}
	</delete>
	<insert id="saveSysUserOrg" parameterType="com.marks.module.inner.system.sys.pojo.SysUserOrg">
		INSERT INTO
		tb_sys_user_org (
		USERID,
		ORGID,
		CREATETIME,
		UPDATETIME,
		CREATOR
		)
		VALUES(
		#{userid:VARCHAR},
		#{orgid:VARCHAR},
		sysdate,
		sysdate,
		#{creator:VARCHAR}
		)
	</insert>
	<update id="updateSkin" flushCache="true">
		update tb_sys_user set
		skin=#{skin},UPDATETIME=sysdate where userid=#{userid}
	</update>
</mapper>