@import '../variable/color.scss';

@mixin vueAddress{
    &>.vue_addressBox{
        width: 100%;
        display: flex;
        justify-content: space-between;
        &>div{
            width: 32%;
            position: relative;
            &>select{
                width: 100%;
                height: 40px;
                border-radius: 5px;
                border: solid 1px $borderColor;
                padding: 0 20px 0 10px;
            }
            &:after{
                content: "";
                display: block;
                width: 8px;
                height: 8px;
                border-right: solid 1px $f-okColor;
                border-bottom: solid 1px $f-okColor;
                transform: rotate(45deg);
                position: absolute;
                top: 13px;
                right: 7px;
            }
        }
    }
}