@mixin oneOverflow{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin moreOverflow($line: 2){
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: $line;
	overflow: hidden;
}