@import '../variable/color.scss';

@mixin zoneSelect{
    &>.zoneSelectBox{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $writeBgColor;
        z-index: 100000;
        &>.zoneSelectBody{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 2.2rem;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            & li{
                padding: 10px;
                position: relative;
                &:before{
                    @include bottomLine;
                }
                &:active{
                    box-shadow: inset 0px 100px 0px rgba(0,0,0,0.1);
                }
            }
            & .next{
                display: flex;
                justify-content: space-between;
                align-items: center;
                &:after{
                    content: "";
                    width: 8px;
                    height: 8px;
                    border-top: solid 1px $borderColor;
                    border-right: solid 1px $borderColor;
                    transform: rotate(45deg);
                }
            }
        }
        &>.zoneSelectFooter{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2.2rem;
            display: flex;
            justify-content: space-around;
            align-items: center;
            &:before{
                @include topLine;
            }
            &>a{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 35%;
                height: 34px;
                background: $btn-warnColor;
                color: $f-writeColor;
                border-radius: 5px;
            }
        }
    }
    &>.zoneExpand-transition{
        will-change: transform;
        transition: all .3s cubic-bezier(.55,0,.1,1);
    }
    &>.zoneExpand-enter, &>.zoneExpand-leave{
        opacity: 0;
        transform: translateY(100%);
    }
    
}