<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjmei.module.system.sys.dao.LoginDao">
	<!-- 通过userid获取系统用户 -->
	<select id="getSysUserByUserid" resultType="com.cjmei.module.system.sys.pojo.SysUser">
		SELECT
		TSU.*,
		tsur.ROLEID
		FROM
		TB_SYS_USER tsu,
		TB_SYS_USER_ROLE tsur
		WHERE
		tsu.USERID =
		TSUR.USERID
		AND tsu.USERID = #{userid}
	</select>
	<!-- 加载父级菜单 -->
	<select id="getParentSysMenu" resultType="com.cjmei.module.system.sys.pojo.SysMenu">
		SELECT DISTINCT
		VSRM.MENUID,
		VSRM.MENUITEM,
		VSRM.PARENTID,
		VSRM.URL,
		vsrm.nsort
		FROM
		VIEW_SYS_ROLE_MENU vsrm
		WHERE
		vsrm.PARENTID = '0' order by vsrm.nsort
	</select>

	<select id="getChildMenu" resultType="com.cjmei.module.system.sys.pojo.SysMenu">
		SELECT DISTINCT
		VSRM.MENUID,
		VSRM.MENUITEM,
		VSRM.PARENTID,
		VSRM.URL,
		vsrm.nsort
		FROM
		VIEW_SYS_ROLE_MENU vsrm
		WHERE 1=1
		<!-- AND VSRM.ROLEID=#{roleid} -->
		and vsrm.PARENTID != '0' order by vsrm.nsort
	</select>
	<select id="getSysOperate" resultType="com.cjmei.module.system.sys.pojo.SysOperate">
		SELECT distinct
		VSRF.OPERID,
		VSRF.OPERNAME,
		VSRF.PICICON,
		vsrf.sort
		FROM
		VIEW_SYS_ROLE_FUNC vsrf where <!-- VSRF.ROLEID=#{roleid} AND -->
		 VSRF.MENUID =
		#{menuid}
		order by vsrf.sort
	</select>
	
	<select id="getUrlByUserid" resultType="String">
		SELECT DISTINCT
		sf.url
		FROM
		tb_sys_user_role sur
		JOIN tb_sys_role_func srf ON SUR.ROLEID = SRF.ROLEID
		JOIN tb_sys_func sf ON sf.funcid = srf.funcid
		where SUR.USERID=#{userid}
	</select>
	<select id="getSysRoleByRoleid" resultType="com.cjmei.module.cell.sysrole.pojo.SysRole">
		select * from tb_sys_role t where t.roleid=#{roleid}
	</select>
	
	<select id="getShopidsByOrgid" resultType="String">
		select t.shopid from tb_shop_info t where t.companyid=#{orgid}
	</select>
</mapper>