<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cjmei.module.system.sys.dao.LoginDao">

	<resultMap type="com.cjmei.module.system.sys.pojo.SysUser"
		id="sysUserMap">
		<result property="userid" column="USERID" />
		<result property="username" column="USERNAME" />
		<result property="password" column="PASSWORD" />
		<result property="tel" column="TEL" />
		<result property="activeflag" column="ACTIVEFLAG" />
		<result property="createtime" column="CREATETIME" />
		<result property="updatetime" column="UPDATETIME" />
		<result property="roleid" column="ROLEID" />
	</resultMap>
	<!-- 通过userid获取系统用户 -->
	<select id="getSysUserByUserid" resultType="com.cjmei.module.system.sys.pojo.SysUser">
		SELECT
		TSU.*,
		tsur.ROLEID
		FROM
		TB_SYS_USER tsu,
		TB_SYS_USER_ROLE tsur
		WHERE
		tsu.USERID =
		TSUR.USERID
		AND tsu.USERID = #{userid}
	</select>
	<!-- 加载父级菜单 -->
	<select id="getParentSysMenu" resultType="com.cjmei.module.system.sys.pojo.SysMenu">
		SELECT DISTINCT
		VSRM.MENUID,
		VSRM.MENUITEM,
		VSRM.PARENTID,
		VSRM.URL
		FROM
		VIEW_SYS_ROLE_MENU vsrm
		WHERE
		vsrm.PARENTID = '0'
	</select>

	<select id="getChildMenu" resultType="com.cjmei.module.system.sys.pojo.SysMenu">
		SELECT DISTINCT
		VSRM.MENUID,
		VSRM.MENUITEM,
		VSRM.PARENTID,
		VSRM.URL
		FROM
		VIEW_SYS_ROLE_MENU vsrm
		WHERE 1=1
		AND VSRM.ROLEID=#{roleid}
		and vsrm.PARENTID != '0'
	</select>
	<select id="getSysOperate" resultType="com.cjmei.module.system.sys.pojo.SysOperate">
		SELECT distinct
		VSRF.OPERID,
		VSRF.OPERKEY,
		VSRF.OPERNAME,
		VSRF.PICICON
		FROM
		VIEW_SYS_ROLE_FUNC vsrf where VSRF.ROLEID=#{roleid}
		AND VSRF.MENUID =
		#{menuid}
	</select>
</mapper>