<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.org.orginfo.dao.OrgInfoDao">

	<select id="findById" resultType="com.marks.module.org.orginfo.pojo.OrgInfo">
		SELECT * FROM TB_ORG_INFO
		orginfo where orginfo.ORGID = #{orgid} or orginfo.LOGOID=#{orgid}
	</select>
	<select id="getOrgId" resultType="String">
		SELECT max(t.orgid) FROM
		TB_ORG_INFO
		t where t.ORGTYPE !=1
	</select>
	<select id="getCompanyId" resultType="String">
		SELECT max(t.orgid) FROM
		TB_ORG_INFO
		t where t.ORGTYPE=1
	</select>

	<insert id="save" parameterType="com.marks.module.org.orginfo.pojo.OrgInfo">
		INSERT INTO TB_ORG_INFO
		(
		ORGID,
		CREATOR,
		ORGNAME,
		CREATETIME,
		UPDATETIME,
		USEFLAG,
		PARENTID,
		parentName,
		LVL,
		COMPANYID,
		ORGTYPE,
		LOGOID,
		lvl2Id,
		lvl2Name,
		lvl3Id,
		lvl3Name,
		lvl4Id,
		lvl4Name,
		lvl5Id,
		lvl5Name,
		lvl6Id,
		lvl6Name,
		areaId,
		areaName,
		address,
		linkman,
		linkTel,
		orgCategory
		)
		VALUES(
		#{orgid:VARCHAR},
		#{creator:VARCHAR},
		#{orgname:VARCHAR},
		now(),
		now(),
		#{useflag:NUMERIC},
		#{parentId:VARCHAR},
		#{parentName:VARCHAR},
		#{lvl:NUMERIC},
		#{companyId:VARCHAR},
		#{orgType:VARCHAR},
		#{logoId:VARCHAR},
		#{lvl2Id:VARCHAR},
		#{lvl2Name:VARCHAR},
		#{lvl3Id:VARCHAR},
		#{lvl3Name:VARCHAR},
		#{lvl4Id:VARCHAR},
		#{lvl4Name:VARCHAR},
		#{lvl5Id:VARCHAR},
		#{lvl5Name:VARCHAR},
		#{lvl6Id:VARCHAR},
		#{lvl6Name:VARCHAR},
		#{areaId:VARCHAR},
		#{areaName:VARCHAR},
		#{address:VARCHAR},
		#{linkman:VARCHAR},
		#{linkTel:VARCHAR},
		#{orgCategory:NUMERIC}
		)
	</insert>

	<update id="update" parameterType="com.marks.module.org.orginfo.pojo.OrgInfo">
		UPDATE TB_ORG_INFO
		SET
		linkman=#{linkman:VARCHAR},
		linkTel=#{linkTel:VARCHAR},
		ORGNAME =
		#{orgname:VARCHAR},
		UPDATETIME = now(),
		USEFLAG =
		#{useflag:NUMERIC},
		PARENTID=#{parentId:VARCHAR},
		parentName=#{parentName:VARCHAR},
		LVL=#{lvl:NUMERIC},
		ORGTYPE=#{orgType:VARCHAR},
		LOGOID=#{logoId:VARCHAR},
		lvl2Id=#{lvl2Id:VARCHAR},
		lvl2Name=#{lvl2Name:VARCHAR},
		lvl3Id=#{lvl3Id:VARCHAR},
		lvl3Name=#{lvl3Name:VARCHAR},
		lvl4Id=#{lvl4Id:VARCHAR},
		lvl4Name=#{lvl4Name:VARCHAR},
		lvl5Id=#{lvl5Id:VARCHAR},
		lvl5Name=#{lvl5Name:VARCHAR},
		lvl6Id=#{lvl6Id:VARCHAR},
		lvl6Name=#{lvl6Name:VARCHAR},
		areaId=#{areaId:VARCHAR},
		areaName=#{areaName:VARCHAR},
		address=#{address:VARCHAR}
		WHERE
		ORGID =
		#{orgid}
	</update>

	<update id="updateMoreLvlName">
		UPDATE TB_ORG_INFO
		SET
		lvl#{lvl}Name=#{orgname}
		WHERE
		lvl#{lvl}Id =#{orgid}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_ORG_INFO WHERE
		ORGID=#{orgid}
	</delete>

	<select id="findAll" resultType="com.marks.module.org.orginfo.pojo.OrgInfo">
		SELECT * FROM TB_ORG_INFO t
		where t.USEFLAG=1
		<if test="companyId !=null and companyId !=''">
			and t.COMPANYID=#{companyId}
		</if>
		<if test="orgType !=null and orgType !=''">
			and t.orgType in (${orgType})
		</if>
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_ORG_INFO WHERE ORGID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>
	<select id="frameCombo" resultType="com.marks.module.org.orginfo.pojo.OrgInfo"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_ORG_INFO orginfo
		WHERE 1=1
		<if test="orgType!=null and orgType!=''">
			and orginfo.ORGTYPE in (${orgType})
		</if>
		<if test="orgCategory!=null and orgCategory!=''">
			and orginfo.orgCategory in (${orgCategory})
		</if>
		<if test="companyId !=null and companyId !=''">
			and orginfo.ORGID=#{companyId}
		</if>
		order by
		orginfo.UPDATETIME desc
	</select>
	<select id="list" resultType="com.marks.module.org.orginfo.pojo.OrgInfo"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_ORG_INFO orginfo
		WHERE 1=1
		<if test="orgType!=null and orgType!=''">
			and orginfo.ORGTYPE in (${orgType})
		</if>
		<if test="orgCategory!=null and orgCategory!=''">
			and orginfo.orgCategory in (${orgCategory})
		</if>
		<if test="keyword!=null and keyword!=''">
			and ( orginfo.ORGID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or orginfo.CREATOR LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or orginfo.ORGNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		<if test="companyId !=null and companyId !=''">
			and orginfo.COMPANYID=#{companyId}
		</if>
		order by
		orginfo.UPDATETIME desc
	</select>
	<select id="getTreeGridByParentId" resultType="com.marks.module.org.orginfo.pojo.OrgInfo">
		select t.*,
		p2.orgname parentName,
		(case
		when cnum is null then
		'open'
		else
		'closed'
		end) state
		from tb_org_info t
		left join tb_org_info p2 on
		t.parentid =
		p2.orgid
		left join (select count(1) cnum, p.parentid pid
		from
		tb_org_info p
		group by p.parentid) p on t.orgid = p.pid
		where 1=1
		and
		t.COMPANYID=#{companyId} and t.orgType !=2
		<if test="orgType !=null and orgType !=''">
			and t.orgType in (${orgType})
		</if>
		AND t.parentid =#{parentId}
		ORDER BY t.orgtype,t.updatetime desc
	</select>

	<select id="getChildList" resultType="com.marks.module.org.orginfo.pojo.OrgInfo">
		select * from tb_org_info t
		where t.parentid=#{orgid}
	</select>

	<update id="updateOrgChildNum">
		update tb_org_info t,
		(select t2.parentid,count(1)
		cnum from tb_org_info t2 group by t2.parentid) b
		set t.childnum=b.cnum
		where b.parentid=t.orgid and t.orgid=#{orgid}
	</update>
</mapper>