<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.mall.stock.dao.AdjustInfoDao">

	<select id="findById" resultType="com.marks.module.mall.stock.pojo.AdjustInfo">
		SELECT * FROM
		TB_MALL_STOCK_ADJUST_INFO t where t.ORDERID = #{orderId}
	</select>

	<insert id="save" parameterType="com.marks.module.mall.stock.pojo.AdjustInfo">
		<!--<selectKey keyProperty="orderId" resultType="String" order="BEFORE">select 
			replace(uuid(),'-','')</selectKey> -->

		INSERT INTO TB_MALL_STOCK_ADJUST_INFO (
		ORDERID,
		UPDATETIME,
		ORGID,
		ORGNAME,
		TOTALNUMS,
		TOTALAMT,
		CREATETIME,
		CREATORCODE,
		CREATORNAME,
		CREATEDATE,
		STATUS,
		CHECKSTATUS,
		CHECKERID,
		CHECKER,
		CHECKTIME,
		YWCODE,
		YWNAME,
		TYPECODE,
		TYPENAME,
		companyId,
		remarks
		)
		VALUES(
		#{info.orderId:VARCHAR},
		#{info.updatetime:VARCHAR},
		#{info.orgId:VARCHAR},
		#{info.orgName:VARCHAR},
		#{info.totalNums:NUMERIC},
		#{info.totalAmt:VARCHAR},
		#{info.createtime:VARCHAR},
		#{info.creatorCode:VARCHAR},
		#{info.creatorName:VARCHAR},
		#{info.createDate:VARCHAR},
		#{info.status:NUMERIC},
		#{info.checkStatus:NUMERIC},
		#{info.checkerId:VARCHAR},
		#{info.checker:VARCHAR},
		#{info.checkTime:VARCHAR},
		#{info.ywCode:VARCHAR},
		#{info.ywName:VARCHAR},
		#{info.typeCode:VARCHAR},
		#{info.typeName:VARCHAR},
		#{info.companyId:VARCHAR},
		#{info.remarks:VARCHAR}
		)
	</insert>

	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO TB_MALL_STOCK_ADJUST_INFO (
		ORDERID,
		UPDATETIME,
		ORGID,
		ORGNAME,
		TOTALNUMS,
		TOTALAMT,
		CREATETIME,
		CREATORCODE,
		CREATORNAME,
		CREATEDATE,
		STATUS,
		CHECKSTATUS,
		CHECKERID,
		CHECKER,
		CHECKTIME,
		YWCODE,
		YWNAME,
		TYPECODE,
		TYPENAME,
		companyId,
		remarks
		)
		VALUES
		<foreach collection="list" item="info" index="index"
			separator=",">
			(
			#{info.orderId:VARCHAR},
			#{info.updatetime:VARCHAR},
			#{info.orgId:VARCHAR},
			#{info.orgName:VARCHAR},
			#{info.totalNums:NUMERIC},
			#{info.totalAmt:VARCHAR},
			#{info.createtime:VARCHAR},
			#{info.creatorCode:VARCHAR},
			#{info.creatorName:VARCHAR},
			#{info.createDate:VARCHAR},
			#{info.status:NUMERIC},
			#{info.checkStatus:NUMERIC},
			#{info.checkerId:VARCHAR},
			#{info.checker:VARCHAR},
			#{info.checkTime:VARCHAR},
			#{info.ywCode:VARCHAR},
			#{info.ywName:VARCHAR},
			#{info.typeCode:VARCHAR},
			#{info.typeName:VARCHAR},
			#{info.companyId:VARCHAR},
			#{info.remarks:VARCHAR}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.marks.module.mall.stock.pojo.AdjustInfo">
		UPDATE
		TB_MALL_STOCK_ADJUST_INFO
		SET
		remarks=#{info.remarks:VARCHAR},
		UPDATETIME = #{info.updatetime:VARCHAR},
		ORGID = #{info.orgId:VARCHAR},
		ORGNAME = #{info.orgName:VARCHAR},
		TOTALNUMS = #{info.totalNums:NUMERIC},
		TOTALAMT =
		#{info.totalAmt:VARCHAR},
		STATUS = #{info.status:NUMERIC}
		WHERE
		ORDERID =
		#{info.orderId}
	</update>
	<update id="updateCheckStatus" parameterType="java.util.Map">
		UPDATE
		TB_MALL_STOCK_ADJUST_INFO
		SET
		checkStatus=#{checkStatus},
		checkTime=now(),
		CHECKERID=#{checkerId},
		CHECKER=#{checker},
		updatetime=now()
		WHERE
		ORDERID = #{idNo}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM
		TB_MALL_STOCK_ADJUST_INFO WHERE ORDERID=#{orderId}
	</delete>

	<select id="findAll" resultType="com.marks.module.mall.stock.pojo.AdjustInfo">
		SELECT * FROM
		TB_MALL_STOCK_ADJUST_INFO t
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_MALL_STOCK_ADJUST_INFO WHERE ORDERID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.mall.stock.pojo.AdjustInfo"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_MALL_STOCK_ADJUST_INFO t
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and ( 2=1 or t.ORDERID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or t.ORGID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.ORGNAME
			LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			or t.CREATORCODE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or
			t.CREATORNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')

			)
		</if>


		order by t.UPDATETIME DESC
	</select>



</mapper>