<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.mall.stock.dao.StockInfoDao">

	<select id="findById" resultType="com.marks.module.mall.stock.pojo.StockInfo">
		SELECT * FROM TB_MALL_STOCK t
		where t.STOCKID = #{stockId}
	</select>
	<select id="findByOrgIdAndGoodId" resultType="com.marks.module.mall.stock.pojo.StockInfo">
		SELECT * FROM
		TB_MALL_STOCK t where t.COMPANYID = #{companyId} and t.ORGID=#{orgId}
		and t.GOODID=#{goodId}
	</select>

	<insert id="save" parameterType="com.marks.module.mall.stock.pojo.StockInfo">
		<!--<selectKey keyProperty="stockId" resultType="String" order="BEFORE">select 
			replace(uuid(),'-','')</selectKey> -->

		INSERT INTO TB_MALL_STOCK (
		STOCKID,
		COMPANYID,
		ORGID,
		ORGNAME,
		GOODID,
		STOCKNUMS,
		STOCKAMOUNT,
		CREATETIME,
		UPDATETIME,
		SECONDNUMS,
		SECONDAMOUNT,
		HOLDNUMS,
		HOLDAMOUNT,
		SCRAPNUMS,
		SCRAPAMOUNT,
		GIFTNUMS,
		GIFTAMOUNT,
		TOTALNUMS,
		TOTALAMOUNT,
		goodNo,
		barNo,
		goodName
		)
		VALUES(
		#{info.stockId:VARCHAR},
		#{info.companyId:VARCHAR},
		#{info.orgId:VARCHAR},
		#{info.orgName:VARCHAR},
		#{info.goodId:VARCHAR},
		#{info.stockNums:NUMERIC},
		#{info.stockAmount:VARCHAR},
		#{info.createtime:VARCHAR},
		#{info.updatetime:VARCHAR},
		#{info.secondNums:NUMERIC},
		#{info.secondAmount:VARCHAR},
		#{info.holdNums:NUMERIC},
		#{info.holdAmount:VARCHAR},
		#{info.scrapNums:NUMERIC},
		#{info.scrapAmount:VARCHAR},
		#{info.giftNums:NUMERIC},
		#{info.giftAmount:VARCHAR},
		#{info.totalNums:NUMERIC},
		#{info.totalAmount:VARCHAR},
		#{info.goodNo:VARCHAR},
		#{info.barNo:VARCHAR},
		#{info.goodName:VARCHAR}
		)
	</insert>

	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO TB_MALL_STOCK (
		STOCKID,
		COMPANYID,
		ORGID,
		ORGNAME,
		GOODID,
		STOCKNUMS,
		STOCKAMOUNT,
		CREATETIME,
		UPDATETIME,
		SECONDNUMS,
		SECONDAMOUNT,
		HOLDNUMS,
		HOLDAMOUNT,
		SCRAPNUMS,
		SCRAPAMOUNT,
		GIFTNUMS,
		GIFTAMOUNT,
		TOTALNUMS,
		TOTALAMOUNT,
		goodNo,
		barNo,
		goodName
		)
		VALUES
		<foreach collection="list" item="info" index="index"
			separator=",">
			(
			#{info.stockId:VARCHAR},
			#{info.companyId:VARCHAR},
			#{info.orgId:VARCHAR},
			#{info.orgName:VARCHAR},
			#{info.goodId:VARCHAR},
			#{info.stockNums:NUMERIC},
			#{info.stockAmount:VARCHAR},
			#{info.createtime:VARCHAR},
			#{info.updatetime:VARCHAR},
			#{info.secondNums:NUMERIC},
			#{info.secondAmount:VARCHAR},
			#{info.holdNums:NUMERIC},
			#{info.holdAmount:VARCHAR},
			#{info.scrapNums:NUMERIC},
			#{info.scrapAmount:VARCHAR},
			#{info.giftNums:NUMERIC},
			#{info.giftAmount:VARCHAR},
			#{info.totalNums:NUMERIC},
			#{info.totalAmount:VARCHAR},
			#{info.goodNo:VARCHAR},
			#{info.barNo:VARCHAR},
			#{info.goodName:VARCHAR}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.marks.module.mall.stock.pojo.StockInfo">
		UPDATE TB_MALL_STOCK
		SET
		goodNo=#{info.goodNo:VARCHAR},
		barNo=#{info.barNo:VARCHAR},
		goodName=#{info.goodName:VARCHAR},
		STOCKNUMS = #{info.stockNums:NUMERIC},
		STOCKAMOUNT =
		#{info.stockAmount:VARCHAR},
		UPDATETIME = #{info.updatetime:VARCHAR},
		SECONDNUMS = #{info.secondNums:NUMERIC},
		SECONDAMOUNT =
		#{info.secondAmount:VARCHAR},
		HOLDNUMS = #{info.holdNums:NUMERIC},
		HOLDAMOUNT = #{info.holdAmount:VARCHAR},
		SCRAPNUMS =
		#{info.scrapNums:NUMERIC},
		SCRAPAMOUNT = #{info.scrapAmount:VARCHAR},
		GIFTNUMS = #{info.giftNums:NUMERIC},
		GIFTAMOUNT =
		#{info.giftAmount:VARCHAR},
		TOTALNUMS = #{info.totalNums:NUMERIC},
		TOTALAMOUNT = #{info.totalAmount:VARCHAR},
		saleNums = #{info.saleNums:NUMERIC},
		saleAmt = #{info.saleAmt:VARCHAR}
		WHERE
		STOCKID =
		#{info.stockId}
	</update>
	<update id="updateBatch" parameterType="List">

		<foreach collection="list" item="info" index="index"
			separator=";">
			UPDATE TB_MALL_STOCK
			SET
			COMPANYID =
			#{info.companyId:VARCHAR},
			ORGID = #{info.orgId:VARCHAR},
			ORGNAME =
			#{info.orgName:VARCHAR},
			GOODID = #{info.goodId:VARCHAR},
			STOCKNUMS =
			#{info.stockNums:NUMERIC},
			STOCKAMOUNT = #{info.stockAmount:VARCHAR},
			UPDATETIME = #{info.updatetime:VARCHAR},
			SECONDNUMS =
			#{info.secondNums:NUMERIC},
			SECONDAMOUNT =
			#{info.secondAmount:VARCHAR},
			HOLDNUMS = #{info.holdNums:NUMERIC},
			HOLDAMOUNT = #{info.holdAmount:VARCHAR},
			SCRAPNUMS =
			#{info.scrapNums:VARCHAR},
			SCRAPAMOUNT = #{info.scrapAmount:VARCHAR},
			GIFTNUMS = #{info.giftNums:VARCHAR},
			GIFTAMOUNT =
			#{info.giftAmount:VARCHAR},
			TOTALNUMS = #{info.totalNums:VARCHAR},
			TOTALAMOUNT = #{info.totalAmount:VARCHAR}
			WHERE
			STOCKID =
			#{info.stockId}
		</foreach>

	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_MALL_STOCK
		WHERE STOCKID=#{stockId}
	</delete>

	<select id="findAll" resultType="com.marks.module.mall.stock.pojo.StockInfo">
		SELECT * FROM TB_MALL_STOCK t
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_MALL_STOCK WHERE STOCKID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.mall.stock.pojo.StockInfo"
		parameterType="java.util.Map">
		SELECT t.*
		FROM TB_MALL_STOCK t 
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and ( 2=1 or t.STOCKID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.ORGID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.ORGNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>


		order by t.UPDATETIME DESC
	</select>
</mapper>