<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.mall.stock.dao.TraceDao">

	<select id="findById" resultType="com.marks.module.mall.stock.pojo.Trace">
		SELECT * FROM TB_MALL_TRACE t
		where t.TRACEID = #{traceId}
	</select>

	<insert id="save" parameterType="com.marks.module.mall.stock.pojo.Trace">
		<!--<selectKey keyProperty="traceId" resultType="String" order="BEFORE">select 
			replace(uuid(),'-','')</selectKey> -->

		INSERT INTO TB_MALL_TRACE (
		TRACEID,
		BARCODE,
		GOODID,
		GOODNO,
		BARNO,
		GOODNAME,
		CREATETIME,
		UPDATETIME,
		STOCKSTATUS,
		CGNO,
		PRICE,
		VIPPRICE,
		SALEPRICE,
		NOWPRICE,
		STOCKPRICE,
		ORDERID,
		ORDERGOODID,
		ISGIFT,
		ORITRACEID,
		COMPANYID,
		ORGID,
		ORGNAME,
		TYPEID,
		TYPENAME,
		BRANDID,
		BRANDNAME,
		PRODUCTDATE,
		SUPPLIERID,
		SUPPLIERNAME,
		USERID,
		USERNAME,
		MOBILE,
		STOCKINDATE,
		ENDDATE,
		expireDate,
		batchId
		)
		VALUES(
		#{info.traceId:VARCHAR},
		#{info.barcode:VARCHAR},
		#{info.goodId:VARCHAR},
		#{info.goodNo:VARCHAR},
		#{info.barNo:VARCHAR},
		#{info.goodName:VARCHAR},
		now(),
		now(),
		#{info.stockStatus:NUMERIC},
		#{info.cgNo:VARCHAR},
		#{info.price:VARCHAR},
		#{info.vipPrice:VARCHAR},
		#{info.salePrice:VARCHAR},
		#{info.nowPrice:VARCHAR},
		#{info.stockPrice:VARCHAR},
		#{info.orderId:VARCHAR},
		#{info.orderGoodId:VARCHAR},
		#{info.isGift:NUMERIC},
		#{info.oriTraceId:VARCHAR},
		#{info.companyId:VARCHAR},
		#{info.orgid:VARCHAR},
		#{info.orgname:VARCHAR},
		#{info.typeId:VARCHAR},
		#{info.typeName:VARCHAR},
		#{info.brandId:VARCHAR},
		#{info.brandName:VARCHAR},
		#{info.productDate:VARCHAR},
		#{info.supplierId:VARCHAR},
		#{info.supplierName:VARCHAR},
		#{info.userid:VARCHAR},
		#{info.username:VARCHAR},
		#{info.mobile:VARCHAR},
		#{info.stockInDate:VARCHAR},
		#{info.endDate:VARCHAR},
		#{info.expireDate:VARCHAR},
		#{info.batchId:VARCHAR}
		)
	</insert>

	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO TB_MALL_TRACE (
		TRACEID,
		BARCODE,
		GOODID,
		GOODNO,
		BARNO,
		GOODNAME,
		CREATETIME,
		UPDATETIME,
		STOCKSTATUS,
		CGNO,
		PRICE,
		VIPPRICE,
		SALEPRICE,
		NOWPRICE,
		STOCKPRICE,
		ORDERID,
		ORDERGOODID,
		ISGIFT,
		ORITRACEID,
		COMPANYID,
		ORGID,
		ORGNAME,
		TYPEID,
		TYPENAME,
		BRANDID,
		BRANDNAME,
		PRODUCTDATE,
		SUPPLIERID,
		SUPPLIERNAME,
		USERID,
		USERNAME,
		MOBILE,
		STOCKINDATE,
		ENDDATE,
		expireDate,
		batchId
		)
		VALUES
		<foreach collection="list" item="info" index="index"
			separator=",">
			(
			#{info.traceId:VARCHAR},
			#{info.barcode:VARCHAR},
			#{info.goodId:VARCHAR},
			#{info.goodNo:VARCHAR},
			#{info.barNo:VARCHAR},
			#{info.goodName:VARCHAR},
			now(),
			now(),
			#{info.stockStatus:NUMERIC},
			#{info.cgNo:VARCHAR},
			#{info.price:VARCHAR},
			#{info.vipPrice:VARCHAR},
			#{info.salePrice:VARCHAR},
			#{info.nowPrice:VARCHAR},
			#{info.stockPrice:VARCHAR},
			#{info.orderId:VARCHAR},
			#{info.orderGoodId:VARCHAR},
			#{info.isGift:NUMERIC},
			#{info.oriTraceId:VARCHAR},
			#{info.companyId:VARCHAR},
			#{info.orgid:VARCHAR},
			#{info.orgname:VARCHAR},
			#{info.typeId:VARCHAR},
			#{info.typeName:VARCHAR},
			#{info.brandId:VARCHAR},
			#{info.brandName:VARCHAR},
			#{info.productDate:VARCHAR},
			#{info.supplierId:VARCHAR},
			#{info.supplierName:VARCHAR},
			#{info.userid:VARCHAR},
			#{info.username:VARCHAR},
			#{info.mobile:VARCHAR},
			#{info.stockInDate:VARCHAR},
			#{info.endDate:VARCHAR},
			#{info.expireDate:VARCHAR},
			#{info.batchId:VARCHAR}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.marks.module.mall.stock.pojo.Trace">
		UPDATE TB_MALL_TRACE
		SET
		UPDATETIME = now(),
		STOCKSTATUS =
		#{info.stockStatus:NUMERIC},
		NOWPRICE = #{info.nowPrice:VARCHAR},
		PRICE = #{info.price:VARCHAR},
		SALEPRICE = #{info.salePrice:VARCHAR},
		ORDERID =
		#{info.orderId:VARCHAR},
		ORDERGOODID = #{info.orderGoodId:VARCHAR},
		ISGIFT = #{info.isGift:NUMERIC},
		ORITRACEID =
		#{info.oriTraceId:VARCHAR},
		ORGID = #{info.orgid:VARCHAR},
		ORGNAME = #{info.orgname:VARCHAR},
		USERID = #{info.userid:VARCHAR},
		USERNAME
		= #{info.username:VARCHAR},
		MOBILE = #{info.mobile:VARCHAR},
		ENDDATE =
		#{info.endDate:VARCHAR}
		WHERE
		TRACEID = #{info.traceId}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_MALL_TRACE
		WHERE TRACEID=#{traceId}
	</delete>

	<select id="findAll" resultType="com.marks.module.mall.stock.pojo.Trace">
		SELECT * FROM TB_MALL_TRACE t
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_MALL_TRACE WHERE TRACEID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.mall.stock.pojo.Trace"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_MALL_TRACE t
		WHERE 1=1 and t.companyId=#{companyId}
		<if test="keyword!=null and keyword!=''">
			and ( 2=1 or t.TRACEID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.BARCODE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.GOODNO LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.BARNO LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.GOODNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			
			or t.CGNO LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.ORDERID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			
			or t.ORGNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			
			or t.TYPENAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			
			or t.BRANDNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			
			or t.SUPPLIERNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.USERNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.MOBILE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>


		order by t.UPDATETIME DESC
	</select>



</mapper>