<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.autocode.web.dao.AutoCodeDao">

	<select id="findById" resultType="com.cjmei.module.autocode.web.pojo.AutoCode">
		SELECT * FROM tb_autocode_bean
		autocode where autocode.TABLENAME = #{tableName}
	</select>

	<insert id="save" parameterType="com.cjmei.module.autocode.web.pojo.AutoCode">
		INSERT INTO tb_autocode_bean
		autocode (
		autocode.TABLENAME,
		autocode.BEANNAME,
		autocode.MODULEDESC,
		autocode.IS_CREATETABLE,
		autocode.IS_AUTH,
		autocode.CREATETIME,
		autocode.UPDATETIME
		)
		VALUES(
		#{tableName:VARCHAR},
		#{beanName:VARCHAR},
		#{moduleDesc:VARCHAR},
		#{is_createtable:INTEGER},
		#{is_auth:INTEGER},
		sysdate,
		sysdate
		)
	</insert>

	<update id="update" parameterType="com.cjmei.module.autocode.web.pojo.AutoCode">
		UPDATE tb_autocode_bean
		autocode
		SET
		autocode.BEANNAME = #{beanName:VARCHAR},
		autocode.MODULEDESC = #{moduleDesc:VARCHAR},
		autocode.IS_CREATETABLE=#{is_createtable:INTEGER},
		autocode.IS_AUTH=#{is_auth:INTEGER},
		autocode.UPDATETIME=sysdate
		WHERE
		autocode.TABLENAME = #{tableName}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM tb_autocode_bean
		autocode WHERE autocode.TABLENAME=#{tableName}
	</delete>

	<select id="findAll" resultType="com.cjmei.module.autocode.web.pojo.AutoCode">
		SELECT * FROM tb_autocode_bean
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM tb_autocode_bean WHERE TABLENAME in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.cjmei.module.autocode.web.pojo.AutoCode"
		parameterType="java.util.Map">
		SELECT *
		FROM tb_autocode_bean autocode
		WHERE 1=1
		<if test="autoCode.tableName!=null and autoCode.tableName!=''">
			and autocode.TABLENAME LIKE
			CONCAT(CONCAT('%',#{autocode.tableName:VARCHAR}),'%')
		</if>
		<if test="autoCode.beanName!=null and autoCode.beanName!=''">
			and autocode.BEANNAME LIKE
			CONCAT(CONCAT('%',#{autocode.beanName:VARCHAR}),'%')
		</if>
		<if test="autoCode.moduleDesc!=null and autoCode.moduleDesc!=''">
			and autocode.MODULEDESC LIKE
			CONCAT(CONCAT('%',#{autocode.moduleDesc:VARCHAR}),'%')
		</if>
		order by autocode.UPDATETIME desc


	</select>


	<select id="attrList" resultType="com.cjmei.module.autocode.web.pojo.AutoCodeAttr"
		parameterType="java.util.Map">
		SELECT *
		FROM tb_autocode_attr autocode
		WHERE 1=1

		and
		autocode.TABLENAME =#{tableName}
		order by autocode.ISPK
		desc,autocode.SORT desc


	</select>
	<delete id="deleteAttr">
		delete from tb_autocode_attr where
		tablename=#{tableName}
	</delete>

	<insert id="saveAttr" parameterType="com.cjmei.module.autocode.web.pojo.AutoCodeAttr">
		insert into tb_autocode_attr
		(
		ATTRNAME,
		ATTRTYPE,
		ISPK,
		SEQ,
		ATTRSIZE,
		ATTRDESC,
		TABLENAME,
		SORT
		)
		values
		(
		#{attrName:VARCHAR},
		#{attrType:VARCHAR},
		#{isPK:INTEGER},
		#{seq:VARCHAR},
		#{attrSize:INTEGER},
		#{attrDesc:VARCHAR},
		#{tableName:VARCHAR},
		#{sort:INTEGER}
		)
	</insert>
</mapper>