$mainColor: #45b793;//主色调

$secondary-headColor: #69d1b0;//头部副颜色

$third-headColor: #d2f1e7;//三级头部颜色

$writeBgColor: #fff;//白色背景

$workBgColor: #35aa82;//工作台背景色

$bodyBgColor: #f6f6f6;//页面背景色

$borderColor: #dddddd;//线条颜色

$tableHeadColor: #69d1b0;//表格头部背景颜色

$secondary-tableHeadColor: #d2f1e7;//副表格头部背景颜色

$f-color: #606161;//普通字体颜色

$f-writeColor: #fff;//白色字体

$f-deepColor: #0c0c0e;//深色字体 
        
$f-grayColor: #a4a4a4;//灰色字体 

$f-okColor: #6ac5a9;//成功字体颜色、字体高亮颜色

$f-infoColor: #69b1d6;//信息字体颜色

$f-warnColor: #f39d11;//提示字体颜色

$f-dangerColor: #f74c48;//警告字体颜色

$btn-dangerColor: #e73828;//警告按钮颜色

$btn-warnColor: #fbc938;//提示按钮颜色

$btn-okColor: #45b793;//ok按钮颜色

$newMsgColor: #f74c48;//新消息提示颜色

$check-okColor: #4da2ff;//选中颜色