<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.system.orginfo.dao.OrgInfoDao">

	<select id="findById" resultType="com.cjmei.module.system.orginfo.pojo.OrgInfo">
		SELECT * FROM TB_ORG_INFO
		orginfo where orginfo.ORGID = #{orgid}
	</select>

	<insert id="save" parameterType="com.cjmei.module.system.orginfo.pojo.OrgInfo">
		INSERT INTO TB_ORG_INFO orginfo
		(
		orginfo.ORGID,
		orginfo.CREATOR,
		orginfo.ORGNAME,
		orginfo.CREATETIME,
		orginfo.UPDATETIME,
		orginfo.USEFLAG,
		orginfo.PARENTID,
		orginfo.LVL,
		orginfo.COMPANYID
		)
		VALUES(
		#{orgid:VARCHAR},
		#{creator:VARCHAR},
		#{orgname:VARCHAR},
		sysdate,
		sysdate,
		#{useflag:NUMERIC},
		#{parentId:VARCHAR},
		#{lvl:NUMERIC},
		#{companyId:VARCHAR}
		)
	</insert>

	<update id="update" parameterType="com.cjmei.module.system.orginfo.pojo.OrgInfo">
		UPDATE TB_ORG_INFO orginfo
		SET
		orginfo.ORGNAME = #{orgname:VARCHAR},
		orginfo.UPDATETIME = sysdate,
		orginfo.USEFLAG = #{useflag:NUMERIC},
		orginfo.PARENTID=#{parentId:VARCHAR},
		orginfo.LVL=#{lvl:NUMERIC}
		WHERE
		orginfo.ORGID = #{orgid}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_ORG_INFO
		orginfo WHERE orginfo.ORGID=#{orgid}
	</delete>

	<select id="findAll" resultType="com.cjmei.module.system.orginfo.pojo.OrgInfo">
		SELECT * FROM TB_ORG_INFO t
		where t.USEFLAG=1
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_ORG_INFO WHERE ORGID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.cjmei.module.system.orginfo.pojo.OrgInfo"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_ORG_INFO orginfo
		WHERE 1=1
		and ( orginfo.ORGID LIKE
		CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		<if test="keyword!=null and keyword!=''">
			or orginfo.CREATOR LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or orginfo.ORGNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or orginfo.CREATETIME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or orginfo.UPDATETIME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or orginfo.USEFLAG LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		)
		and (orginfo.PARENTID='0' or orginfo.ORGID='0')
		order by orginfo.UPDATETIME desc
	</select>
	<select id="getTreeGridByParentId" resultType="com.cjmei.module.system.orginfo.pojo.OrgInfo">
		select t.*,
		p2.orgname parentName,
		(case
		when cnum is null then
		'open'
		else
		'closed'
		end) state
		from tb_org_info t
		left join tb_org_info p2 on
		t.parentid = p2.orgid
		left join (select count(1) cnum, p.parentid pid
		from tb_org_info p
		group by p.parentid) p on t.orgid = p.pid
		where 1=1
		<if test="plist != null">
			AND t.parentid IN
			<foreach collection="plist" item="ids" index="index" open="("
				separator="," close=")">
				#{ids}
			</foreach>
		</if>
	</select>

	<select id="getChildList" resultType="com.cjmei.module.system.orginfo.pojo.OrgInfo">
		select * from tb_org_info t
		where t.parentid=#{orgid}
	</select>
</mapper>