<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.weixin.wfhao.dao.WxUserDao">

	<insert id="save" parameterType="com.cjmei.module.weixin.wfhao.pojo.WxUser">

		INSERT INTO TB_WX_USER (
		OPENID,
		NICKNAME,
		GROUPID,
		COUNTRY,
		PROVINCE,
		CITY,
		SEX,
		IMAGEURL,
		LANGUAGE,
		ISSUBSCRIBE,
		SUBSCRIBETIME,
		UPDATETIME,
		ACCOUNTID,
		CREATETIME,
		USEFLAG,
		QRNO,
		REMARK
		)
		VALUES(
		#{openid:VARCHAR},
		#{nickname:VARCHAR},
		#{groupid:NUMERIC},
		#{country:VARCHAR},
		#{province:VARCHAR},
		#{city:VARCHAR},
		#{sex:NUMERIC},
		#{imageUrl:VARCHAR},
		#{language:VARCHAR},
		#{issubscribe:NUMERIC},
		#{subscribetime:TIMESTAMP},
		sysdate,
		#{accountid:VARCHAR},
		sysdate,
		#{useflag:NUMERIC},
		#{qrNo:VARCHAR},
		#{remark:VARCHAR}

		)
	</insert>

	<update id="update" parameterType="com.cjmei.module.weixin.wfhao.pojo.WxUser">
		UPDATE TB_WX_USER
		SET
		NICKNAME = #{nickname:VARCHAR},
		GROUPID = #{groupid:NUMERIC},
		COUNTRY = #{country:VARCHAR},
		PROVINCE = #{province:VARCHAR},
		CITY = #{city:VARCHAR},
		SEX = #{sex:NUMERIC},
		IMAGEURL = #{imageUrl:VARCHAR},
		LANGUAGE = #{language:VARCHAR},
		ISSUBSCRIBE = #{issubscribe:NUMERIC},
		SUBSCRIBETIME = #{subscribetime:TIMESTAMP},
		UPDATETIME = sysdate,
		REMARK = #{remark:VARCHAR}
		WHERE
		OPENID = #{openid} and ACCOUNTID = #{accountid:VARCHAR}
	</update>
</mapper>