<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.wx.wxmenuurl.dao.WxMenuUrlDao">

	<select id="findById" resultType="com.cjmei.module.wx.wxmenuurl.pojo.WxMenuUrl">
		SELECT * FROM TB_WX_MENU_URL
		wxmenuurl where wxmenuurl.ID = #{id}
	</select>

	<insert id="save" parameterType="com.cjmei.module.wx.wxmenuurl.pojo.WxMenuUrl">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select
			sys_guid() from dual</selectKey>

		INSERT INTO TB_WX_MENU_URL wxmenuurl (
		wxmenuurl.ID,
		wxmenuurl.MENUNAME,
		wxmenuurl.MENUURL,
		wxmenuurl.ACCOUNTID
		)
		VALUES(
		#{id:VARCHAR},
		#{menuName:VARCHAR},
		#{menuUrl:VARCHAR},
		#{accountid:VARCHAR}

		)
	</insert>

	<update id="update" parameterType="com.cjmei.module.wx.wxmenuurl.pojo.WxMenuUrl">
		UPDATE TB_WX_MENU_URL wxmenuurl
		SET
		wxmenuurl.MENUNAME = #{menuName:VARCHAR},
		wxmenuurl.MENUURL = #{menuUrl:VARCHAR},
		wxmenuurl.ACCOUNTID = #{accountid:VARCHAR}
		WHERE
		wxmenuurl.ID = #{id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_WX_MENU_URL wxmenuurl WHERE wxmenuurl.ID=#{id}
	</delete>

	<select id="findAll" resultType="com.cjmei.module.wx.wxmenuurl.pojo.WxMenuUrl">
		SELECT * FROM TB_WX_MENU_URL
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_WX_MENU_URL WHERE ID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.cjmei.module.wx.wxmenuurl.pojo.WxMenuUrl"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_WX_MENU_URL wxmenuurl
		WHERE 1=1
		<if test="accountIds !=null">
			and wxmenuurl.accountid in
			<foreach collection="accountIds" item="oid" index="index" open="("
				separator="," close=")">
				#{oid}
			</foreach>
		</if>
		and ( wxmenuurl.ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		<if test="keyword!=null and keyword!=''">
			or wxmenuurl.MENUNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxmenuurl.MENUURL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or wxmenuurl.ACCOUNTID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		)


	</select>



</mapper>