<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.org.supplier.dao.SupplierDao">

    <select id="findById" resultType="com.marks.module.org.supplier.pojo.Supplier">
		SELECT * FROM TB_ORG_SUPPLIER t where t.ORGID = #{orgid}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.org.supplier.pojo.Supplier">
		<!--<selectKey keyProperty="orgid" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>-->

 		INSERT INTO TB_ORG_SUPPLIER  (
            ORGID,
            ORGNAME,
            AREAID,
            AREANAME,
            COMPANYID,
            LINKMAN,
            LINKTEL,
            ADDRESS,
            STATUS
		)
		VALUES(
		#{info.orgid:VARCHAR},
            #{info.orgname:VARCHAR},
            #{info.areaId:VARCHAR},
            #{info.areaName:VARCHAR},
            #{info.companyId:VARCHAR},
            #{info.linkman:VARCHAR},
            #{info.linkTel:VARCHAR},
            #{info.address:VARCHAR},
            #{info.status:NUMERIC}			
			)
 	</insert>
 	
 	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO TB_ORG_SUPPLIER (
			            ORGID,
            ORGNAME,
            AREAID,
            AREANAME,
            COMPANYID,
            LINKMAN,
            LINKTEL,
            ADDRESS,
            STATUS
		)
		VALUES
		<foreach collection="list" item="info" index="index"
			separator=",">
			(
				#{info.orgid:VARCHAR},
            #{info.orgname:VARCHAR},
            #{info.areaId:VARCHAR},
            #{info.areaName:VARCHAR},
            #{info.companyId:VARCHAR},
            #{info.linkman:VARCHAR},
            #{info.linkTel:VARCHAR},
            #{info.address:VARCHAR},
            #{info.status:NUMERIC}			
			)
		</foreach>
	</insert>
 	
 	
 	<update id="update" parameterType="com.marks.module.org.supplier.pojo.Supplier">
 		UPDATE TB_ORG_SUPPLIER 
		SET 
ORGNAME = #{info.orgname:VARCHAR},
            AREAID = #{info.areaId:VARCHAR},
            AREANAME = #{info.areaName:VARCHAR},
            COMPANYID = #{info.companyId:VARCHAR},
            LINKMAN = #{info.linkman:VARCHAR},
            LINKTEL = #{info.linkTel:VARCHAR},
            ADDRESS = #{info.address:VARCHAR},
            STATUS = #{info.status:NUMERIC}
		WHERE
			ORGID = #{info.orgid}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_ORG_SUPPLIER t WHERE t.ORGID=#{orgid}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.org.supplier.pojo.Supplier">
 		SELECT * FROM TB_ORG_SUPPLIER t
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_ORG_SUPPLIER WHERE ORGID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.org.supplier.pojo.Supplier" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_ORG_SUPPLIER t
						WHERE 1=1
                        <if test="keyword!=null and keyword!=''">
 and ( 2=1                             or t.ORGNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.AREANAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.LINKMAN LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.LINKTEL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or t.ADDRESS LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
 )                        </if>

					
							
 	</select>
 	
 	
 	
</mapper>