<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<title>日记</title>
<link href="http://g.alicdn.com/sj/dpl/1.5.1/css/sui.min.css"
	rel="stylesheet">
<link rel="stylesheet" href="../../../assets/css/marks.css">
<style>
.a {
	width: 0px;
	height: 0px;
	margin: auto;
	border-bottom: 20px solid #f00;
	border-left: 40px solid #fff;
	border-right: 40px solid #fff;
}

.b {
	width: 0px;
	height: 0px;
	margin: auto;
	border-top: 20px solid #f00;
	border-left: 40px solid #fff;
	border-right: 40px solid #fff;
}
</style>
</head>
<body>
	<div id="showMsg"></div>
	<div class='container'>
		<div id="app">
			<div style="height: 180px;"></div>
			<div class="sui-form form-horizontal"
				style="margin: 18px; text-align: -webkit-center; background-color: wheat;">

				<legend>登录</legend>
				<div class="control-group">
					<label class="control-label">手机号码：</label>
					<div class="controls">
						<input type="text" id="c_mobile" name="c_mobile"
							placeholder="手机号码">
					</div>
				</div>
				<div class="control-group">
					<label class="control-label">登录密码：</label>
					<div class="controls">
						<input type="password" id="c_password" name="c_password"
							placeholder="密码">
					</div>
				</div>


				<div class="control-group">
					<div class="controls">
						<button class="sui-btn cm-btn" onclick="summitForm()">提交</button>
						&nbsp;&nbsp;&nbsp;&nbsp;
						<button type="submit" class="sui-btn cm-btn" onclick="resetForm()">重置</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
<script type="text/javascript"
	src="http://g.alicdn.com/sj/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript"
	src="http://g.alicdn.com/sj/dpl/1.5.1/js/sui.min.js"></script>
<script type="text/javascript" src="../../../js/showMsg.js"></script>
<script type='text/javascript' src='../../../../common/tool.js'
	charset='utf-8'></script>
<script type="text/javascript" src="./login.js"></script>
</html>