<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.inner.wx.modulemsg.dao.ModuleMsgDao">

	<select id="findById" resultType="com.marks.module.inner.wx.modulemsg.pojo.ModuleMsg">
		SELECT * FROM TB_WX_MODULE_MSG
		modulemsg where modulemsg.ID = #{id}
	</select>

	<insert id="save" parameterType="com.marks.module.inner.wx.modulemsg.pojo.ModuleMsg">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select replace(uuid(),'-','')</selectKey>

		INSERT INTO TB_WX_MODULE_MSG  (
		ID,
		ACCOUNTID,
		TEMPLATE_ID,
		TOUSER,
		URL,
		DATA,
		NEEDFLAG,
		SENDFLAG,
		SENDTIMES,
		CREATETIME,
		NOTE,
		CREATE_STAMP
		)
		VALUES(
		#{id:VARCHAR},
		#{accountid:VARCHAR},
		#{template_id:VARCHAR},
		#{touser:VARCHAR},
		#{url:VARCHAR},
		#{data:VARCHAR},
		#{needFlag:NUMERIC},
		#{sendFlag:NUMERIC},
		#{sendTimes:NUMERIC},
		now(),
		#{note:VARCHAR},
		#{create_stamp:NUMERIC}
		)
	</insert>

	<update id="update" parameterType="com.marks.module.inner.wx.modulemsg.pojo.ModuleMsg">
		UPDATE TB_WX_MODULE_MSG
		SET
		ACCOUNTID = #{accountid:VARCHAR},
		TEMPLATE_ID = #{template_id:VARCHAR},
		TOUSER =
		#{touser:VARCHAR},
		URL = #{url:VARCHAR},
		DATA =
		#{data:VARCHAR},
		NEEDFLAG = #{needFlag:NUMERIC},
		SENDFLAG = #{sendFlag:NUMERIC},
		SENDTIMES =
		#{sendTimes:NUMERIC},
		CREATETIME = #{createtime:TIMESTAMP},
		SENDTIME = #{sendtime:TIMESTAMP},
		MSGID =
		#{msgId:VARCHAR},
		PUSH_CODE = #{push_code:VARCHAR},
		PUSH_MSG = #{push_msg:VARCHAR},
		RESULTCODE =
		#{resultCode:VARCHAR},
		RESULTMSG = #{resultMsg:VARCHAR},
		NOTE = #{note:VARCHAR}
		WHERE
		modulemsg.ID = #{id}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_WX_MODULE_MSG
		 WHERE ID=#{id}
	</delete>

	<select id="findAll" resultType="com.marks.module.inner.wx.modulemsg.pojo.ModuleMsg">
		SELECT * FROM TB_WX_MODULE_MSG
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_WX_MODULE_MSG WHERE ID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.inner.wx.modulemsg.pojo.ModuleMsg"
		parameterType="java.util.Map">
		SELECT modulemsg.*,twu.nickname
		FROM TB_WX_MODULE_MSG modulemsg
		left join tb_wx_user twu on modulemsg.touser = twu.openid
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and ( 
			modulemsg.ACCOUNTID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or modulemsg.TEMPLATE_ID
			LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			
			or modulemsg.DATA LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			
			or to_char(modulemsg.CREATETIME,'yyyy-MM-dd')
			LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			
			or modulemsg.MSGID
			LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		
			or modulemsg.NOTE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or twu.nickname LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		<if test="s_resultCode!=null and s_resultCode!=''">
			and modulemsg.RESULTCODE=#{s_resultCode}
		</if>
		<if test="s_sendFlag!=null and s_sendFlag!=''">
			and modulemsg.SENDFLAG=#{s_sendFlag}
		</if>
		order by modulemsg.CREATETIME desc

	</select>

	<delete id="deleteData" flushCache="true">
		delete from tb_wx_module_msg where to_char(createtime,'yyyy-MM-dd') &lt; #{clearDate} 
	</delete>
	
	<select id="getNeedPustMsg" resultType="com.marks.module.inner.wx.modulemsg.pojo.ModuleMsg">
 		SELECT * FROM TB_WX_MODULE_MSG t where t.NEEDFLAG=1 and t.SENDFLAG in(0,2) and t.SENDTIMES &lt; #{pushlimitnum} and (#{nowtime}-t.create_stamp) &lt;= #{timelimit} and ROWNUM &lt;= #{limitnum}
 	</select>
	<update id="updateResultForModuleMsg">
		update tb_wx_module_msg
   			set resultcode = #{resultCode:VARCHAR}, 
   			resultmsg = #{status:VARCHAR}, 
   			resulttime = #{createtime:TIMESTAMP}
 		where accountid =#{accountid:VARCHAR}
   			and msgid = #{msgId:VARCHAR}
	</update>
</mapper>