<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.asset.base.dao.AssetLogDao">

	<select id="findById" resultType="com.marks.module.asset.base.pojo.AssetLog">
		SELECT * FROM TB_ASSET_LOG t
		where t.ID = #{id}
	</select>

	<insert id="save" parameterType="com.marks.module.asset.base.pojo.AssetLog">
		<!--<selectKey keyProperty="id" resultType="String" order="BEFORE">select 
			replace(uuid(),'-','')</selectKey> -->

		INSERT INTO TB_ASSET_LOG (
		ID,
		USERID,
		USERNAME,
		MOBILE,
		TRANTYPE,
		ITEMTYPE,
		ITEMNAME,
		FROMER,
		TOER,
		CREATETIME,
		UPDATETIME,
		TRANTIME,
		TRANYEAR,
		TRANMONTH,
		IDNO,
		IDNAME,
		tranAmount,
		remarks
		)
		VALUES(
		#{info.id:VARCHAR},
		#{info.userid:VARCHAR},
		#{info.username:VARCHAR},
		#{info.mobile:VARCHAR},
		#{info.tranType:NUMERIC},
		#{info.itemType:VARCHAR},
		#{info.itemName:VARCHAR},
		#{info.fromer:VARCHAR},
		#{info.toer:VARCHAR},
		#{info.createtime:VARCHAR},
		#{info.updatetime:VARCHAR},
		#{info.tranTime:VARCHAR},
		#{info.tranYear:VARCHAR},
		#{info.tranMonth:VARCHAR},
		#{info.idNo:VARCHAR},
		#{info.idName:VARCHAR},
		#{info.tranAmount:VARCHAR},
		#{info.remarks:VARCHAR}
		)
	</insert>

	<insert id="saveBatch" parameterType="java.util.List">
		INSERT INTO TB_ASSET_LOG (
		ID,
		USERID,
		USERNAME,
		MOBILE,
		TRANTYPE,
		ITEMTYPE,
		ITEMNAME,
		FROMER,
		TOER,
		CREATETIME,
		UPDATETIME,
		TRANTIME,
		TRANYEAR,
		TRANMONTH,
		IDNO,
		IDNAME,
		tranAmount,
		remarks
		)
		VALUES
		<foreach collection="list" item="info" index="index"
			separator=",">
			(
			#{info.id:VARCHAR},
			#{info.userid:VARCHAR},
			#{info.username:VARCHAR},
			#{info.mobile:VARCHAR},
			#{info.tranType:NUMERIC},
			#{info.itemType:VARCHAR},
			#{info.itemName:VARCHAR},
			#{info.fromer:VARCHAR},
			#{info.toer:VARCHAR},
			#{info.createtime:VARCHAR},
			#{info.updatetime:VARCHAR},
			#{info.tranTime:VARCHAR},
			#{info.tranYear:VARCHAR},
			#{info.tranMonth:VARCHAR},
			#{info.idNo:VARCHAR},
			#{info.idName:VARCHAR},
			#{info.tranAmount:VARCHAR},
			#{info.remarks:VARCHAR}
			)
		</foreach>
	</insert>

	<update id="update" parameterType="com.marks.module.asset.base.pojo.AssetLog">
		UPDATE TB_ASSET_LOG
		SET
		remarks=#{info.remarks:VARCHAR},
		tranAmount=#{info.tranAmount:VARCHAR},
		TRANTYPE =
		#{info.tranType:NUMERIC},
		ITEMTYPE = #{info.itemType:VARCHAR},
		ITEMNAME
		= #{info.itemName:VARCHAR},
		FROMER = #{info.fromer:VARCHAR},
		TOER =
		#{info.toer:VARCHAR},
		UPDATETIME = #{info.updatetime:VARCHAR},
		TRANTIME
		= #{info.tranTime:VARCHAR},
		TRANYEAR = #{info.tranYear:VARCHAR},
		TRANMONTH = #{info.tranMonth:VARCHAR},
		IDNO = #{info.idNo:VARCHAR},
		IDNAME = #{info.idName:VARCHAR}
		WHERE
		ID = #{info.id}
	</update>
	<update id="updateBatch" parameterType="List">

		<foreach collection="list" item="info" index="index"
			separator=";">
			UPDATE TB_ASSET_LOG
			SET
			USERID = #{info.userid:VARCHAR},
			USERNAME = #{info.username:VARCHAR},
			MOBILE = #{info.mobile:VARCHAR},
			TRANTYPE = #{info.tranType:NUMERIC},
			ITEMTYPE =
			#{info.itemType:VARCHAR},
			ITEMNAME = #{info.itemName:VARCHAR},
			FROMER =
			#{info.fromer:VARCHAR},
			TOER = #{info.toer:VARCHAR},
			UPDATETIME =
			#{info.updatetime:VARCHAR},
			TRANTIME = #{info.tranTime:VARCHAR},
			TRANYEAR = #{info.tranYear:VARCHAR},
			TRANMONTH =
			#{info.tranMonth:VARCHAR},
			IDNO = #{info.idNo:VARCHAR},
			IDNAME =
			#{info.idName:VARCHAR}
			WHERE
			ID = #{info.id}
		</foreach>

	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_ASSET_LOG WHERE
		ID=#{id}
	</delete>

	<select id="findAll" resultType="com.marks.module.asset.base.pojo.AssetLog">
		SELECT * FROM TB_ASSET_LOG t
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_ASSET_LOG WHERE ID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="countAmount" resultType="com.marks.module.asset.base.pojo.AssetLogCount"
		parameterType="java.util.Map">
		SELECT concat_ws('',t.tranYear,'年',t.tranMonth,'月') AS itemName,
		sum(CASE WHEN
		t.tranType = 0 THEN t.tranAmount ELSE 0.00 END)
		outAmount
		FROM
		TB_ASSET_LOG t
		WHERE 1=1 and t.USERID=#{userid}
		<if test="keyword!=null and keyword!=''">
			and ( 2=1
			or t.ITEMNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or
			t.FROMER LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.TOER
			LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.TRANYEAR LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.TRANMONTH LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.IDNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.remarks LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		GROUP BY t.userid, t.tranYear,t.tranMonth
		order by t.tranYear DESC,t.tranMonth DESC LIMIT 12
	</select>
	<select id="list" resultType="com.marks.module.asset.base.pojo.AssetLog"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_ASSET_LOG t
		WHERE 1=1 and t.USERID=#{userid}
		<if test="keyword!=null and keyword!=''">
			and ( 2=1
			or t.ITEMNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or
			t.FROMER LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.TOER
			LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.TRANYEAR LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.TRANMONTH LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.IDNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or t.remarks LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		order by t.TRANTIME DESC,t.UPDATETIME DESC
	</select>

	<select id="listCount" resultType="com.marks.module.asset.base.pojo.AssetLogCount"
		parameterType="java.util.Map">
		select t2.* from (
		select concat_ws('',t.tranYear,"年") as itemName,
		sum(case WHEN t.tranType=0 THEN t.tranAmount else 0 end) as outAmount,
		sum(case WHEN t.tranType=1 THEN t.tranAmount else 0 end) as inAmount
		from tb_asset_log t group by t.tranYear
		union
		select
		concat_ws('.',t.tranYear,t.tranMonth) as itemName,
		sum(case WHEN
		t.tranType=0 THEN t.tranAmount else 0 end) as outAmount,
		sum(case WHEN
		t.tranType=1 THEN t.tranAmount else 0 end) as inAmount
		from
		tb_asset_log t group by t.tranYear,t.tranMonth
		union
		select
		concat_ws('-',t.tranYear,t.itemName) as itemName,
		sum(case WHEN
		t.tranType=0 THEN t.tranAmount else 0 end) as outAmount,
		sum(case WHEN
		t.tranType=1 THEN t.tranAmount else 0 end) as inAmount
		from
		tb_asset_log t group by t.tranYear,t.itemName
		) t2
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and ( 2=1
			or t2.itemName LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		ORDER BY t2.itemName desc
	</select>
	
	<select id="listDayCount" resultType="com.marks.module.asset.base.pojo.AssetLogCount"
		parameterType="java.util.Map">
		select t2.* from (
		select t.tranTime as itemName,
		sum(case WHEN t.tranType=0 THEN t.tranAmount else 0 end) as outAmount,
		sum(case WHEN t.tranType=1 THEN t.tranAmount else 0 end) as inAmount
		from tb_asset_log t group by t.tranTime
		<!-- union
		select
		concat_ws('.',t.tranTime,t.itemName) as itemName,
		sum(case WHEN
		t.tranType=0 THEN t.tranAmount else 0 end) as outAmount,
		sum(case WHEN
		t.tranType=1 THEN t.tranAmount else 0 end) as inAmount
		from
		tb_asset_log t group by t.tranTime,t.itemName -->
		) t2
		WHERE 1=1
		<if test="keyword!=null and keyword!=''">
			and ( 2=1
			or t2.itemName LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		ORDER BY t2.itemName desc
	</select>
</mapper>