<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.mall.goodinfo.dao.GoodInfoDao">

	<select id="findById" resultType="com.cjmei.module.mall.goodinfo.pojo.GoodInfo">
		SELECT * FROM TB_MALL_GOOD_INFO
		goodinfo where goodinfo.GOODID = #{goodId}
	</select>

	<select id="list" resultType="com.cjmei.module.mall.goodinfo.pojo.GoodInfo"
		parameterType="java.util.Map">
		SELECT *
		FROM TB_MALL_GOOD_INFO goodinfo
		WHERE 1=1
		and ( goodinfo.GOODID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		<if test="keyword!=null and keyword!=''">
			or goodinfo.GOODNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or goodinfo.GOODPRICE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or goodinfo.UNIT LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or goodinfo.IMAGEURL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or goodinfo.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or goodinfo.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		<if test="keyword!=null and keyword!=''">
			or goodinfo.CREATOR LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
		</if>
		)

	</select>



</mapper>