<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.inner.user.vipinfo.dao.VipInfoDao">

	<select id="findById" resultType="com.marks.module.inner.user.vipinfo.pojo.VipInfo">
		SELECT * FROM TB_VIP_INFO
		vipinfo where vipinfo.USERID = #{userid}
	</select>

	<insert id="save" parameterType="com.marks.module.inner.user.vipinfo.pojo.VipInfo">
		INSERT INTO TB_VIP_INFO  (
		USERID,
		REALNAME,
		GENDER,
		BIRTHDATE,
		EMAIL,
		SIGNATURE,
		CREATETIME,
		UPDATETIME
		)
		VALUES(
		#{userid:VARCHAR},
		#{realname:VARCHAR},
		#{gender:VARCHAR},
		#{birthdate:VARCHAR},
		#{email:VARCHAR},
		#{signature:VARCHAR},
		#{createtime:TIMESTAMP},
		#{updatetime:TIMESTAMP}
		)
	</insert>

	<update id="update" parameterType="com.marks.module.inner.user.vipinfo.pojo.VipInfo">
		UPDATE TB_VIP_INFO
		SET
		REALNAME = #{realname:VARCHAR},
		GENDER =
		#{gender:VARCHAR},
		BIRTHDATE = #{birthdate:VARCHAR},
		EMAIL = #{email:VARCHAR},
		SIGNATURE =
		#{signature:VARCHAR},
		CREATETIME = #{createtime:TIMESTAMP},
		UPDATETIME = #{updatetime:TIMESTAMP}
		WHERE
		USERID =
		#{userid}
	</update>

	<delete id="delete" parameterType="String">
		DELETE FROM TB_VIP_INFO
		WHERE USERID=#{userid}
	</delete>

	<select id="findAll" resultType="com.marks.module.inner.user.vipinfo.pojo.VipInfo">
		SELECT * FROM TB_VIP_INFO
	</select>

	<delete id="deleteBatch" parameterType="java.util.List">
		DELETE FROM TB_VIP_INFO WHERE USERID in
		<foreach collection="list" item="ids" index="index" open="("
			separator="," close=")">
			#{ids}
		</foreach>
	</delete>

	<select id="list" resultType="com.marks.module.inner.user.vipinfo.pojo.VipInfo"
		parameterType="java.util.Map">
		SELECT su.*,
		vip.realname,
		vip.gender,
		vip.birthdate,
		vip.email,
		vip.signature
		FROM tb_sys_user su
		join TB_SYS_ROLE tsr on (su.roleid=tsr.roleid and su.COMPANYID=tsr.COMPANYID)
		left join TB_VIP_INFO vip on su.userid
		= vip.userid
		where tsr.usertype = 'VIP'
		
		<if test="keyword!=null and keyword!=''">
			and su.companyid=#{companyId}
		</if>
		
		<if test="keyword!=null and keyword!=''">
			and ( vipinfo.USERID LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or vipinfo.REALNAME LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or vipinfo.GENDER LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or vipinfo.BIRTHDATE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or vipinfo.EMAIL LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or vipinfo.SIGNATURE LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or
			to_char(su.CREATETIME,'yyyymmdd') LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			or
			to_char(su.bind_mobile,'yyyymmdd') LIKE
			CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
			)
		</if>
		order by su.updatetime desc

	</select>

	<select id="findVipDetailInfoById" resultType="com.marks.module.inner.user.vipinfo.pojo.VipInfo">
		SELECT
		vipinfo.*,su.skin FROM
		tb_sys_user su left join TB_VIP_INFO vipinfo on
		vipinfo.userid=su.userid where su.USERID = #{userid}
	</select>

</mapper>