<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>问题</title>
<meta name="viewport" content="initial-scale=1, maximum-scale=1">
<link rel="shortcut icon" href="/favicon.ico">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black">

<link rel="stylesheet"
	href="http://g.alicdn.com/msui/sm/0.6.2/css/sm.min.css">
<link rel="stylesheet"
	href="http://g.alicdn.com/msui/sm/0.6.2/css/sm-extend.min.css">
<!-- <link rel="stylesheet" href="../../../assets/css/marks.css"> -->
</head>
<body>
	<!-- page集合的容器，里面放多个平行的.page，其他.page作为内联页面由路由控制展示 -->
	<div id="app">
		<!-- 单个page ,第一个.page默认被展示-->
		<div>
			<!-- 标题栏 -->
			<header class="bar bar-nav cm-head">
				<a class="icon icon-left pull-left back" href="./list.html"></a> <a
					class="icon icon-edit pull-right" href="javascript:void(0)"
					onclick="toEdit()"></a>
				<h1 class="title">
					<span id="t_title"></span> 
				</h1>
			</header>
			<!-- 这里是页面内容区 -->
			<div class="content cm-contnet-img">
				<div id="tooltips" class="tooltips"></div>
				<div class="content-padded">
					<h3 style="margin-bottom: 5px;" id="c_title"></h3>
					<h6 style="margin-top: 5px; font-weight: normal;"><span id="c_createtime">2016-12-21</span>&nbsp;&nbsp;<span id="c_lvl"></span>&nbsp;&nbsp;&nbsp;&nbsp;<span id="c_label"></span></h6>
					<div style="WORD-BREAK: break-word;text-indent:2em;" id="c_content"></div>
				</div>
			</div>


		</div>
</body>
<script type='text/javascript'
	src='http://g.alicdn.com/sj/lib/zepto/zepto.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../../js/my-config.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../../../../common/tool.js'
	charset='utf-8'></script>
<script type='text/javascript' src='../../js/msg.js' charset='utf-8'></script>
<script type='text/javascript' src='./detail.js' charset='utf-8'></script>
</html>