<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.grgbanking.module.wxfwhao.dao.WxAccountDao">
	<select id="getWXAccountList" resultType="com.grgbanking.module.wxfwhao.entity.WxAccount">
		SELECT * FROM TB_WX_ACCOUNT
	</select>
	<select id="getAccessTokenVoByAccountid" resultType="com.grgbanking.module.wxfwhao.entity.AccessTokenVo">
		select * from TB_WX_ACCESS_TOKEN t where t.accountid=#{accountid}
	</select>
	<update id="updateAccessTokenVo" parameterType="com.grgbanking.module.wxfwhao.entity.AccessTokenVo"
		flushCache="true">
		UPDATE TB_WX_ACCESS_TOKEN
		SET ACCESSTOKEN =
		#{vo.accesstoken:VARCHAR},
		PUTTIME = #{vo.puttime:VARCHAR},
		EXPIRES_IN =
		#{vo.expires_in:VARCHAR},
		UPDATETIME=sysdate
		WHERE
		ACCOUNTID
		=#{vo.accountid:VARCHAR}
	</update>

	<insert id="saveAccessTokenVo" parameterType="com.grgbanking.module.wxfwhao.entity.AccessTokenVo">
		insert into
		TB_WX_ACCESS_TOKEN
		(ACCOUNTID, ACCESSTOKEN, PUTTIME, EXPIRES_IN,UPDATETIME)
		values
		(#{vo.accountid:VARCHAR}, #{vo.accesstoken:VARCHAR},
		#{vo.puttime:VARCHAR}, #{vo.expires_in:VARCHAR},sysdate)
	</insert>
</mapper>