<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.wx.qrcode.dao.QrcodeDao">

    <select id="findById" resultType="com.marks.module.wx.qrcode.pojo.Qrcode">
		SELECT * FROM TB_WX_QRCODE where QRNO = #{qrNo}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.wx.qrcode.pojo.Qrcode">
 		INSERT INTO TB_WX_QRCODE (
            QRNO,
            QRNAME,
            QRTYPE,
            QRURL,
            ACCOUNTID,
            QRPATH,
            SCENETYPE,
            CREATETIME,
            UPDATETIME,
            CREATOR
		)
		VALUES(
            #{qrNo:VARCHAR},
            #{qrName:VARCHAR},
            #{qrType:VARCHAR},
            #{qrUrl:VARCHAR},
            #{accountid:VARCHAR},
            #{qrPath:VARCHAR},
            #{sceneType:VARCHAR},
            #{createtime:TIMESTAMP},
            #{updatetime:TIMESTAMP},
            #{creator:VARCHAR}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.marks.module.wx.qrcode.pojo.Qrcode">
 		UPDATE TB_WX_QRCODE 
		SET 
                QRNAME = #{qrName:VARCHAR},
                QRTYPE = #{qrType:VARCHAR},
                QRURL = #{qrUrl:VARCHAR},
                ACCOUNTID = #{accountid:VARCHAR},
                QRPATH = #{qrPath:VARCHAR},
                SCENETYPE = #{sceneType:VARCHAR},
                CREATETIME = #{createtime:TIMESTAMP},
                UPDATETIME = #{updatetime:TIMESTAMP},
                CREATOR = #{creator:VARCHAR}
		WHERE
			QRNO = #{qrNo}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_WX_QRCODE WHERE QRNO=#{qrNo}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.wx.qrcode.pojo.Qrcode">
 		SELECT * FROM TB_WX_QRCODE
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_WX_QRCODE WHERE QRNO in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.wx.qrcode.pojo.Qrcode" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_WX_QRCODE 
						WHERE 1=1
 and ( qrcode.QRNO LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        <if test="keyword!=null and keyword!=''">
                            or qrcode.QRNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or qrcode.QRTYPE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or qrcode.QRURL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or qrcode.ACCOUNTID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or qrcode.QRPATH LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or qrcode.SCENETYPE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or qrcode.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or qrcode.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or qrcode.CREATOR LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
 )
						
					
 	</select>
 	
 	
 	
</mapper>