<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cjmei.module.wx.wxautoreplay.dao.WxAutoReplayDao">

    <select id="findById" resultType="com.cjmei.module.wx.wxautoreplay.pojo.WxAutoReplay">
		SELECT * FROM TB_WX_AUTO_REPLAY wxautoreplay where wxautoreplay.CPARENTTYPE = #{cparentType}
 	</select>
 	
 	<insert id="save" parameterType="com.cjmei.module.wx.wxautoreplay.pojo.WxAutoReplay">
		<selectKey keyProperty="cparentType" resultType="String" order="BEFORE">select sys_guid() from dual</selectKey>

 		INSERT INTO TB_WX_AUTO_REPLAY wxautoreplay (
            wxautoreplay.CPARENTTYPE,
            wxautoreplay.CKEY,
            wxautoreplay.CREPLAY,
            wxautoreplay.CTYPE,
            wxautoreplay.CTYPENAME,
            wxautoreplay.ACCOUNTID,
            wxautoreplay.REPLAYTYPE,
            wxautoreplay.CREATETIME,
            wxautoreplay.UPDATETIME,
            wxautoreplay.CREATOR
		)
		VALUES(
            #{cparentType:VARCHAR},
            #{ckey:VARCHAR},
            #{creplay:VARCHAR},
            #{ctype:VARCHAR},
            #{ctypeName:VARCHAR},
            #{accountid:VARCHAR},
            #{replayType:VARCHAR},
            #{createtime:TIMESTAMP},
            #{updatetime:TIMESTAMP},
            #{creator:VARCHAR}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.cjmei.module.wx.wxautoreplay.pojo.WxAutoReplay">
 		UPDATE TB_WX_AUTO_REPLAY wxautoreplay
		SET 
                wxautoreplay.CKEY = #{ckey:VARCHAR},
                wxautoreplay.CREPLAY = #{creplay:VARCHAR},
                wxautoreplay.CTYPE = #{ctype:VARCHAR},
                wxautoreplay.CTYPENAME = #{ctypeName:VARCHAR},
                wxautoreplay.ACCOUNTID = #{accountid:VARCHAR},
                wxautoreplay.REPLAYTYPE = #{replayType:VARCHAR},
                wxautoreplay.CREATETIME = #{createtime:TIMESTAMP},
                wxautoreplay.UPDATETIME = #{updatetime:TIMESTAMP},
                wxautoreplay.CREATOR = #{creator:VARCHAR}
		WHERE
			wxautoreplay.CPARENTTYPE = #{cparentType}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_WX_AUTO_REPLAY wxautoreplay WHERE wxautoreplay.CPARENTTYPE=#{cparentType}
 	</delete>
 	
 	<select id="findAll" resultType="com.cjmei.module.wx.wxautoreplay.pojo.WxAutoReplay">
 		SELECT * FROM TB_WX_AUTO_REPLAY
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_WX_AUTO_REPLAY WHERE CPARENTTYPE in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.cjmei.module.wx.wxautoreplay.pojo.WxAutoReplay" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_WX_AUTO_REPLAY wxautoreplay
						WHERE 1=1
 and ( wxautoreplay.CPARENTTYPE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        <if test="keyword!=null and keyword!=''">
                            or wxautoreplay.CKEY LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxautoreplay.CREPLAY LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxautoreplay.CTYPE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxautoreplay.CTYPENAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxautoreplay.ACCOUNTID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxautoreplay.REPLAYTYPE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxautoreplay.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxautoreplay.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
                        <if test="keyword!=null and keyword!=''">
                            or wxautoreplay.CREATOR LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                        </if>
 )
					
					
 	</select>
 	
 	
 	
</mapper>