<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.marks.module.note.question.dao.QuestionDao">

    <select id="findById" resultType="com.marks.module.note.question.pojo.Question">
		SELECT * FROM TB_NOTE_QUESTION where ID = #{id}
 	</select>
 	
 	<insert id="save" parameterType="com.marks.module.note.question.pojo.Question">
		<selectKey keyProperty="id" resultType="String" order="BEFORE">select replace(uuid(),'-','')</selectKey>

 		INSERT INTO TB_NOTE_QUESTION (
            ID,
            LVL,
            LVLNAME,
            QUESTION,
            SOLUTION,
            LABELS,
            CREATEDATE,
            CREATETIME,
            UPDATETIME,
            CREATOR,
            UPDATER
		)
		VALUES(
            #{id:VARCHAR},
            #{lvl:NUMERIC},
            #{lvlName:VARCHAR},
            #{question:VARCHAR},
            #{solution:VARCHAR},
            #{labels:VARCHAR},
            #{createDate:VARCHAR},
            #{createtime:TIMESTAMP},
            #{updatetime:TIMESTAMP},
            #{creator:VARCHAR},
            #{updater:VARCHAR}
			
			)
 	</insert>
 	
 	<update id="update" parameterType="com.marks.module.note.question.pojo.Question">
 		UPDATE TB_NOTE_QUESTION 
		SET 
                LVL = #{lvl:NUMERIC},
                LVLNAME = #{lvlName:VARCHAR},
                QUESTION = #{question:VARCHAR},
                SOLUTION = #{solution:VARCHAR},
                LABELS = #{labels:VARCHAR},
                CREATEDATE = #{createDate:VARCHAR},
                CREATETIME = #{createtime:TIMESTAMP},
                UPDATETIME = #{updatetime:TIMESTAMP},
                CREATOR = #{creator:VARCHAR},
                UPDATER = #{updater:VARCHAR}
		WHERE
			ID = #{id}
 	</update>
 	
 	<delete id="delete" parameterType="String">
 		DELETE FROM TB_NOTE_QUESTION WHERE ID=#{id}
 	</delete>
 	
 	<select id="findAll" resultType="com.marks.module.note.question.pojo.Question">
 		SELECT * FROM TB_NOTE_QUESTION
 	</select>
 	
 	<delete id="deleteBatch" parameterType="java.util.List">
 		DELETE FROM TB_NOTE_QUESTION WHERE ID in 
 		<foreach collection="list" item="ids" index="index" open="(" separator="," close=")">
				#{ids}
		</foreach>
 	</delete>
 	
 	<select id="list" resultType="com.marks.module.note.question.pojo.Question" 
 	parameterType="java.util.Map">
 		SELECT  *
		  FROM   TB_NOTE_QUESTION 
						WHERE 1=1
                        <if test="keyword!=null and keyword!=''">
 and ( question.ID LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or question.LVL LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or question.LVLNAME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or question.QUESTION LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or question.SOLUTION LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or question.LABELS LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or question.CREATEDATE LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or question.CREATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or question.UPDATETIME LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or question.CREATOR LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
                            or question.UPDATER LIKE CONCAT(CONCAT('%',#{keyword:VARCHAR}),'%')
 )                        </if>

						
					
 	</select>
 	
 	
 	
</mapper>